.form-item-required {
  color: #FF0000;
}

#main-password-section {
  margin-top: 110px;
  margin-bottom: 50px;
}

#password-title {
  text-align: center;
  font-weight: bold;
  color: #4b02fc;
  margin-bottom: 10px;
}

#password-form {
  margin-top: 60px;
  margin-bottom: -40px;
}

#password-subtitle {
  text-align: center;
  color: #212121;
  margin-bottom: 25px;
}

@media only screen and (max-width: 768px) {
  #main-password-section {
    margin-top: 85px;
    margin-bottom: 10px;
  }
}
