<footer class="footer flex-fill">

  <div class="footer-middle">
    <div [ngClass]="containerClass">
      <div class="row">

        <div class="col-sm-6 col-lg-3">
          <div class="widget widget-about">
            <a routerLink="/">
              <img src="assets/images/logo-green.png" class="footer-logo" alt="Footer Logo" width="208"
                height="57">
            </a>
            <br>
            <h4 class="widget-title text-white">Tu Mejor Opción De Compra</h4>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="widget widget-about">
            <h4 class="widget-title">Línea De Soporte</h4>
            <div class="widget-call">
              <span>Las 24 Horas Del Día</span>
            </div>
            <div class="widget-call" id="phone-text">
              <a href="tel:9933472094">993 347 2094</a>
            </div>
            <div class="social-icons mt-4">
              <a href="https://www.facebook.com/profile.php?id=100090580084843" class="social-icon" title="Facebook" target="_blank" rel="noopener"><i class="fa-brands fa-facebook"></i></a>
              <a href="https://www.instagram.com/mx_daru" class="social-icon" title="Instagram" target="_blank" rel="noopener"><i class="fa-brands fa-instagram"></i></a>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="widget">
            <h4 class="widget-title">Sobre DARU</h4>
            <ul class="widget-list">
              <li><a routerLink="conocenos">¿Qui&eacute;nes Somos?</a></li>
              <!-- <li><a routerLink="services">Servicios</a></li> -->
              <li><a routerLink="comocomprar">¿C&oacute;mo Comprar?</a></li>
              <li><a routerLink="faq">Preguntas Y Respuestas</a></li>
              <li><a routerLink="terminos">T&eacute;rminos Y Condiciones</a></li>
              <li><a routerLink="contacto">Contacto</a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="widget">
            <h4 class="widget-title">Mi Cuenta</h4>
            <ul class="widget-list">
              <li><a routerLink="/dashboard">Ingresar</a></li>
              <li><a routerLink="/cart">Ver Carrito</a></li>
              <li><a routerLink="/wishlist">Mis Favoritos</a></li>
              <!-- <li><a href="javascript:;">Seguimiento de mi pedido</a></li> -->
              <!-- <li><a href="javascript:;">Ayuda</a></li> -->
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div [ngClass]="containerClass">
      <p class="text-bg-primary">Los Precios Ya Incluyen IVA.</p>
    </div>
  </div>

  <div class="footer-bottom">
    <div [ngClass]="containerClass">
      <p class="footer-copyright">Derechos Reservados © {{ year }} DARU.</p>
    </div>
  </div>

  <div class="mb-10" *ngIf="isBottomSticky"></div>
</footer>
