.footer-bottom .container,
.footer-bottom .container-fluid {
  background-color: #303030;
  padding-bottom: 0;
  padding-top: 0;
}

.footer-copyright {
  color: #fff;
  margin: 6px auto;
  font-size: 1.2rem;
}

.footer ul li a {
  color: #fff;
}

.widget-call a, .widget-call span {
  color: #fff;
}

.widget-list > li > a:hover, .widget-call a:hover {
  color: #00FF76 !important;
}

.story-box {
  padding: 0;
  height: 250px;
  width: 100%;
  display: table-cell;
  vertical-align: bottom;
}

.swipe-up {
  height: 20px;
  bottom: 10px;
  display: block;
  margin: auto;
}

.footer {
  background-color: #303030;
  margin-top: -1px;
}

.footer .widget-title {
  color: #00FF76;
}

//iconos sociales

.social-icon {
  background-color: #00FF76;
  color: #212121;
}

.footer .social-icon:hover,
.footer .social-icon:focus {
  background-color: #4b02fc;
  color: #fff;
}
