<footer class="footer">
  <!-- <section class="newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-8 col-lg-6">
                    <div class="cta-heading text-center">
                        <h3 class="cta-title text-white">Get The Latest Deals</h3>
                        <p class="cta-desc">and receive <span class="font-weight-normal">$20 coupon</span> for first shopping</p>
                    </div>

                    <form action="#">
                        <div class="input-group input-group-round">
                            <input type="email" class="form-control form-control-white" placeholder="Enter your Email Address" aria-label="Email Adress" required="">
                            <div class="input-group-append">
                                <button class="btn" type="submit">Subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section> -->

  <div class="footer-middle">
    <div [ngClass]="containerClass">
      <div class="row">

        <div class="col-sm-6 col-lg-3">
          <div class="widget widget-about">
            <a routerLink="/">
              <img src="assets/images/logocolor-footer.png" class="footer-logo" alt="Footer Logo" width="208" height="57">
            </a>
            <br>
            <h4 class="widget-title text-white">Tu mejor opción de compra</h4>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="widget widget-about">
            <h4 class="widget-title">Línea de soporte</h4>
            <div class="widget-call">
              <a>Las 24 horas del día</a>
            </div>
            <div class="widget-call">
                <a href="tel:#">+52 993 242 4002</a>
            </div>
              <div class="social-icons mt-5">
                <a href="javascript:;" class="social-icon" title="Facebook"><i class="fa-brands fa-facebook"></i></a>
                <a href="javascript:;" class="social-icon" title="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="javascript:;" class="social-icon" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
                <a href="javascript:;" class="social-icon" title="Youtube"><i class="fa-brands fa-youtube"></i></a>
              </div>
            </div>
          </div>

       <!--<div class="col-sm-6 col-lg-3">
          <div class="widget story-box" id="story">
            <figure>
              <img class="swipe-up" src="assets/images/payments.png" />
            </figure>
          </div>
           <div class="widget footerbotton">
            <figure>
              <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
            </figure>
          </div>
        </div>-->

        <div class="col-sm-6 col-lg-3">
          <div class="widget">
            <h4 class="widget-title">Sobre DARU</h4>
            <ul class="widget-list">
              <li><a routerLink="about">Quienes Somos</a></li>
              <!-- <li><a routerLink="services">Servicios</a></li> -->
              <li><a routerLink="howtobuy">Cómo comprar</a></li>
              <li><a routerLink="faq">Preguntas y Respuestas</a></li>
              <li><a routerLink="faq">Términos y condiciones</a></li>
              <li><a routerLink="contact">Contacto</a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="widget">
            <h4 class="widget-title">Mi cuenta</h4>
            <ul class="widget-list">
              <li><a routerLink="/shop/dashboard">Ingresar</a></li>
              <li><a routerLink="/shop/cart">Ver Carrito</a></li>
              <li><a routerLink="/shop/wishlist">Mis favoritos</a></li>
              <li><a href="javascript:;">Seguimiento de mi pedido</a></li>
              <li><a href="javascript:;">Ayuda</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div [ngClass]="containerClass">
      <p class="footer-copyright">Copyright © {{ year }} DARU.</p>
    </div>
  </div>

  <div class="mb-10" *ngIf="isBottomSticky"></div>
</footer>
