.footer-bottom .container,
.footer-bottom .container-fluid {
  background-color: #333;
  padding-bottom: 0;
  padding-top: 0;
}

.footer-copyright {
  color: #fff;
  margin-top: 0;
  font-size: 1rem;
}

.footer ul li a {
  color: #fff;
}

.widget-call a {
  color: #fff;
}

.story-box {
  padding: 0;
  height: 250px;
  width: 100%;
  display: table-cell;
  vertical-align: bottom;
}

.swipe-up {
  height: 20px;
  bottom: 10px;
  display: block;
  margin: auto;
}

.footer {
  background-color: #333333;
}

.footer .widget-title {
  color: #4b02fc;
}

//iconos sociales

.social-icon {
  background-color: #5bef97;
  color: #4b02fc;
}

.footer .social-icon:hover,
.footer .social-icon:focus {
  background-color: #4b02fc;
  color: #fff;
}
