<main class="main">
  <app-page-header title="Resuelve tus Dudas!" subtitle="" image="assets/images/banners/banner-how_to_buy.jpg"></app-page-header>

  <nav class="breadcrumb-nav border-0 mb-0">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a [attr.href]="previousPageUrl" [innerHTML]="previousPageTitle"></a>
        </li>
        <li class="breadcrumb-item active">{{ pageTitle }}</li>
      </ol>
    </div>
  </nav>

  <div class="page-content">
    <div class="container">
      <div *ngFor="let faqs of faqGroups;let i = index">
        <!-- <h2 class="title-about text-center mb-3">{{ faqs.title }}</h2> -->
        <app-accordion [adClass]="faqs.items[0].adClass" [accordionID]="'accordion' + (1 + i)">
          <app-card *ngFor="let card of faqs.items[0].cards; let isFirst = first" [adClass]="faqs.items[0].cardAclass"
            [title]="card.title" [parent]="'accordion' + (1 + i)" [show]="isFirst && ! i ? true : false">
            {{ card.body }}
          </app-card>
        </app-accordion>
      </div>
    </div>
  </div>

  <div class="cta cta-display bg-image pt-4 pb-4"
    style="background-image: url(assets/images/banners/banner-how_to_buy.jpg)">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-9 col-xl-7">
          <div class="row no-gutters flex-sm-row align-items-sm-center">
            <div class="col-12 col-sm">
              <strong>
                <h3 class="cta-title text-light">Si tienes más preguntas. Puedes consultarnos</h3>
              </strong>
            </div>
            <div class="col-auto">
              <a routerLink="/contact" class="btn btn-outline-white"><strong><span>CONTACTANOS</span><i
                    class="icon-long-arrow-right"></i></strong></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
