<main class="main home-page skeleton-body">
  <div class="intro-slider-container mb-5">
    <owl-carousel carouselClasses="intro-slider owl-theme owl-simple owl-nav-inside owl-light" [options]="introSlider">
      <div class="intro-slide" style="background-image: url('assets/images/home/sliders/slide-1.jpg')">
        <div class="container intro-content">
          <div class="row justify-content-end">
            <div class="col-auto col-sm-7 col-md-6 col-lg-5" contentAnim aniName="fadeInUpShorter">
              <h3 class="intro-subtitle text-third">Promociones 1</h3>
              <h1 class="intro-title">Producto</h1>
              <h1 class="intro-title">Descripcion</h1>

              <div class="intro-price">
                <sup class="intro-old-price">$999.99</sup>
                <span class="text-third">
                  $777<sup>.99</sup>
                </span>
              </div>

              <a routerLink="/" class="btn btn-primary btn-round">
                <span>Ver más ofertas</span>
                <i class="icon-long-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="intro-slide" style="background-image: url('assets/images/home/sliders/slide-2.jpg')">
        <div class="container intro-content">
          <div class="row justify-content-end">
            <div class="col-auto col-sm-7 col-md-6 col-lg-5" contentAnim aniName="fadeInUpShorter">
              <h3 class="intro-subtitle text-primary">Producto 2</h3>
              <h1 class="intro-title">Nombre <br>Descripcion </h1>

              <div class="intro-price">
                <sup>Hoy:</sup>
                <span class="text-primary">
                  $999<sup>.99</sup>
                </span>
              </div>

              <a routerLink="/" class="btn btn-primary btn-round">
                <span>Ver más ofertas</span>
                <i class="icon-long-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="intro-slide" style="background-image: url('assets/images/home/sliders/slide-3.png')">
        <div class="container intro-content">
          <div class="row justify-content-end">
            <div class="col-auto col-sm-7 col-md-6 col-lg-5" contentAnim aniName="fadeInUpShorter">
              <h3 class="intro-subtitle text-third">Promociones</h3>
              <h1 class="intro-title">Producto 3</h1>
              <h1 class="intro-title">Descripcion</h1>

              <div class="intro-price">
                <sup class="intro-old-price">$999.99</sup>
                <span class="text-third">
                  $777<sup>.99</sup>
                </span>
              </div>

              <a routerLink="/" class="btn btn-primary btn-round">
                <span>Ver más ofertas</span>
                <i class="icon-long-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="intro-slide" style="background-image: url('assets/images/home/sliders/slide-4.png')">
        <div class="container intro-content">
          <div class="row justify-content-end">
            <div class="col-auto col-sm-7 col-md-6 col-lg-5" contentAnim aniName="fadeInUpShorter">
              <h3 class="intro-subtitle text-primary">Producto 4</h3>
              <h1 class="intro-title">Nombre <br>Descripcion </h1>

              <div class="intro-price">
                <sup>Hoy:</sup>
                <span class="text-primary">
                  $999<sup>.99</sup>
                </span>
              </div>

              <a routerLink="/" class="btn btn-primary btn-round">
                <span>Ver más ofertas</span>
                <i class="icon-long-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="intro-slide" style="background-image: url('assets/images/home/sliders/slide-5.png')">
        <div class="container intro-content">
          <div class="row justify-content-end">
            <div class="col-auto col-sm-7 col-md-6 col-lg-5" contentAnim aniName="fadeInUpShorter">
              <h3 class="intro-subtitle text-third">Promociones</h3>
              <h1 class="intro-title">Producto 5</h1>
              <h1 class="intro-title">Descripcion</h1>

              <div class="intro-price">
                <sup class="intro-old-price">$999.99</sup>
                <span class="text-third">
                  $777<sup>.99</sup>
                </span>
              </div>

              <a routerLink="/" class="btn btn-primary btn-round">
                <span>Ver más ofertas</span>
                <i class="icon-long-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="intro-slide" style="background-image: url('assets/images/home/sliders/slide-6.png')">
        <div class="container intro-content">
          <div class="row justify-content-end">
            <div class="col-auto col-sm-7 col-md-6 col-lg-5" contentAnim aniName="fadeInUpShorter">
              <h3 class="intro-subtitle text-primary">Producto 6</h3>
              <h1 class="intro-title">Nombre <br>Descripcion </h1>

              <div class="intro-price">
                <sup>Hoy:</sup>
                <span class="text-primary">
                  $999<sup>.99</sup>
                </span>
              </div>

              <a routerLink="/" class="btn btn-primary btn-round">
                <span>Ver más ofertas</span>
                <i class="icon-long-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div> -->

    </owl-carousel>
  </div>

  <div class="mb-4"></div>

  <div class="container">
    <div class="row justify-content-center">
      <div *ngFor="let sale of saleProducts3" class="col-md-6 col-lg-4">
        <div class="banner banner-overlay banner-overlay-light" contentAnim aniName="fadeInLeftShorter">
          <a [routerLink]="['/product/default/' + sale.id]">
            <app-image [src]="SERVER_URL + sale.sm_pictures[0].url" alt="Banner" fixedPt="160px"></app-image>
          </a>
          <div class="banner-content">
            <h4 class="banner-subtitle"><a [routerLink]="['/product/default' + sale.id]"> {{ sale.name }}</a></h4>
            <h3 class="banner-title"><a [routerLink]="['/product/default' + sale.id]">Por {{sale.sale_price}} <strong>
                  antes <br> {{ sale.price }}</strong></a></h3>
            <a [routerLink]="['/product/default' + sale.id]" class="banner-link">Compra ahora<i
                class="icon-long-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-3"></div>

  <app-new-collection [products]="newProducts" [loaded]="loaded"></app-new-collection>


  <div class="container">
    <div class="heading text-center mb-3" contentAnim aniName="blurIn">
      <h2 class="title">Ofertas & Outlet</h2>
      <p class="title-desc">Ofertas de hoy y más!!!</p>
    </div>

    <div *ngIf="existSaleToday" class="container" contentAnim>
      <div class="cta cta-border mb-5" style="background-image: url('assets/images/home/bg-1.jpg')">
        <img src="assets/images/home/camera.png" alt="camera" class="cta-img">
        <div class="row justify-content-center">

          <div class="col-md-12">
            <div class="cta-content d-flex">
              <div class="cta-text text-right text-white">
                <p>Ofertas de hoy<br><strong>{{saleToday.name}}</strong></p>
              </div>
              <a [routerLink]="['/product/default' + saleToday.id]" class="btn btn-primary btn-round"><span>Compra ahora -
                  {{saleToday.sale_price}}</span><i class="icon-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 deal-col" contentAnim aniName="fadeInRightShorter">
        <div class="deal" style="background-image: url('assets/images/home/deals/bg-1.jpg')">
          <div class="deal-top">
            <h2>Oferta del Día.</h2>
            <h4>Cantidades limitadas. </h4>
          </div>

          <div class="deal-content">
            <h3 class="product-title"><a routerLink="/product/default/brown-faux-fur-longline-coat">Mouse</a></h3>

            <div class="product-price">
              <span class="new-price">$310.00</span>
              <span class="old-price">Estaba en $190.00</span>
            </div>

            <a routerLink="/shop/sidebar/list" class="btn btn-link"><span>Comprar ahora</span><i
                class="icon-long-arrow-right"></i></a>
          </div>

          <div class="deal-bottom">
            <!-- <app-count-down until="+10h" wrap="deal-countdown" format="HMS" [labelsShort]="true"></app-count-down> -->
          </div>
        </div>
      </div>
      <div class="col-lg-6" contentAnim aniName="fadeInLeftShorter">
        <div class="deal" style="background-image: url('assets/images/home/deals/bg-2.jpg')">
          <div class="deal-top">
            <h2>Ofertas Exclusivas.</h2>
            <h4>Regístrate para ver mejores ofertas.</h4>
          </div>

          <div class="deal-content">
            <h3 class="product-title"><a routerLink="/product/default/microsoft-refurbish-xbox-one-s-500gb">Microsoft –
                Refurbish Xbox One S 500GB</a></h3>

            <div class="product-price">
              <span class="new-price">$5,329.99</span>
            </div>

            <a routerLink="/shop/sidebar/list" class="btn btn-link"><span>Inicia sesión y ahorra dinero.</span><i
                class="icon-long-arrow-right"></i></a>
          </div>

          <div class="deal-bottom">
            <!-- <app-count-down until="+10h" wrap="deal-countdown" format="HMS" [labelsShort]="true"></app-count-down> -->
          </div>
        </div>
      </div>
    </div>

    <div class="more-container text-center mt-1 mb-5">
      <a routerLink="/shop/sidebar/list" class="btn btn-outline-dark-2 btn-round btn-more"><span>Ver más ofertas de
          Outlet</span><i class="icon-long-arrow-right"></i></a>
    </div>
  </div>

  <div class="container">
    <h2 class="title text-center mb-4" contentAnim aniName="blurIn">Gamers</h2>

    <div class="cat-blocks-container" contentAnim>
      <div class="row">
        <div class="col-6 col-sm-4 col-lg-2">
          <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'gamers'}" class="cat-block">
            <figure>
              <span>
                <img src="assets/images/home/cats/1.png" width="131" height="76" alt="Category image">
              </span>
            </figure>

            <h3 class="cat-block-title">Juegos</h3>
          </a>
        </div>

        <div class="col-6 col-sm-4 col-lg-2">
          <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'laptops'}" class="cat-block">
            <figure>
              <span>
                <img src="assets/images/home/cats/2.png" width="111" height="64" alt="Category image">
              </span>
            </figure>

            <h3 class="cat-block-title">Laptops</h3>
          </a>
        </div>

        <div class="col-6 col-sm-4 col-lg-2">
          <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'monitores'}" class="cat-block">
            <figure>
              <span>
                <img src="assets/images/home/cats/3.png" width="54" height="86" alt="Category image">
              </span>
            </figure>

            <h3 class="cat-block-title">Monitores</h3>
          </a>
        </div>

        <div class="col-6 col-sm-4 col-lg-2">
          <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'teclados'}" class="cat-block">
            <figure>
              <span>
                <img src="assets/images/home/cats/4.png" width="124" height="81" alt="Category image">
              </span>
            </figure>

            <h3 class="cat-block-title">Teclados</h3>
          </a>
        </div>

        <div class="col-6 col-sm-4 col-lg-2">
          <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'sillas'}" class="cat-block">
            <figure>
              <span>
                <img src="assets/images/home/cats/5.png" width="88" height="53" alt="Category image">
              </span>
            </figure>

            <h3 class="cat-block-title">Sillas</h3>
          </a>
        </div>

        <div class="col-6 col-sm-4 col-lg-2">
          <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'ratones'}" class="cat-block">
            <figure>
              <span>
                <img src="assets/images/home/cats/6.png" width="71" height="85" alt="Category image">
              </span>
            </figure>

            <h3 class="cat-block-title">Ratones</h3>
          </a>
        </div>
      </div>
    </div>
  </div>

  <hr class="mb-0">

  <div class="container" contentAnim>
    <h2 class="title text-center mb-4" contentAnim aniName="blurIn">Marcas más vendidas</h2>
    <owl-carousel carouselClasses="brands-border mt-3 mb-3 owl-simple owl-theme" [options]="brandSlider">
      <a routerLink="/shop/sidebar/3cols" [queryParams]="{brand: 'apple'}" class="brand">
        <img src="assets/images/brands/1.png" alt="Brand Name">
      </a>

      <a routerLink="/shop/sidebar/3cols" [queryParams]="{brand: 'dell'}" class="brand">
        <img src="assets/images/brands/2.png" alt="Brand Name">
      </a>

      <a routerLink="/shop/sidebar/3cols" [queryParams]="{brand: 'hp'}" class="brand">
        <img src="assets/images/brands/3.png" alt="Brand Name">
      </a>

      <a routerLink="/shop/sidebar/3cols" [queryParams]="{brand: 'microsoft'}" class="brand">
        <img src="assets/images/brands/4.png" alt="Brand Name">
      </a>

      <a routerLink="/shop/sidebar/3cols" [queryParams]="{brand: 'lenovo'}" class="brand">
        <img src="assets/images/brands/5.png" alt="Brand Name">
      </a>

      <a routerLink="/shop/sidebar/3cols" [queryParams]="{brand: 'samsung'}" class="brand">
        <img src="assets/images/brands/6.png" alt="Brand Name">
      </a>

      <a routerLink="/shop/sidebar/3cols" [queryParams]="{brand: 'bose'}" class="brand">
        <img src="assets/images/brands/7.png" alt="Brand Name">
      </a>
    </owl-carousel>
  </div>

  <app-trendy-collection [products]="topProducts" [loaded]="loaded"></app-trendy-collection>

  <div class="mb-5"></div>

  <app-recommend-collection [products]="products" [loaded]="loaded"></app-recommend-collection>

  <div class="container">
    <hr class="mb-0">
  </div>

  <div class="icon-boxes-container bg-transparent">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-3" contentAnim aniName="fadeInLeftShorter">
          <div class="icon-box icon-box-side">
            <span class="icon-box-icon text-dark">
              <i class="icon-rocket"></i>
            </span>
            <div class="icon-box-content">
              <h3 class="icon-box-title">Aviso 1</h3>
              <p>Detalles del aviso</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3" contentAnim aniName="fadeInLeftShorter">
          <div class="icon-box icon-box-side">
            <span class="icon-box-icon text-dark">
              <i class="icon-rotate-left"></i>
            </span>

            <div class="icon-box-content">
              <h3 class="icon-box-title">Aviso 1</h3>
              <p>Detalles del aviso</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3" contentAnim aniName="fadeInRightShorter">
          <div class="icon-box icon-box-side">
            <span class="icon-box-icon text-dark">
              <i class="icon-info-circle"></i>
            </span>

            <div class="icon-box-content">
              <h3 class="icon-box-title">Aviso 1</h3>
              <p>Detalles del aviso</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3" contentAnim aniName="fadeInRightShorter">
          <div class="icon-box icon-box-side">
            <span class="icon-box-icon text-dark">
              <i class="icon-life-ring"></i>
            </span>

            <div class="icon-box-content">
              <h3 class="icon-box-title">Aviso 1</h3>
              <p>Detalles del aviso</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cta bg-image bg-dark pt-4 pb-5 mb-0" style="background-image: url('assets/images/home/bg-5.jpg')">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-6">
          <div class="cta-heading text-center">
            <!-- <h3 class="cta-title text-white">Obtenga las últimas ofertas</h3> -->
            <h3 class="cta-title">Obtenga las últimas ofertas</h3>
            <p class="cta-desc">y recibe <span class="font-weight-normal">un cupón de 10%</span> por primera
              compra</p>
          </div>

          <form action="#">
            <div class="input-group input-group-round">
              <input type="email" class="form-control form-control-white border-0"
                placeholder="Ingresa tu correo electrónico" aria-label="Email Adress" required>
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit"><span>Suscribir</span><i
                    class="icon-long-arrow-right"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</main>
