<div class="main">
  <app-page-header title="Categor&iacute;as Principales de Productos" subtitle=""
    image="assets/images/banners/banner-category.jpg"></app-page-header>

  <nav class="breadcrumb-nav breadcrumb-with-filter">
    <div class="container">
      <button class="sidebar-toggler" (click)="toggleSidebar()">
        <i class="icon-bars"></i>Filtros
      </button>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="[]" [queryParams]="queryParams" [innerHTML]="previousPageTitle"></a>
        </li>
        <li class="breadcrumb-item active">{{ pageTitle }}</li>
      </ol>
    </div>
  </nav>

  <div class="page-content">
    <div class="categories-page">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="banner banner-cat banner-badge">
              <a routerLink="/categoria/list" [queryParams]="{category: 'accesorios-gaming'}">
                <app-image src="assets/images/home/products/1.jpg" width="580" height="580" alt="Banner">
                </app-image>
              </a>

              <a class="banner-link" routerLink="/categoria/list" [queryParams]="{category: 'accesorios-gaming'}">
                <h3 class="banner-title">Accesorios Gaming</h3>
                <h4 class="banner-subtitle"># Productos</h4>
                <span class="banner-link-text">Comprar Ahora</span>
              </a>
            </div>

            <div class="banner banner-cat banner-badge">
              <a routerLink="/categoria/list" [queryParams]="{category: 'computadoras'}">
                <app-image src="assets/images/home/products/2.jpg" width="580" height="280" alt="Banner">
                </app-image>
              </a>

              <a class="banner-link" routerLink="/categoria/list" [queryParams]="{category: 'computadoras'}">
                <h3 class="banner-title">Computadoras</h3>
                <h4 class="banner-subtitle"># Productos</h4>
                <span class="banner-link-text">Comprar Ahora</span>
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-sm-6">
                <div class="banner banner-cat banner-badge">
                  <a routerLink="/categoria/list" [queryParams]="{category: 'computadoras-gaming'}">
                    <app-image src="assets/images/home/products/3.jpg" width="280" height="280" alt="Banner">
                    </app-image>
                  </a>

                  <a class="banner-link" routerLink="/categoria/list"
                    [queryParams]="{category: 'computadoras-gaming'}">
                    <h3 class="banner-title">Computadoras Gaming</h3>
                    <h4 class="banner-subtitle"># Productos</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="banner banner-cat banner-badge">
                  <a routerLink="/categoria/list" [queryParams]="{category: 'almacenamiento-portatil'}">
                    <app-image src="assets/images/home/products/4.jpg" width="280" height="280" alt="Banner">
                    </app-image>
                  </a>

                  <a class="banner-link" routerLink="/categoria/list"
                    [queryParams]="{category: 'almacenamiento-portatil'}">
                    <h3 class="banner-title">Almacenamiento Portatil</h3>
                    <h4 class="banner-subtitle"># Productos</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a>
                </div>
              </div>
            </div>

            <div class="banner banner-cat banner-badge">
              <a routerLink="/categoria/list" [queryParams]="{category: 'perifericos-para-pos'}">
                <app-image src="assets/images/home/products/5.jpg" width="580" height="580" alt="Banner">
                </app-image>
              </a>

              <a class="banner-link" routerLink="/categoria/list"
                [queryParams]="{category: 'perifericos-para-pos'}">
                <h3 class="banner-title">Perifericos para POS</h3>
                <h4 class="banner-subtitle"># Productos</h4>
                <span class="banner-link-text">Comprar Ahora</span>
              </a>
            </div>
          </div>

          <div class="col-sm-6 col-md-3">
            <div class="banner banner-cat banner-badge">
              <a routerLink="/categoria/list" [queryParams]="{category: 'redes'}">
                <app-image src="assets/images/home/products/6.jpg" width="280" height="280" alt="Banner">
                </app-image>
              </a>

              <a class="banner-link" routerLink="/categoria/list" [queryParams]="{category: 'redes'}">
                <h3 class="banner-title">Redes</h3>
                <h4 class="banner-subtitle"># Productos</h4>
                <span class="banner-link-text">Comprar Ahora</span>
              </a>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 order-md-last">
            <div class="banner banner-cat banner-badge">
              <a routerLink="/categoria/list" [queryParams]="{category: 'seguridad'}">
                <app-image src="assets/images/home/products/8.jpg" width="280" height="280" alt="Banner">
                </app-image>
              </a>

              <a class="banner-link" routerLink="/categoria/list" [queryParams]="{category: 'seguridad'}">
                <h3 class="banner-title">Seguridad</h3>
                <h4 class="banner-subtitle"># Productos</h4>
                <span class="banner-link-text">Comprar Ahora</span>
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="banner banner-cat banner-badge">
              <a routerLink="/categoria/list" [queryParams]="{category: 'almacenamiento'}">
                <app-image src="assets/images/home/products/7.jpg" width="580" height="280" alt="Banner">
                </app-image>
              </a>

              <a class="banner-link" routerLink="/categoria/list" [queryParams]="{category: 'almacenamiento'}">
                <h3 class="banner-title">Almacenamiento</h3>
                <h4 class="banner-subtitle"># Productos</h4>
                <span class="banner-link-text">Comprar Ahora</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sidebar-filter-overlay" (click)="hideSidebar()"></div>
    <app-shop-sidebar-two></app-shop-sidebar-two>
  </div>
</div>
