.countdown-period {
  color: white !important;
}

.countdown-amount {
  color: white !important;
}

.countdown-row {
  width: 90% !important;
  max-width: 100% !important;
}

.coming-countdown {
  width: 90% !important;
  max-width: 100% !important;
}

.countdown-separator {
  width: 90% !important;
  max-width: 100% !important;
}
