@media screen and (min-width: 992px) {
    .sidebar {
        position: sticky;
        top: 80px;
    }
}

.sidebar-filter-clear {
  text-transform: capitalize;
  margin-left: auto;
  background-color: transparent;
  color: darkblue;

  &:hover,
  &:focus {
    color: blue;
    font-weight: 800;
  }
}

.sidebar-shop .widget {
  padding-bottom: 2.5rem;
  margin-bottom: 3rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  height: 300px;
  overflow-y: auto;
}

.filter-item a {
  color: #212121;
  font-size: larger;
}

@media only screen and (min-width: 2200px) {
  .sidebar-shop .widget {
    overflow-y: auto;
    margin-bottom: 6rem;
  }

  .filter-item a {
    color: #212121;
    font-size: 2.3rem;
  }

  .filter-item a:hover {
    color: #4b02fc;
  }

  .filter-item:hover {
    color: #00FF76;
  }

  #widget-2 {
    overflow-x: hidden;
  }
}