<div class="bg-light pt-5 pb-5">
    <div class="container trending-products">
        <div class="heading heading-flex mb-3">
            <div class="heading-left">
                <h2 class="title" contentAnim aniName="blurIn">Productos más buscados</h2>
            </div>

           <div class="heading-right">
                <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist" tabClick>
                    <li class="nav-item">
                        <a class="nav-link active" href="javascript:;" role="tab" (click)="nav.select('rated')">Más buscados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:;" role="tab" (click)="nav.select('featured')">Más vendidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:;" role="tab" (click)="nav.select('sale')">Ofertas</a>
                    </li>
                </ul>
           </div>
        </div>

        <div class="row">
            <div class="col-xl-5col d-none d-xl-block">
                <div class="banner">
                    <a routerLink="/shop/sidebar/list">
                        <app-image src="assets/images/home/banners/banner-4.jpg" alt="banner" fixedPt="358px"></app-image>
                    </a>
                </div>
            </div>

            <div class="col-xl-4-5col">
                <ul ngbNav #nav="ngbNav" class="just-action-icons-sm tab-content-carousel" [destroyOnHide]="false">
                    <li [ngbNavItem]="attr" *ngFor="let attr of attrs">
                        <ng-template ngbNavContent>
                            <owl-carousel carouselClasses="owl-full carousel-equal-height carousel-with-shadow" [options]="sliderOption" *ngIf="!loaded else elseBlock">
                                <div class="skel-pro" *ngFor="let item of [1,2,3,4,5]"></div>
                            </owl-carousel>
                            <ng-template #elseBlock>
                                <owl-carousel carouselClasses="owl-full carousel-equal-height carousel-with-shadow" [options]="sliderOption">
                                    <app-product-twelve *ngFor="let product of products | attrFilter : attr " [product]="product"></app-product-twelve>
                                </owl-carousel>
                            </ng-template>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav"></div>
            </div>
        </div>
    </div>
</div>
