<main class="main">
  <app-page-header title="El Respaldo de Tus Compras!" subtitle=""
    image="assets/images/banners/banner-terms.jpg"></app-page-header>

  <nav class="breadcrumb-nav border-0 mb-0">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/about">Empresa</a>
        </li>
        <li class="breadcrumb-item active">T&eacute;rminos y Condiciones</li>
      </ol>
    </div>
  </nav>

  <div class="page-content">
    <div class="container">
      <!-- <strong class="title text-center mb-3">T&eacute;rminos y Condiciones</strong> -->
      <app-accordion adClass="accordion-rounded accordion-plus" accordionID="accordion-1">
        <app-card adClass="card-box card-sm bg-light" title="Términos y Condiciones" parent="accordion-1" [show]="true">
          <p><strong>Resumen</strong></p>
          <p>
            Este sitio web con dominio www.daru.mx es operado por Daru Innovacion S. de R.L. de C.V.. A lo largo de la
            presente declaración de TÉRMINOS DEL SERVICIO se mencionará "nosotros", "nuestro" o “DARU” refiriéndose a
            Daru Innovacion S. de R.L. de C.V., quien ofrece este sitio web, incluyendo toda la información,
            herramientas y servicios disponibles para el usuario, condicionando la aceptación de todos los términos,
            condiciones, políticas y avisos aquí establecidos.
          </p>
          <p>Al visitar nuestro sitio y/o comprar un artículo con nosotros, el usuario / cliente participa en nuestro
            "SERVICIO" y acepta estar sujeto a nuestros “TÉRMINOS DEL SERVICIO”, incluidos términos y condiciones
            adicionales, así como las políticas disponibles mediante cualquier hipervínculo dentro de nuestro sitio web.
            Estos TÉRMINOS DEL SERVICIO se aplican a todos los usuarios del sitio, incluidos sin limitación, usuarios
            que son navegadores, vendedores, proveedores, clientes, comerciantes y/o contribuidores de contenido.</p>
          <p>Por favor, revise cuidadosamente la presente información antes de navegar en nuestro sitio web. Al acceder
            o utilizar cualquier parte de nuestro sitio web, el usuario acepta estar sujeto a los TÉRMINOS DEL SERVICIO.
            Si no está de acuerdo con todos los términos y condiciones expresados en nuestro sitio web, entonces no
            deberá acceder al sitio, ni utilizar ningún servicio.</p>
          <p>Las nuevas características o herramientas que se agreguen al sitio web actual también estarán sujetas a los
            TÉRMINOS DEL SERVICIO. Siempre que el usuario lo desee, podrá revisar la versión actualizada en esta página.
            Nos reservamos el derecho de actualizar, cambiar o reemplazar cualquier parte de nuestros términos,
            condiciones o políticas mediante la publicación de actualizaciones y/o cambios en nuestro sitio web. Es
            responsabilidad del usuario revisar esta página periódicamente para ver si hay cambios. Su uso continuo o
            acceso al sitio web después de la publicación de cualquier cambio constituye la aceptación de estos.</p>
          <p></p>
          <p id="pagos"><strong>Formas de pago</strong></p>
          <p>Hacemos uso de la pasarela de pagos de <strong>Openpay</strong> en la plataforma.</p>
          <p>Ingresa los datos bancarios de tu tarjeta de crédito o debito (VISA, MASTERCARD, AMEX) <br>
            En esta opción, no se hace ningún cobro hasta que confirmes tu proceso de compra en el último paso.</p>
          <p>
            Depósito Bancario (en ventanilla) o Transferencia Interbancaria (desde el portal de tu banco):<br>
            Una vez hecho el depósito o la transferencia, favor de enviar el comprobante al correo: facturacion@daru.mx
          </p>
          <p>
            BBVA (BANCOMER) PESOS<br>
            NOMBRE: DARU INNOVACION S DE RL DE CV<br>
            CUENTA: 0120146994<br>
            No. CLABE: 012180001201469946<br>
            Concepto o Referencia: Numero de pedido asignado por la plataforma.
          </p>
          <p>
            Si la transferencia es entre cuentas BBVA el tiempo de aplicación del pago es de 12 horas, en caso de que
            sea entre distintos bancos el tiempo de aplicación es de 24 horas.
            <br>
            <em>Hay excepciones donde el tiempo de aplicación podría tardar entre 24-48 horas, algunas de las
              excepciones son:</em>
          </p>
          <ul>
            <li>El cliente olvidó poner el concepto o referencia del pedido.</li>
            <li>El banco pudiera revisar la transacción tomando medidas de antifraude.</li>
          </ul>
          <p><strong>Facturación</strong></p>
          <p>
            Todos nuestros pedidos son facturados (como venta en general). En caso de que requieras una factura con tus
            datos fiscales, te pedimos puedas enviarnos un correo a facturacion@daru.mx e incluir tu constancia de
            situación fiscal junto con tu número de pedido.<br>
            Cuando tu factura esté lista, te enviaremos un correo con tu PDF y XML.<br>
            Para cualquier aclaración o cancelación tienes 5 días hábiles a partir de la fecha querecibes tu PDF y XML.
          <p><strong>Garantía:</strong></p>
          <p>
            Es importante mencionar que todos los productos adquiridos en daru.mx cuentan con al menos un año de
            garantía. Aconsejamos a nuestros clientes revisar cuántos años de garantía tienen los productos a
            comprar.<br>
            En daru.mx manejamos diferentes marcas dentro de nuestro catálogo de productos. Respetando los procesos de
            garantía de cada una de las marcas, cualquier trámite de garantía será asistido por un personal de nuestro
            departamento de seguimiento a clientes, el cual te guiará para ingresar tu equipo o producto al centro de
            servicio autorizado por la marca.<br>
            <strong>Reporte de garantía</strong><br>
            Para iniciar el reporte de garantía es necesario enviar un correo electrónico a garantias@daru.mx con los
            siguientes datos:<br>
          </p>
          <ul>
            <li>Número del pedido o de compra.</li>
            <li>Número de serie del equipo o producto.</li>
            <li>Descripción de la falla del producto.</li>
            <li>Video o fotografía del producto donde se presente la falla.</li>
          </ul>
          <p>
            En un lapso no mayor a 72 horas nuestro personal de seguimiento a clientes se pondrá en contacto contigo
            mediante correo electrónico para darte las instrucciones para tramitar tu garantía.<br>
            Hacemos mención que Daru Innovación no tiene injerencia en el veredicto de la garantía, ya que la marca es
            la que decide si es válida o no la garantía.<br>
            El tiempo de respuesta de una garantía suele demorar entre 7 a 15 días dependiendo los procesos de
            validación de cada una de las marcas.<br>
            Es importante presentar la nota de venta o factura de tu equipo cuando ingreses tu equipo al Centro de
            Servicio Autorizado.
          </p>
          <br>
          <p id="devolucion"><strong>Devolución:</strong></p>
          <p>
            El cliente tiene 3 días hábiles después de haber recibido su producto para hacer devolución de este. Una vez
            pasando los 3 días hábiles, no procederá el proceso de devolución.<br>
            No se aplica devoluciones en las siguientes condiciones:
          <ul>
            <li>En software o licenciamientos.</li>
            <li>En toner, cartucho o cintas (consumibles).</li>
            <li>Si el producto se encuentra abierto.</li>
            <li>En producto solicitado sobre pedido o en artículos en liquidación.</li>
            <li>En caso de que el empaque o caja del producto se encuentre con algún daño.</li>
            <li>En productos de remate.</li>
            <li>En productos que cuenten con promoción.</li>
          </ul>
          <strong>Procesos para iniciar el proceso de devolución:</strong><br>
          - Deberá enviar un correo a: garantias@daru.mx con su número de pedido y el motivo por el cual está haciendo
          la devolución del producto o de su compra.<br>
          - Deberá enviar su devolución a:<br>
          Av. de los Insurgentes Sur 601, Nápoles, Benito Juárez, 03810 Ciudad de México, CDMX.<br>
          El envío del producto corre por cuenta del cliente. Le pedimos amablemente que anexe al paquete su nota de
          ventao factura.<br>
          - En cuanto recibamos su correo y su paquete, nos pondremos en contacto con usted vía correo electrónico para
          confirmarle la reposición de su dinero.
          <p><strong>Cancelación:</strong></p>
          <p>
            - Cualquier producto, a excepción de una licencia electrónica, no podrá ser cancelado.<br>
            - No se permiten cancelaciones si tu pedido sale del almacén.<br>
            - Si el pago ya fue efectuado y el pedido no ha sido liberado, puedes contactarnos y solicitar tu
            cancelación. Nos pondremos en contacto contigo para la devolución de tu dinero.
          </p>
          <br>
          <p id="envios"><strong>Envíos:</strong></p>
          <p>
            Daru.mx, a través de sus proveedores de mensajería, tiene presencia en los 32 estados de la república.<br>
            Para tener transparencia total en los costos de nuestros productos, mostramos el costo de envío en cada uno
            de ellos (en caso de que solo requieras comprar un producto). A medida que agregues más productos a tu
            compra, tendrás mayor beneficio en el costo de envío.<br>
            Tenemos un promedio de tiempo de entrega de 1 a 4 días hábiles después de haber validado tu compra
            (recibirás un correo donde tu compra ya está validada).<br>
            De igual forma, recibirás mediante un correo electrónico el número de guía y paquetería para que puedas
            rastrear tu pedido.<br>
            Es importante ingresar los datos completos y correctos en el apartado de dirección de envío, ya que es
            esencial para que nuestros proveedores de mensajería puedan hacer la entrega de manera correcta y a
            tiempo.<br>
            El costo de envío de los productos puede variar. Este precio se calcula en base a las medidas del o de los
            productos y al volumen de los mismos. Si seleccionas más productos, el cálculo del precio lo verás en el
            último proceso antes de pagar.<br>
            Si presentas algún detalle o tienes alguna duda con tu envío, favor de enviar un correo electrónico a
            envios@daru.mx.
          </p>
        </app-card>

        <app-card adClass="card-box card-sm bg-light" title="Condiciones de Uso" parent="accordion-1" [show]="false">
          <p>Los usuarios deben aceptar y cumplir con los términos y condiciones del sitio web.</p>
          <p>El uso del sitio web está permitido únicamente para personas mayores de 18 años o con el consentimiento de
            un adulto.</p>
          <p>Los usuarios son responsables de mantener la confidencialidad de su información de inicio de sesión y no
            deben compartir sus credenciales con terceros.</p>
        </app-card>

        <app-card adClass="card-box card-sm bg-light" title="Aviso de Privacidad para Clientes" parent="accordion-1"
          [show]="false">
          <p><strong>Daru Innovacion S. de R.L. de C.V.</strong> (en adelante el DARU), señalando para efectos del
            presente Aviso de Privacidad (en lo sucesivo el <strong>Aviso</strong>) el domicilio en 601 Avenida de los
            Insurgentes Sur Col. Nápoles, Delegación Benito Juárez Ciudad de México C.P. 03810, México, es el
            responsable de salvaguardar la integridad, privacidad y protección de los datos personales que nos
            proporcione (en adelante el <strong>Titular</strong>), los cuales serán protegidos conforme a lo dispuesto
            por la Ley
            Federal de Protección de Datos Personales en Posesión de los Particulares (en adelante la
            <strong>Ley</strong>), y demás
            normatividad aplicable. Le solicitamos leer cuidadosamente el presente Aviso de Privacidad.
          </p>
          <p>Para DARU es necesario recopilar ciertos datos personales para llevar a cabo sus actividades. DARU tiene
            la obligación legal y social de cumplir con las medidas legales y de seguridad para proteger los datos
            personales y sensibles que haya recabado. A continuación, se describen las finalidades para las cuales se
            recaban los datos personales en el presente Aviso.</p>
          <p>Le recomendamos leer atentamente la siguiente información para tener pleno control y decisión sobre sus
            datos personales.</p>
          <p>Si el Titular proporciona sus datos personales, significa que ha leído, entendido y aceptado los términos
            del presente Aviso.</p>
          <strong>¿Qué datos personales solicitamos y para qué fines?</strong>
          <p>Esta política tiene como objetivo asegurar la privacidad de los datos proporcionados por nuestros
            clientes para vincularse con los servicios o productos proporcionados por DARU.</p>
          <p>Al usar los servicios, productos o acceder a este sitio o cualquier sitio relacionado proporcionado por
            DARU, usted acepta la recopilación, uso, transferencia y almacenamiento de su información personal y
            personal sensible. Si no está de acuerdo, el titular NO debe proporcionar ninguna información personal.
          </p>
          <p><strong>Datos personales que podrán ser recabados con pleno conocimiento del Titular:</strong></p>
          <p>Los datos personales que podrán ser recabados y sujetos a tratamiento por DARU son:</p>
          <ol>
            <li>Datos de identificación: nombre, apellido, fecha de nacimiento y sexo.</li>
            <li>Datos de contacto: calle, número, colonia, código postal, ciudad, estado, país, teléfono celular,
              correo electrónico.</li>
          </ol>
          <p><strong>Finalidades:</strong></p>
          <ol>
            <li>Proveer los servicios y productos que ha solicitado.</li>
            <li>Informar sobre cambios o nuevos productos o servicios que estén relacionados con el contratado o
              adquirido por el Titular.</li>
            <li>Dar cumplimiento a obligaciones contraídas con el Titular.</li>
            <li>Evaluar la calidad del servicio y realizar estudios internos sobre hábitos de consumo.</li>
          </ol>
          <strong>Limitación de uso y divulgación de datos personales</strong>
          <p>Los datos personales del Titular serán tratados únicamente por el DARU y no serán transferidos a
            terceros, salvo que se cuente con su consentimiento expreso, o bien que exista una orden de autoridad
            competente.</p>
          <strong>Medidas de seguridad</strong>
          <p>El DARU implementará las medidas de seguridad administrativas, técnicas y físicas necesarias y
            suficientes para la protección de los datos personales.</p>

          <p>En caso de existir alguna vulneración de seguridad en cualquier etapa del tratamiento de datos
            personales, el DARU se lo hará saber al Titular de manera inmediata y por cualquier medio de comunicación.
          </p>
          <strong>Derechos ARCO (Acceso, Rectificación, Cancelación y Oposición)</strong>
          <p>El Titular podrá ejercer los derechos ARCO respecto a sus datos personales. Para ello, deberá presentar
            una solicitud por escrito en el domicilio del DARU o a través del correo electrónico contacto@daru.mx,
            proporcionando los siguientes datos:</p>
          <ol>
            <li>Nombre y apellido del Titular o del representante legal.</li>
            <li>Domicilio o correo electrónico para comunicar la respuesta a su solicitud.</li>
            <li>Documentos que acrediten la identidad o, en su caso, la representación legal del Titular.</li>
            <li>Descripción clara y precisa de los datos personales respecto de los que se busca ejercer alguno de los
              derechos ARCO.</li>
          </ol>
          <strong>Cambios al Aviso de Privacidad</strong>
          <p>El DARU se reserva el derecho de modificar este Aviso de Privacidad en cualquier momento. En caso de que
            exista alguna modificación, se hará de su conocimiento a través de nuestra página web <a
              href="https://daru.com.mx">www.daru.com.mx</a>.</p>
          <p>Fecha de última actualización: 20 de mayo de 2023.</p>
        </app-card>


        <app-card adClass="card-box card-sm bg-light" title="Política de Cookies" parent="accordion-1" [show]="false">
          <p>Esta web de DARU utiliza cookies propias para la elaboración de perfiles basados en los hábitos de
            navegación del usuario y ofrecer contenidos adaptados a sus intereses.</p>
          <p>Las cookies son el archivo de datos que se almacena en el disco duro del equipo de cómputo o del
            dispositivo de comunicaciones electrónicas de un usuario al navegar en un sitio de internet específico, el
            cual permite intercambiar información de estado entre dicho sitio y el navegador del usuario. La
            información de estado puede revelar medios de identificación de sesión, autenticación o preferencias del
            usuario, así como cualquier dato almacenado por el navegador respecto al sitio de internet.</p>
          <p>DARU utiliza varias tecnologías para mejorar la eficiencia de sus sitios web, incluyendo su experiencia
            cuando navega por dichos sitios. Entre estas tecnologías se incluye el uso de cookies. Las cookies son
            pequeñas cantidades de información que se almacenan en el navegador utilizado por cada usuario para que el
            servidor recuerde cierta información que posteriormente pueda utilizar. Esta información permite
            identificarle y guardar sus preferencias personales para brindarle una mejor experiencia de navegación.
          </p>
          <p>Si quisiese retirar en cualquier momento su consentimiento relacionado con la presente Política de
            Cookies, deberá eliminar las cookies almacenadas a través de los ajustes y configuraciones de su navegador
            de Internet.</p>
        </app-card>
      </app-accordion>

      <div class="cta cta-display bg-image pt-4 pb-4"
        style="background-image: url(assets/images/banners/banner-how_to_buy.jpg)">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-9 col-xl-7">
              <div class="row no-gutters flex-sm-row align-items-sm-center">
                <div class="col-12 col-sm">
                  <strong>
                    <h3 class="cta-title text-light">Si tienes más preguntas. Puedes consultarnos</h3>
                  </strong>
                </div>
                <div class="col-auto">
                  <a routerLink="/contact" class="btn btn-outline-white"><strong><span>CONTACTANOS</span><i
                        class="icon-long-arrow-right"></i></strong></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
