.page-header {
  background-image: url('../../../../assets/images/banners/banner-dashboard.jpg') !important;
}

:host {
    ::ng-deep {
        .dashboard ngb-tabset .nav-tabs {
            display: none;
        }
    }
}

.form-check-input {
  text-align: right !important;
}
