<main class="main">
  <div class="page-header text-center">
    <div class="container">
      <h1 class="page-title text-white">Mi Cuenta<span class="text-white"></span></h1>
    </div>
  </div>
  <nav class="breadcrumb-nav mb-3">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="[]" [queryParams]="queryParams" [innerHTML]="previousPageTitle"></a>
        </li>
        <li class="breadcrumb-item active">{{ pageTitle }}</li>
      </ol>
    </div>
  </nav>

  <div class="page-content">
    <div class="dashboard">
      <div class="container">
        <div class="row">
          <aside class="col-md-4 col-lg-3">
            <nav class="nav nav-dashboard flex-column mb-3 mb-md-0" role="navigation">
              <ul class="list-unstyled">
                <li>
                  <a class="nav-link active" href="javascript:;" (click)="nav.select('tab-1')">Tablero</a>
                </li>
                <li>
                  <a class="nav-link" href="javascript:;" (click)="nav.select('tab-2')">Ordenes</a>
                </li>
                <li>
                  <a class="nav-link" href="javascript:;" (click)="nav.select('tab-3')">Detalles de la Cuenta</a>
                </li>
                <li>
                  <a class="nav-link" href="javascript:;" (click)="nav.select('tab-4')">Dirección de Envío</a>
                </li>
                <li>
                  <a class="nav-link" href="javascript:;" (click)="logout()">Cerrar Sesión</a>
                </li>
              </ul>
            </nav>
          </aside>

          <div class="col-md-8 col-lg-9">
            <div class="tab-content">
              <ul ngbNav #nav="ngbNav">
                <li [ngbNavItem]="'tab-1'">
                  <ng-template ngbNavContent>
                    <p>Hola <span class="font-weight-normal text-dark">{{userName}}</span>
                      <br>
                      Desde el panel de cuenta puede ver:
                      <a href="javascript:;" (click)="nav.select('tab-2'); viewTab( $event, 0, 1 );"
                        class="tab-trigger-link link-underline">Sus &oacute;rdenes recientes</a>,
                      <br>
                      Gestionar sus:
                      <a href="javascript:;" (click)="nav.select('tab-2'); viewTab( $event, 0, 3 );"
                        class="tab-trigger-link">direcciones de envíos y facturación</a>
                      <br>
                      Y adem&aacute;s de:
                      <a href="javascript:;" (click)="nav.select('tab-2'); viewTab( $event, 0, 4 );"
                        class="tab-trigger-link">edite su
                        contraseña y los detalles de su cuenta</a>.
                    </p>
                  </ng-template>
                </li>

                <li [ngbNavItem]="'tab-2'">
                  <ng-template ngbNavContent *ngIf="charges">
                    <p>Pedidos del Usuario.</p>
                    <table class="table table-summary">
                      <thead>
                        <tr>
                          <th class='text-center'>No.</th>
                          <th class='text-center'>Fecha</th>
                          <th class='text-center'>Importe</th>
                          <th class='text-center'>Enviado a</th>
                          <th class='text-center'>Detalle</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr *ngFor="let charge of charges">
                          <td>{{charge.id}}</td>
                          <td>{{charge.registerDate}}</td>
                          <td>{{charge.importe}}</td>
                          <td>{{charge.user.addresses[0].d_asenta}}</td>
                          <td class='text-center'>
                            <button type="button" class="btn btn-primary" (click)="openModal(content, charge)"><i
                                class="fas fa-info-circle"></i></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </ng-template>
                  <ng-template ngbNavContent *ngIf="!charges">
                    <p>Aún no se ha realizado pedido.</p>
                    <a routerLink="/products" class="btn btn-outline-primary-2"><span>Ir a la Tienda</span><i
                        class="icon-long-arrow-right"></i></a>
                  </ng-template>
                </li>

                <li [ngbNavItem]="'tab-3'">
                  <ng-template ngbNavContent>
                    <form (ngSubmit)="onSubmit()" [formGroup]="formDataMain">
                      <div class="row">
                        <div class="col-sm-6 form-group">
                          <label>Nombre(s) *</label>
                          <input type="text" class="form-control" name="name" formControlName="name"
                            [attr.disabled]="'true'" required title="Nombre">
                        </div>

                        <div class="col-sm-6 form-group">
                          <label>Apellido(s) *</label>
                          <input type="text" class="form-control" name="lastname" formControlName="lastname"
                            [attr.disabled]="'true'" required title="Apellido">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <label>Tel&eacute;fono *</label>
                          <input type="text" class="form-control" name="phone" formControlName="phone"
                            [attr.disabled]="'true'" required title="Telefono">
                        </div>

                        <div class="col-sm-6">
                          <label>Correo Electr&oacute;nico *</label>
                          <input type="text" class="form-control" name="email" formControlName="email"
                            [attr.disabled]="'true'" required title="Correo">
                        </div>
                      </div>

                      <!-- <label>Correo Electrónico *</label>
                      <input type="email" class="form-control" required>

                      <label>Contraseña actual (déjelo en blanco para dejarlo sin cambios)</label>
                      <input type="password" class="form-control">

                      <label>Nueva contraseña (dejar en blanco para dejar sin cambios)</label>
                      <input type="password" class="form-control">

                      <label>Confirmar nueva contraseña</label>
                      <input type="password" class="form-control mb-2">
                      -->

                      <!-- <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block"
                        [disabled]="!formDataMain.valid">
                        <span class="btn-text">Guarda los datos</span>
                        <span class="btn-hover-text" (click)="onSubmit()">Guardar</span>
                      </button> -->
                    </form>
                  </ng-template>
                </li>

                <li [ngbNavItem]="'tab-4'">
                  <ng-template ngbNavContent>
                    <form (ngSubmit)="onSubmit()" [formGroup]="formDataAddress">
                      <p>La siguiente direcci&oacute;n se utilizará en la página de pago de forma predeterminada.</p>

                      <div class="row">
                        <div class="col-lg-12">
                          <div class="card card-dashboard">
                            <div class="card-body">
                              <h3 class="card-title">Dirección de Envío</h3>
                              <p>Nombre del Usuario: <b>{{userName}}</b></p>
                            </div>
                          </div>
                        </div>

                        <!-- <div class="col-lg-6">
                        <div class="card card-dashboard">
                          <div class="card-body">
                            <h3 class="card-title">Dirección de Envío</h3>

                            <p>No has configurado este tipo de dirección.<br>
                              <a href="javascript:;">Edit <i class="icon-edit"></i></a>
                            </p>
                          </div>
                        </div>
                      </div> -->
                      </div>
                      <div class="row">
                        <div class="col-sm-6 form-group">
                          <div class="row codigo_postal align-items-center">
                            <div class="col-sm-10 col-8">
                              <label class="align-middle">¿Conoces el Código Postal?</label>
                            </div>
                            <div class="col-sm-2 col-4 d-flex align-items-center">
                              <input type="checkbox" name="byCodigopostal" class="form-control form-check-input"
                                title="CP" (change)="onActiveCP()" formControlName="byCodigopostal">
                            </div>
                          </div>
                        </div>
                        <!-- </div>
                      <div class="row"> -->
                        <div class="col-sm-3 form-group">
                          <label>Código Postal *</label>
                        </div>
                        <div class="col-sm-3 form-group">
                          <input type="text" name="codigoPostal" class="form-control" required title="Código Postal"
                            formControlName="codigoPostal" (blur)="onSetCps($event)"
                            [attr.disabled]="!byCodigopostal ? 'true' : null">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3 form-group">
                          <label>Pais *</label>
                          <select class="form-control" name="selectCountry" required title="Pais"
                            formControlName="selectCountry" (change)="onSetEstados($event.target)">
                            <option [ngValue]="''" [selected]="'' == selectCountry.c_pais">Elije un País</option>
                            <option *ngFor="let country of countrys" [ngValue]="country.c_pais">
                              {{country.d_pais}}
                            </option>
                          </select>
                        </div>
                        <div class="col-sm-3 form-group">
                          <label>Estado *</label>
                          <select class="form-control" name="selectEstado" required title="Estado"
                            formControlName="selectEstado" (change)="onSetMunicipios($event.target)">
                            <option [ngValue]="''" [selected]="'' == selectEstado.c_estado">Elije un Estado</option>
                            <option *ngFor="let estado of estados" [ngValue]="estado.c_estado">
                              {{estado.d_estado}}
                            </option>
                          </select>
                        </div>
                        <div class="col-sm-6 form-group">
                          <label>Municipio *</label>
                          <select class="form-control" name="selectMunicipio" title="Municipio" required
                            formControlName="selectMunicipio" (change)="onSetColonias($event.target)">
                            <option [ngValue]="''" [selected]="'' == selectMunicipio.c_mnpio">Elije un Municipio
                            </option>
                            <option *ngFor="let municipio of municipios" [ngValue]="municipio.c_mnpio">
                              {{municipio.D_mnpio}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <label>Colonia *</label>
                          <input *ngIf="!byCodigopostal" type="text" name="selectColonia" class="form-control"
                            formControlName="selectColonia" placeholder="" required title="Coloni">
                          <select *ngIf="byCodigopostal" class="form-control" name="selectColonia"
                            formControlName="selectColonia" required title="Colonia"
                            (change)="onSetColonias($event.target)">
                            <option [ngValue]="''" [selected]="'' == selectColonia">Elije la Colonia</option>
                            <option *ngFor="let colonia of colonias" [ngValue]="colonia">
                              {{colonia}}
                            </option>
                          </select>
                        </div>
                        <div class="col-sm-6">
                          <label>Dirección *</label>
                          <input type="text" class="form-control" name="directions" formControlName="directions"
                            placeholder="Calle y Número" required>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <label for="outdoorNumber">N&uacute;mero Exterior *</label>
                          <input type="text" class="form-control" name="outdoorNumber" formControlName="outdoorNumber"
                            placeholder="N&uacute;mero Exterior" maxlength="10" required>
                          <div class="alert alert-danger"
                            *ngIf="formDataAddress.get('outdoorNumber').invalid && (formDataAddress.get('outdoorNumber').dirty || formDataAddress.get('outdoorNumber').touched)">
                            <div *ngIf="formDataAddress.get('outdoorNumber').hasError('required')">El N&uacute;mero
                              Exterior
                              requerida.</div>
                            <div *ngIf="formDataAddress.get('outdoorNumber').hasError('outdoorNumber')">Teclear el
                              N&uacute;mero
                              Exterior.</div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <label for="interiorNumber">N&uacute;mero Interior</label>
                          <input type="text" class="form-control" name="interiorNumber" formControlName="interiorNumber"
                            placeholder="N&uacute;mero Interior" maxlength="10">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <label>Referencias</label>
                          <textarea class="form-control" cols="30" rows="4" name="references"
                            formControlName="references" placeholder="Referencias de entrega"></textarea>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block"
                        [disabled]="!formDataAddress.valid">
                        <span class="btn-text">Guarda la Direcci&oacute;n</span>
                        <span class="btn-hover-text" (click)="onSubmit()">Guardar</span>
                      </button>
                    </form>
                  </ng-template>
                </li>
              </ul>
              <div [ngbNavOutlet]="nav"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<!-- Standard Modal -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <!-- <h5 class="modal-title mt-0">Datos de la Venta</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button> -->
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>
              <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
              <span class="d-none d-sm-block">Productos</span>
            </a>
            <ng-template ngbNavContent>
              <br>
              <h5>Cliente: {{data.user.name.toUpperCase() }} {{data.user.lastname.toUpperCase() }}</h5>
              <table>
                <thead>
                  <tr>
                    <th class="text-center thead-class">Producto</th>
                    <th class="text-center thead-class">Cantidad</th>
                    <th class="text-center thead-class">Precio Unitario</th>
                    <th class="text-center thead-class">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let producto of productos">
                    <td>{{producto.name}}</td>
                    <td class="text-center">{{producto.cantidad}}</td>
                    <td class="text-right custom-class">{{producto.precio.toFixed(2).toString()}}</td>
                    <td class="text-right custom-class">{{producto.total.toFixed(2).toString()}}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2">&nbsp;</td>
                    <td><strong>Subtotal:</strong></td>
                    <td class="text-right">$ {{totalProd.toFixed(2).toString()}}</td>
                  </tr>
                  <tr>
                    <td colspan="2">&nbsp;</td>
                    <td><strong>Costo Envio:</strong></td>
                    <td class="text-right">$ {{totalEnvios}}</td>
                  </tr>
                  <tr *ngIf="discount > 0">
                    <td colspan="2">&nbsp;</td>
                    <td><strong>Descuento:</strong></td>
                    <td class="text-right">$ {{discount.toFixed(2).toString()}}</td>
                  </tr>
                  <tr>
                    <td colspan="2">&nbsp;</td>
                    <td><strong>Total:</strong></td>
                    <td class="text-right">$ {{total.toFixed(2).toString()}}</td>
                  </tr>
                </tfoot>
              </table>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>
              <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
              <span class="d-none d-sm-block">Cliente</span>
            </a>
            <ng-template ngbNavContent>
              <div class="address">
                <h6>Datos del Usuario</h6>
                <div class="table-responsive">
                  <table class="table mb-0">
                    <thead class="thead-dark">
                      <tr>
                        <th>Nombre(s)</th>
                        <th>Apellido(s)</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{data.user.name.toUpperCase()}}</td>
                        <td>{{data.user.lastname.toUpperCase()}}</td>
                        <td>{{data.user.phone}}</td>
                        <td>{{data.user.email}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink>
              <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
              <span class="d-none d-sm-block">Direcci&oacute;n de Env&iacute;o</span>
            </a>
            <ng-template ngbNavContent>
              <div class="address">
                <h6>Dirección de entrega</h6>
                <div class="table-responsive">
                  <table class="table mb-0">
                    <thead class="thead-dark">
                      <tr>
                        <th>Direcci&oacute;n</th>
                        <th>CP</th>
                        <th>Tel&eacute;fono</th>
                        <th>Referencia</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{data.user.addresses[0].directions}} {{data.user.addresses[0].outdoorNumber}}
                          {{data.user.addresses[0].interiorNumber}}
                          , {{data.user.addresses[0].d_asenta}}, {{data.user.addresses[0].d_mnpio}},
                          {{data.user.addresses[0].d_estado}}
                          {{data.user.addresses[0].d_pais}}
                        </td>
                        <td>{{data.user.addresses[0].d_codigo}}</td>
                        <td>{{data.user.addresses[0].phone}}</td>
                        <td>{{data.user.addresses[0].references}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="4">
            <a ngbNavLink>
              <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
              <span class="d-none d-sm-block">Facturaci&oacute;n</span>
            </a>
            <ng-template ngbNavContent>
              <div class="address">
                <h6>Datos para Facturar</h6>
                <div class="table-responsive">
                  <table class="table mb-0">
                    <thead class="thead-dark">
                      <tr>
                        <th>Nombre</th>
                        <th>RFC</th>
                        <th>CP</th>
                        <th>Forma de Pago</th>
                        <th>M&eacute;todo de Pago</th>
                        <th>R&eacute;gimen Fiscal</th>
                        <th>Uso de CFDI</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td *ngIf="data.invoiceConfig.nombreEmpresa == ''">{{data.invoiceConfig.nombres}}
                          {{data.invoiceConfig.apellidos}}</td>
                        <td *ngIf="data.invoiceConfig.nombreEmpresa != ''">{{data.invoiceConfig.nombreEmpresa}}</td>
                        <td>{{data.invoiceConfig.rfc}}</td>
                        <td>{{data.invoiceConfig.codigoPostal}}</td>
                        <td>{{data.invoiceConfig.formaPago.descripcion}}</td>
                        <td>{{data.invoiceConfig.metodoPago.descripcion}}</td>
                        <td>{{data.invoiceConfig.regimenFiscal.descripcion}}</td>
                        <td>{{data.invoiceConfig.usoCFDI.descripcion}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-template>
          </li>
          <li *ngIf="data.orderCtResponse" [ngbNavItem]="5">
            <a ngbNavLink>
              <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
              <span class="d-none d-sm-block">CT</span>
            </a>
            <ng-template ngbNavContent>
              <div class="address">
                <h6>Pedido CT</h6>
                <div class="table-responsive">
                  <table class="table mb-0">
                    <thead class="thead-dark">
                      <tr>
                        <th>Pedido</th>
                        <th>Fecha</th>
                        <th>Codigo</th>
                        <th>Mensaje</th>
                        <th>Referencia</th>
                        <th>Paqueteria</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{data.orderCtResponse.pedidoWeb}}</td>
                        <td>{{data.orderCtResponse.fecha}}</td>
                        <td>{{data.orderCtConfirmResponse.okCode}}</td>
                        <td>{{data.orderCtConfirmResponse.okMessage}}</td>
                        <td>{{data.orderCtConfirmResponse.okReference}}</td>
                        <td>{{data.warehouses[0].shipments[0].empresa.toUpperCase()}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="table-responsive" *ngIf="guias.guias && guias.guias.length > 0">
                  <table class="table mb-0">
                    <thead class="thead-dark">
                      <tr>
                        <th>Guia</th>
                        <th>Paqueteria</th>
                        <th>Direcci&oacute;n de Env&iacute;o</th>
                        <th>PDF</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let guia of guias.guias">
                        <td>{{guia.guia}}</td>
                        <td>{{guia.paqueteria}}</td>
                        <td>{{guia.direccion}}</td>
                        <td>
                          <button type="button" class="btn btn-primary" (click)="abrirPDFEnOtraPagina(guia.archivo)">
                            <i class="fas fa-external-link-alt"></i> Guia
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-template>
          </li>
          <li *ngIf="data.orderCvaResponse" [ngbNavItem]="6">
            <a ngbNavLink>
              <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
              <span class="d-none d-sm-block">CVA</span>
            </a>
            <ng-template ngbNavContent>
              <div class="address">
                <h6>Pedido CVA</h6>
                <div class="table-responsive">
                  <table class="table mb-0">
                    <thead class="thead-dark">
                      <tr>
                        <th>Pedido</th>
                        <th>Estado</th>
                        <th>Total</th>
                        <th>Agente Email</th>
                        <th>Almacen Email</th>
                        <th>Paqueteria</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{data.orderCvaResponse.pedido}}</td>
                        <td>{{data.orderCvaResponse.estado}}</td>
                        <td>{{data.orderCvaResponse.total}}</td>
                        <td>{{data.orderCvaResponse.agentemail}}</td>
                        <td>{{data.orderCvaResponse.almacenmail}}</td>
                        <td>{{data.warehouses[0].shipments[0].empresa.toUpperCase()}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
      </div>
      <button type="button" class="btn btn-info" (click)="modal.close('Close click')"
        [disabled]="!formDataMain.valid">Cerrar</button>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>
