
<div class="main">
  <div class="container">
<div class="page-header page-header-big mt-4" style="background-image: url('/assets/images/img-bg-about.jpg')">
    <!-- <div class="page-header page-header-big text-center"> -->
      <h1 class="page-title text-white">La Empresa <span class="text-white">Texto de apoyo</span></h1>
      
      <!-- <h1 class="page-title">La Empresa<span>Quienes somos</span></h1> -->
    <!-- </div> -->
  </div> 
  </div>
  <div class="page-content-about-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mb-lg-0">
          <div class="pt-10">
          <h2 class="title-about">Quiénes Somos</h2>
          <p class="text-about">
            Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. 
            Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, 
            cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una 
            galería de textos y los mezcló de tal manera que logró hacer un libro de textos 
            especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno 
            en documentos electrónicos, quedando esencialmente igual al original. 
            Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales 
            contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, 
            como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.
          </p>
          </div>
        </div>

        <div class="col-lg-3" contentAnimaniName="fadeInLeftShorter">
          <div class="about-images">
            <img src="/assets/images/img-quienes-somos.png" alt="About" class="" height="300"/>
            <!-- <img src="/assets/images/about/img-1.jpg" alt="About" class="about-img-front" />
            <img src="/assets/images/about/img-2.jpg" alt="About" class="about-img-back" /> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content-about mt-0 pb-0 pt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-lg-0">
          <h2 class="text-white">Nuestra esencia</h2>
          <p class="text-white">Texto de apoyo </p>
        </div>
        <div class="col-lg-4">
            <div class="member text-center">
              <div class="member-content">
                <h3 class="member-title">Misión
                  <p>Lorem Ipsum es simplemente el texto de 
                  relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el 
                  texto de relleno estándar de las industrias desde el año 1500, cuando 
                  un impresor (N. del T. persona que se dedica a la imprenta) desconocido 
                  usó una galería de textos y los mezcló de tal manera que logró hacer un 
                  libro de textos especimen.</p></h3>
              </div>
            </div>
        </div>
        <div class="col-lg-4">
          <div class="member text-center">
            <div class="member-content">
              <h3 class="member-title">Visión
                <p>Lorem Ipsum es simplemente el texto de 
                relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el 
                texto de relleno estándar de las industrias desde el año 1500, cuando 
                un impresor (N. del T. persona que se dedica a la imprenta) desconocido 
                usó una galería de textos y los mezcló de tal manera que logró hacer un 
                libro de textos especimen.</p></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="container" style="background-image: url('assets/images/about-header-bg.jpg')"> -->
     <!-- <div class="row">
                <div class="col-lg-5">
                    <div class="brands-text">
                        <h2 class="title">The world's premium design brands in one destination.</h2>
                        <p>Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus
                            id, mattis vel, nis</p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="brands-display">
                        <div class="row justify-content-center">
                            <div class="col-6 col-sm-4" *ngFor="let brand of brands">
                                <a href="javascript:;" class="brand">
                                    <img [src]="brand.image" alt="Brand Name">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

    <!-- <h2 class="title-about text-center mb-4">Nuestro Equipo</h2>

    <owl-carousel [options]="teamOption">
      <div class="member member-anim text-center" *ngFor="let member of team">
        <figure class="member-media">
          <app-image [src]="member.photo" width="376" height="500" alt="member photo"></app-image>

           <figcaption class="member-overlay">
                            <div class="member-overlay-content">
                                <h3 class="member-title">{{ member.name }}<span>{{ member.title }}</span></h3>
                                <p>Sed pretium, ligula sollicitudin viverra, tortor libero sodales leo, eget blandit
                                    nunc.</p>
                                <div class="social-icons social-icons-simple">
                                    <a href="javascript:;" class="social-icon" title="Facebook"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="javascript:;" class="social-icon" title="Twitter"><i
                                            class="icon-twitter"></i></a>
                                    <a href="javascript:;" class="social-icon" title="Instagram"><i
                                            class="icon-instagram"></i></a>
                                </div>
                            </div>
                        </figcaption>
        </figure>
        <div class="member-content">
          <h3 class="member-title">{{ member.name }}<span>{{ member.title }}</span></h3>
        </div>
      </div>
    </owl-carousel> -->

     <!-- <div class="about-testimonials bg-light-2 pt-6 pb-6" style="margin-bottom: -1px;">
            <div class="container">
                <h2 class="title text-center mb-3">What Customer Say About Us</h2>

                <owl-carousel [carouselClasses]="'owl-simple owl-testimonials-photo'" [options]='sliderOption'>
                    <blockquote class="testimonial text-center" *ngFor="let custom of customSay">
                        <img [src]="custom.photo" width="70" height="70" alt="user">
                        <p>{{custom.comment}}</p>
                        <cite>
                            {{custom.name}}
                            <span>{{custom.type}}</span>
                        </cite>
                    </blockquote>
                </owl-carousel>
            </div>
        </div> -->
  <!-- </div> -->
  </div>
