<div class="main">
  <nav class="breadcrumb-nav border-0 mb-0">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="[]" [queryParams]="queryParams" [innerHTML]="previousPageTitle"></a>
        </li>
        <li class="breadcrumb-item active">{{ pageTitle }}</li>
      </ol>
    </div>
  </nav>

  <div class="container" style="background-image: url('/assets/images/about-header-bg.jpg')">
    <div class="page-header page-header-big text-center">
    </div>
  </div>

  <div class="page-content pb-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mb-lg-0">
          <div class="pt-10">
            <h2 class="title-about">Quiénes Somos</h2>
            <p class="text-about">
              Más que una empresa, somos un equipo apasionado y comprometido con la excelencia y la innovación. Estamos
              enfocados y dedicados a ser líderes en nuestra industria y a marcar la diferencia en el mundo de la
              innovación tecnológica.
            </p>
            <p>
              Nuestra pasión por ofrecer soluciones creativas y tecnológicas nos impulsa a superar los límites,
              aportando un valor agregado a nuestros clientes y socios.
            </p>
            <p>
              Darú Innovación fue fundada en el 2022 y ha ido creciendo y evolucionando, gracias al compromiso con la
              calidad y satisfacción al cliente.
            </p>
          </div>
        </div>

        <div class="col-lg-3" contentAnimaniName="fadeInLeftShorter">
          <div class="about-images">
            <img src="/assets/images/img-quienes-somos.png" alt="About" class="" height="300" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content-about mt-0 pb-0 pt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-lg-0">
          <h2 class="text-white">Darú = Excelencia</h2>
          <p class="text-white">Nuestra esencia se encuentra en la búsqueda constante de la excelencia. Trabajamos día a
            día por ser pioneros en tecnología y creatividad, abrazando nuevos desafíos con entusiasmo y determinación,
            lo cual se ve reflejado en cada proyecto que emprendemos, cada solución que ofrecemos y cada relación que
            construimos.</p>
        </div>
        <div class="col-lg-4">
          <div class="member text-center">
            <div class="member-content">
              <h3 class="member-title">Misión
                <p>Ser la primera opción para aquellos que buscan soluciones tecnológicas de vanguardia.
                </p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="member text-center">
            <div class="member-content">
              <h3 class="member-title">Visión
                <p>Crecer, expandir nuestras capacidades, mantener nuestro enfoque en satisfacción al cliente y calidad
                  excepcional para forjar un mejor mañana a través de la innovación tecnológica.</p>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
