<div class="main">
  <nav class="breadcrumb-nav border-0 mb-0">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/about">Conocenos</a>
        </li>
      </ol>
    </div>
  </nav>

  <div class="container" style="background-image: url('/assets/images/about-header-bg.jpg')">
    <div class="page-header page-header-big text-center">
    </div>
  </div>

  <div class="page-content pb-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mb-lg-0">
          <div class="pt-10">
            <h2 class="title-about">Quiénes Somos</h2>
            <p class="text-about">
              En Daru Innovación, somos más que una empresa; somos un equipo comprometido con la excelencia y la
              innovación. Nuestra pasión por ofrecer soluciones creativas y tecnológicas nos impulsa a superar los
              límites y aportar valor a nuestros clientes y socios.
            </p>
            <p>
              Fundada en 2022, hemos crecido y
              evolucionado, pero nuestro compromiso con la calidad y la satisfacción del cliente nunca ha cambiado.
              Estamos dedicados a ser líderes en nuestra industria y a marcar la diferencia en el mundo de la innovación
              tecnológica.
            </p>
          </div>
        </div>

        <div class="col-lg-3" contentAnimaniName="fadeInLeftShorter">
          <div class="about-images">
            <img src="/assets/images/img-quienes-somos.png" alt="About" class="" height="300" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content-about mt-0 pb-0 pt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-lg-0">
          <h2 class="text-white">Nuestra esencia</h2>
          <p class="text-white">En Daru, nuestra esencia se encuentra en la búsqueda constante de la excelencia. Nos
            esforzamos por ser pioneros en tecnología y creatividad, abrazando nuevos desafíos con entusiasmo y
            determinación. Nuestra esencia se refleja en cada proyecto que emprendemos, en cada solución que ofrecemos y
            en cada relación que construimos. Somos un equipo apasionado y diverso, unidos por la visión de crear un
            mundo mejor a través de la innovación.</p>
        </div>
        <div class="col-lg-4">
          <div class="member text-center">
            <div class="member-content">
              <h3 class="member-title">Misión
                <p>Nuestra misión es ser la primera opción para aquellos que buscan soluciones tecnológicas de
                  vanguardia.
                </p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="member text-center">
            <div class="member-content">
              <h3 class="member-title">Visión
                <p>Estamos comprometidos a crecer, expandir nuestras capacidades, mantener nuestro enfoque en la
                  satisfacción del cliente y la calidad excepcional, para forjar un mañana mejor a través
                  de la tecnología innovadora.</p>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
