<main class="main" id="main-recover-section">
  <div class="page-content">
    <div class="container">
      <h4 id="recover-title">Recuperar Contraseña</h4>
      <div class="form-box" style="background-image: url('../../../../../assets/images/loggin.jpg'); background-repeat: no-repeat; background-size: cover;">
        <div class="form-choice" id="recover-container">
          <form (ngSubmit)="onSubmit()" #forma="ngForm">
            <div class="form-group">
              <label for="recoverEmail">Correo Electrónico (<span class="form-item-required">*</span>)</label>
              <input type="recoverEmail" class="form-control" id="recoverEmail" name="recoverEmail"
                #recoverEmail="ngModel" [(ngModel)]="recover.email"
                [ngClass]="{'is-valid': !recoverEmail.invalid, 'is-invalid': recoverEmail.invalid}" [pattern]="pattern"
                required>
              <div class="alert alert-danger"
                *ngIf="recoverEmail.invalid && (recoverEmail.dirty || recoverEmail.touched)">
                <div *ngIf="recoverEmail.errors.required">
                  Introduzca un correo electrónico válido por favor.
                </div>
                <div *ngIf="recoverEmail.errors && recoverEmail.errors.pattern">
                  El corrreo electrónico no tiene el formato correcto.
                </div>
              </div>
            </div>
            <div class="text-center">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <button id="recover-btn" type="submit" [disabled]="!forma.valid" class="btn btn-outline-primary-2">
                      <span>Recuperar Contraseña</span>
                      <i class="icon-long-arrow-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-choice">
            </div>
          </form>
          <div class="row">
            <div class="col-sm-12">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
