<header class="header">
  <div class="header-top">
    <div [class]="containerClass">
      <div class="header-left">
        <!-- <div class="header-dropdown">
                    <a href="javascript:;">USD</a>
                    <div class="header-menu">
                        <ul>
                            <li><a href="javascript:;">Eur</a></li>
                            <li><a href="javascript:;">Usd</a></li>
                        </ul>
                    </div>
                </div>

                <div class="header-dropdown">
                    <a href="javascript:;">Eng</a>
                    <div class="header-menu">
                        <ul>
                            <li><a href="javascript:;">English</a></li>
                            <li><a href="javascript:;">French</a></li>
                            <li><a href="javascript:;">Spanish</a></li>
                        </ul>
                    </div>
                </div> -->
        <div class="header-dropdown">
        </div>
      </div>

      <div *ngIf="access" class="header-center">
        <a href="#"><i class="icon-user"></i></a>
        <span class="login"><a href="javascript:;" (click)="showInfoUser($event)">{{ userName }}</a></span>
      </div>

      <div class="header-right">
        <ul class="top-menu">
          <li>
            <a href="javascript:;">Sesión</a>
            <ul class="dropdown-links">
              <li *ngIf="access && sistema">
                <div class="header-dropdown">
                  <a href="javascript:;">Exclusivo DARU</a>
                  <div class="header-menu">
                    <ul>
                      <li><a class="nav-link" href="http://localhost:4203/">Tablero</a></li>
                      <li><a class="nav-link" href="javascript:;">Perfil</a></li>
                      <li><a class="nav-link" (click)="logout()">Cerrar Sesión</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li *ngIf="!access" class="login"><a href="javascript:;" (click)="showLoginModal($event, 1)">Iniciar
                  Sesión</a>
              </li>
              <li *ngIf="!access" class="login"><a href="javascript:;"
                  (click)="showLoginModal($event, 2)">Registrarse</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="sticky-wrapper" [style.height]="utilsService.isSticky? utilsService.stickyHeight + 'px' : '' ">
    <div class="header-middle sticky-header" [class.fixed]="utilsService.isSticky">
      <div [class]="containerClass">
        <div class="d-flex w-100 position-relative">
          <div class="header-left">
            <app-mobile-button></app-mobile-button>
            <a routerLink="/" class="logo">
              <img src="assets/images/logo.png" class="bg-transparent" alt="DARU Logo" width="82" height="20">
            </a>
          </div>

          <div class="header-center">
            <app-main-menu></app-main-menu>
          </div>

          <div class="header-right">
            <app-header-search></app-header-search>

            <app-cart-menu></app-cart-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
