<div class="page-wrapper">
  <div class="notification" *ngIf="showTopNotice">
    <div class="notify-content mx-auto d-block">
      <h3>{{mensaje}}</h3>
    </div>
    <div class="notify-action">
      <a href="javascript:;" (click)="closeTopNotice()"><i class="icon-close"></i></a>
    </div>
  </div>

  <app-header [containerClass]="containerClass"></app-header>

  <div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>

  <app-footer [containerClass]="containerClass" [isBottomSticky]="isBottomSticky" class="d-flex flex-column max-vh-10"></app-footer>
</div>
