.container {
  width: 800px !important;
  max-width: 920px !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.logo {
  background-image: url('../../../../../assets/images/logocolor-footer.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 400px !important;
  height: 75px;
  margin-right: 10px;
}

.bottom {
  color: white !important;
  font-weight: 700 !important;
  padding-top: 6rem !important;
}

.soon {
  background-image: url('../../../../../assets/images/backgrounds/daru_espera_1.png');
  background-size: 100% auto;
  // background-repeat: no-repeat;
  padding: 2%;
  height: 100%;
  /* Establece la altura del contenedor al 100% de la altura de la ventana */
  overflow: visible;
}

.soon img {
  max-width: 100%;
}

.selector {
  width: 100%;
  margin-left: 0.8rem;
}

.rounded {
  border-radius: 2.25rem !important;
}

.form-control {
  height: 30px;
  padding: 0.85rem 4rem;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 300;
  color: #fff;
  background-color: #343a40;
  border: 1px solid #ebebeb;
  border-radius: 0;
  margin-bottom: 0.5rem;
  transition: all .3s;
  outline-width: 0;
}

select.form-control:not([size]):not([multiple]) {
  height: 33px;
}

.alert {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 0.43;
  letter-spacing: -.01em;
  border-radius: 0;
  margin: 0;
  padding: 1rem 1.5rem;
  border: none;
}

.btn {
  line-height: 0.5 !important;
}

.send {
  padding-right: 0px;
  padding-left: 0px;
}

.strong {
  font-weight: 700 !important;
}

/* Estilos específicos para pantallas más pequeñas (768px o menos) */
@media only screen and (max-width: 768px) {
  .logo h3 {
    width: 400px !important;
    top: 3rem !important;
    color: white !important;
    padding-top: 7rem;
  }

  .bottom {
    color: white !important;
    font-weight: 700 !important;
    padding-top: 8rem !important;
    font-family: Lato !important;
    font-size: 2rem !important;
  }

  .soon {
    background-image: url('../../../../../assets/images/backgrounds/daru_espera_1.png');
    background-size: 100% auto;
    /* Hace que el fondo sea responsive */
    padding: 1%;
    height: 100%;
    /* Establece la altura del contenedor al 100% de la altura de la ventana */
    overflow: hidden;
  }

  .selector {
    display: block;
    /* Puedes incluir una propiedad sin cambiar su valor */
    margin-left: 0 !important;
  }

  .mobile-modal {
    position: fixed;
    top: -50em;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  /* Standard 'appearance' property */
  input[type="date"] {
    appearance: none;
    /* Standard property */

    /* Vendor-prefixed properties for compatibility */
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* WebKit browsers (Safari, Chrome) */
    -ms-appearance: none;
    /* Microsoft browsers (Edge) */
  }

  /* Additional styling for iOS */
  /* -webkit-box-shadow is used to hide the default iOS styling */
  input[type="date"].ios-style {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    /* Standard property */

    /* Vendor-prefixed properties for compatibility */
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    /* WebKit browsers (Safari, Chrome) */
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    /* Firefox */
    -ms-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    /* Microsoft browsers (Edge) */
  }

  .modal-dialog {
    max-width: 84% !important;
    top: 4rem !important;
  }
}
