<div class="modal-dialog modal-dialog-centered modal-lg soon" role="document">
  <div class="modal-content">
    <div class="modal-header justify-content-center">
      <!-- Encabezado del modal -->
      <app-count-down until="2023-12-23" format="DHMS" wrap="coming-countdown countdown-separator text-center mt-10">
      </app-count-down>
    </div>
    <div class="modal-body">
      <!-- Cuerpo del modal -->
      <form (ngSubmit)="onSubmit()" [formGroup]="formData">
        <div class="input-group justify-content-center">
          <div class="row">
            <div class="col-md-6 form-group">
              <label class="text-white" for="nombre">Nombre(s) *</label>
              <input type="text" class="form-control" name="nombre" formControlName="nombre"
                (input)="convertToUppercase($event)" required>
              <div class="alert alert-danger"
                *ngIf="formData.get('nombre').invalid && (formData.get('nombre').dirty || formData.get('nombre').touched)">
                <div *ngIf="formData.get('nombre').hasError('required')">Nombre requerido.</div>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <label class="text-white" for="apellido">Apellido(s) *</label>
              <input type="text" class="form-control" name="apellido" formControlName="apellido"
                (input)="convertToUppercase($event)" required>
              <div class="alert alert-danger"
                *ngIf="formData.get('apellido').invalid && (formData.get('apellido').dirty || formData.get('apellido').touched)">
                <div *ngIf="formData.get('apellido').hasError('required')">Apellido requerido.</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <label class="text-white" for="sexo">Sexo</label>
              <select name="sexo" id="sexo" formControlName="sexo" class="form-control selector">
                <option value="" disabled [selected]="true">Sin contestar</option>
                <option value="mujer">Mujer</option>
                <option value="hombre">Hombre</option>
              </select>
            </div>
            <div class="col-md-6 form-group">
              <label class="text-white" for="fecha_de_nacimiento">Fecha de Nacimiento</label>
              <input type="text" id="fecha_de_nacimiento" name="fecha_de_nacimiento"
                formControlName="fecha_de_nacimiento" class="form-control" pattern="\d{2}/\d{2}/\d{4}"
                placeholder="dd/mm/yyyy">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="email" name="email" formControlName="email" class="form-control"
                placeholder="Correo Electr&oacute;nico" autocomplete="off" required>
            </div>
            <div class="col-md-6 form-group text-center">
              <button class="btn btn-success btn-round" type="submit" [disabled]="!formData.valid">
                <span>¡Suscríbete!</span>
                <i class="icon-long-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <!-- Pie del modal -->
      <!-- Aquí puedes agregar botones adicionales o información en el pie del modal -->
    </div>
  </div>
</div>
