<div class="product-details-tab">
  <ul ngbNav #nav="ngbNav" class="justify-content-center nav nav-pills">
    <li ngbNavItem>
      <a ngbNavLink>
        Descripción
      </a>
      <ng-template ngbNavContent>
        <div class="product-desc-content">
          <div class="row">
            <h3>Información del Producto</h3>
          </div>
          <div class="row">
            <h5>{{product.generalInfo.TitleInfo.GeneratedLocalTitle.Value}}</h5>
          </div>
          <div class="row">
            <div class="col-3">
              <h3>Marca</h3>
              <ul>
                <li *ngFor="let brand of product.brands">
                  <h6>{{brand.name}}</h6>
                </li>
              </ul>
            </div>
            <div class="col-3">
              <h3>Categoría</h3>
              <ul>
                <li *ngFor="let category of product.category">
                  <h6>{{category.name}}</h6>
                </li>
              </ul>
            </div>
            <div class="col-3">
              <h3>SubCategoría</h3>
              <ul>
                <li *ngFor="let subCategory of product.subCategory">
                  <h6>{{subCategory.name}}</h6>
                </li>
              </ul>
            </div>
            <div class="col-3">
              <h3>N&uacute;mero de Parte / SKU</h3>
              <ul>
                <li *ngFor="let subCategory of product.subCategory">
                  <h6>{{product.partnumber}}/{{product.sku}}</h6>
                </li>
              </ul>
            </div>
          </div>
          <p>{{product.generalInfo.SummaryDescription.LongSummaryDescription}}</p>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>
        Información Adicional
      </a>
      <ng-template ngbNavContent>
        <div class="product-desc-content">
        </div>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>
        Envíos y Devoluciones
      </a>
      <ng-template ngbNavContent>
        <div class="product-desc-content">
          <h3>Normas para los Envíos y Devoluciones</h3>
          <p>
            Daru.mx, a través de sus proveedores de mensajería, tiene presencia en los 32 estados de la república.<br>
            Para tener transparencia total en los costos de nuestros productos, mostramos el costo de envío en cada uno
            de ellos (en caso de que solo requieras comprar un producto). A medida que agregues más productos a tu
            compra, tendrás mayor beneficio en el costo de envío.<br>
            Es importante ingresar los datos completos y correctos en el apartado de dirección de envío, ya que es
            esencial para que nuestros proveedores de mensajería puedan hacer la entrega de manera correcta y a
            tiempo.
          </p>
          <br>
          <h3>Normas para las Devoluciones</h3>
          <p>El cliente tiene 3 días hábiles después de haber recibido su producto para hacer devolución de este. Una
            vez
            pasando los 3 días hábiles, no procederá el proceso de devolución.</p>
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
