<div class="sidebar-shop" [ngClass]="toggle ? 'sidebar-filter' : 'sidebar'">
  <div [ngClass]="toggle ? 'sidebar-filter-wrapper' : ''">
    <div class="widget-clean">
      <label>Filtros:</label>
      <a [routerLink]="[]" class="sidebar-filter-clear">Limpiar Todo</a>
    </div>

    <div class="widget">
      <h3 class="widget-title mb-2"><span>Marcas</span></h3>
      <div class="collapse show" id="widget-2">
        <div class="widget-body">
          <div class="filter-items">
            <div class="filter-item" *ngFor="let item of brands; let index = index;">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" [id]="item.slug"
                  [checked]="containsAttrInUrl('brand', item.slug)" (change)="onAttrClick('brand', item.slug)">
                <label class="custom-control-label" [for]="item.slug">{{ item.description }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="widget">
      <h3 class="widget-title mb-2"><span>Categor&iacute;as</span></h3>
      <div class="collapse show" id="widget-1">
        <div class="widget-body">
          <div class="filter-items filter-items-count">
            <div class="filter-item" *ngFor="let categorie of categories">
              <ul>
                <li>
                  <a [routerLink]="[]" [queryParams]="{category: 'computadoras'}"
                    routerLinkActive="active">Computadoras</a>
                  <ul>
                    <li>
                      <a [routerLink]="[]" [queryParams]="{category: 'computadoras', subCategory: 'laptops'}"
                        routerLinkActive="active">Laptops</a>
                    </li>
                    <li>
                      <a [routerLink]="[]"
                        [queryParams]="{category: 'computadoras', subCategory: 'desktops'}"
                        routerLinkActive="active">Desktops</a>
                    </li>
                    <li>
                      <a [routerLink]="[]"
                        [queryParams]="{category: 'computadoras', subCategory: 'work-stations'}"
                        routerLinkActive="active">Work
                        Stations</a>
                    </li>
                    <li>
                      <a [routerLink]="[]" [queryParams]="{category: 'computadoras', subCategory: 'tablets'}"
                        routerLinkActive="active">Tablets</a>
                    </li>
                  </ul>
                </li>
                <li class="parent">
                  <a [routerLink]="[]" [queryParams]="{category: 'software'}"
                    routerLinkActive="active">Software</a>
                  <ul>
                    <li>
                      <a [routerLink]="[]" [queryParams]="{category: 'software', subCategory: 'antivirus'}"
                        routerLinkActive="active">Antivirus</a>
                    </li>
                    <li>
                      <a [routerLink]="[]" [queryParams]="{category: 'software', subCategory: 'ofimatica'}"
                        routerLinkActive="active">Ofimatica</a>
                    </li>
                    <li>
                      <a [routerLink]="[]"
                        [queryParams]="{category: 'software', subCategory: 'sistema-operativo'}"
                        routerLinkActive="active">Sistema
                        Operativo</a>
                    </li>
                  </ul>
                </li>
                <li class="parent">
                  <a [routerLink]="[]" [queryParams]="{category: 'impresion'}"
                    routerLinkActive="active">Impresión</a>
                  <ul>
                    <li>
                      <a [routerLink]="[]" [queryParams]="{category: 'impresion', subCategory: 'impresoras'}"
                        routerLinkActive="active">Impresoras</a>
                    </li>
                    <li>
                      <a [routerLink]="[]" [queryParams]="{category: 'impresion', subCategory: 'escaners'}"
                        routerLinkActive="active">Escaners</a>
                    </li>
                    <li>
                      <a [routerLink]="[]"
                        [queryParams]="{category: 'impresion', subCategory: 'consumibles'}"
                        routerLinkActive="active">Consumibles</a>
                    </li>
                    <li>
                      <a [routerLink]="[]"
                        [queryParams]="{category: 'impresion', subCategory: 'refacciones'}"
                        routerLinkActive="active">Refacciones</a>
                    </li>
                  </ul>
                </li>
                <li class="parent">
                  <a [routerLink]="[]" [queryParams]="{category: 'energia'}"
                    routerLinkActive="active">Energia</a>
                  <ul>
                    <li>
                      <a [routerLink]="[]"
                        [queryParams]="{category: 'energia', subCategory: 'no-nreak-y-ups'}"
                        routerLinkActive="active">No Break y
                        UPS</a>
                    </li>
                    <li>
                      <a [routerLink]="[]" [queryParams]="{category: 'energia', subCategory: 'reguladores'}"
                        routerLinkActive="active">Reguladores</a>
                    </li>
                    <li>
                      <a [routerLink]="[]"
                        [queryParams]="{category: 'energia', subCategory: 'multicontacto'}"
                        routerLinkActive="active">Multicontacto</a>
                    </li>
                    <li>
                      <a [routerLink]="[]"
                        [queryParams]="{category: 'energia', subCategory: 'baterias-para-ups'}"
                        routerLinkActive="active">Baterias
                        para UPS</a>
                    </li>
                  </ul>
                </li>
                <li class="parent">
                  <a [routerLink]="[]" [queryParams]="{category: 'monitores-y-video'}"
                    routerLinkActive="active">Monitores y
                    Video</a>
                  <ul>
                    <li>
                      <a [routerLink]="[]"
                        [queryParams]="{category: 'monitores-y-video', subCategory: 'pantallas-de-tv'}"
                        routerLinkActive="active">Pantallas de
                        TV</a>
                    </li>
                    <li>
                      <a [routerLink]="[]"
                        [queryParams]="{category: 'monitores-y-video', subCategory: 'monitores'}"
                        routerLinkActive="active">Monitores</a>
                    </li>
                    <li>
                      <a [routerLink]="[]"
                        [queryParams]="{category: 'monitores-y-video', subCategory: 'proyectores'}"
                        routerLinkActive="active">Proyectores</a>
                    </li>
                  </ul>
                </li>
                <li class="parent">
                  <a [routerLink]="[]" [queryParams]="{category: 'redes'}"
                    routerLinkActive="active">Redes</a>
                  <ul>
                    <li>
                      <a [routerLink]="[]" [queryParams]="{category: 'redes', subCategory: 'access-point'}"
                        routerLinkActive="active">Access Point</a>
                    </li>
                    <li>
                      <a [routerLink]="[]" [queryParams]="{category: 'redes', subCategory: 'switches'}"
                        routerLinkActive="active">Switches</a>
                    </li>
                    <li>
                      <a [routerLink]="[]"
                        [queryParams]="{category: 'redes', subCategory: 'adaptadores-de-red'}"
                        routerLinkActive="active">Adaptadores de
                        Red</a>
                    </li>
                    <li>
                      <a [routerLink]="[]"
                        [queryParams]="{category: 'redes', subCategory: 'tarjetas-de-red'}"
                        routerLinkActive="active">Tarjetas de
                        Red</a>
                    </li>
                  </ul>
                </li>
                <li class="parent">
                  <a [routerLink]="[]" [queryParams]="{category: 'componentes'}"
                    routerLinkActive="active">Componentes</a>
                  <ul>
                    <li>
                      <a [routerLink]="[]"
                        [queryParams]="{category: 'componentes', subCategory: 'memorias-ram'}"
                        routerLinkActive="active">Memorias RAM</a>
                    </li>
                    <li>
                      <a [routerLink]="[]"
                        [queryParams]="{category: 'componentes', subCategory: 'discos-duros'}"
                        routerLinkActive="active">Discos Duros</a>
                    </li>
                    <li>
                      <a [routerLink]="[]"
                        [queryParams]="{category: 'componentes', subCategory: 'procesadores'}"
                        routerLinkActive="active">Procesadores</a>
                    </li>
                    <li>
                      <a [routerLink]="[]"
                        [queryParams]="{category: 'componentes', subCategory: 'fuentes-de-poder'}"
                        routerLinkActive="active">Fuentes de
                        Poder</a>
                    </li>
                    <li>
                      <a [routerLink]="[]"
                        [queryParams]="{category: 'componentes', subCategory: 'placas-madres'}"
                        routerLinkActive="active">Placas
                        Madres</a>
                    </li>
                    <li>
                      <a [routerLink]="[]"
                        [queryParams]="{category: 'componentes', subCategory: 'gabinetes'}"
                        routerLinkActive="active">Gabinetes</a>
                    </li>
                  </ul>
                </li>
                <li class="parent">
                  <a [routerLink]="[]" [queryParams]="{category: 'almacenamiento'}"
                    routerLinkActive="active">Almacenamiento</a>
                  <ul>
                    <li>
                      <a [routerLink]="[]"
                        [queryParams]="{category: 'almacenamiento', subCategory: 'discos-duros-mecanicos'}"
                        routerLinkActive="active">Discos
                        Duros Mecanicos</a>
                    </li>
                    <li>
                      <a [routerLink]="[]"
                        [queryParams]="{category: 'almacenamiento', subCategory: 'discos-duros-solidos'}"
                        routerLinkActive="active">Discos
                        Duros Sólidos</a>
                    </li>
                    <li>
                      <a [routerLink]="[]"
                        [queryParams]="{category: 'almacenamiento', subCategory: 'nemorias-usb'}"
                        routerLinkActive="active">Memorias USB</a>
                    </li>
                    <li>
                      <a [routerLink]="[]"
                        [queryParams]="{category: 'almacenamiento', subCategory: 'discos-duros-externos'}"
                        routerLinkActive="active">Discos
                        Duros Externos</a>
                    </li>
                    <li>
                      <a [routerLink]="[]"
                        [queryParams]="{category: 'almacenamiento', subCategory: 'lectores-de-memorias'}"
                        routerLinkActive="active">Lectores
                        de Memorias</a>
                    </li>
                    <li>
                      <a [routerLink]="[]"
                        [queryParams]="{category: 'almacenamiento', subCategory: 'gabinete-para-disco-duro'}"
                        routerLinkActive="active">Gabinete
                        para Disco Duro</a>
                    </li>
                  </ul>
                </li>
                <li class="parent">
                  <a [routerLink]="[]" [queryParams]="{category: 'accesorios'}"
                    routerLinkActive="active">Accesorios</a>
                  <ul>
                    <li>
                      <a [routerLink]="[]" [queryParams]="{category: 'accesorios', subCategory: 'teclados'}"
                        routerLinkActive="active">Teclados</a>
                    </li>
                    <li>
                      <a [routerLink]="[]" [queryParams]="{category: 'accesorios', subCategory: 'mouses'}"
                        routerLinkActive="active">Mouses</a>
                    </li>
                    <li>
                      <a [routerLink]="[]" [queryParams]="{category: 'accesorios', subCategory: 'audifonos'}"
                        routerLinkActive="active">Audífonos</a>
                    </li>
                    <li>
                      <a [routerLink]="[]" [queryParams]="{category: 'accesorios', subCategory: 'bocinas'}"
                        routerLinkActive="active">Bocinas</a>
                    </li>
                    <li>
                      <a [routerLink]="[]" [queryParams]="{category: 'accesorios', subCategory: 'mochilas'}"
                        routerLinkActive="active">Mochilas</a>
                    </li>
                    <li>
                      <a [routerLink]="[]" [queryParams]="{category: 'accesorios', subCategory: 'hubs'}"
                        routerLinkActive="active">Hubs</a>
                    </li>
                    <li>
                      <a [routerLink]="[]" [queryParams]="{category: 'accesorios', subCategory: 'Mousepads'}"
                        routerLinkActive="active">Mousepads</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="widget">
      <h3 class="widget-title mb-2"><span>Precio</span></h3>
      <div class="collapse show" id="widget-3">
        <div class="widget-body">
          <div class="filter-items">
            <div class="filter-item" *ngFor="let item of shopData.prices; let index = index;">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" [id]="'price-' + index"
                  [checked]="containsPriceInUrl(item)" (change)="onPriceChange($event, item)">
                <label class="custom-control-label" [for]="'price-' + index">{{ item.name }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="widget">
      <h3 class="widget-title mb-2"><span>Rating</span></h3>
      <div class="collapse show" id="widget-4">
        <div class="widget-body">
          <div class="filter-items">
            <div class="filter-item" *ngFor="let item of [5,4,3,2,1]; let index = index;">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" [id]="'rating-' + index"
                  [checked]="containsAttrInUrl('rating', item.toString())"
                  (change)="onAttrClick('rating', item.toString())">
                <label class="custom-control-label" [for]="'rating-' + index">
                  <span class="ratings-container">
                    <span class="ratings">
                      <span class="ratings-val" [style.width]="item * 20 + '%'"></span>
                    </span>

                    <span class="ratings-text"></span>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="widget">
      <h3 class="widget-title mb-2"><span>Colores</span></h3>
      <div class="collapse show" id="widget-5">
        <div class="widget-body">
          <div class="filter-colors">
            <a [routerLink]="[]" [queryParams]="{color: getUrlForAttrs('color', item.color_name), page: 1}"
              queryParamsHandling="merge" [style.background-color]="item.color"
              [class.selected]="containsAttrInUrl('color', item.color_name)" *ngFor="let item of shopData.colors">
              <span class="sr-only">Color Name</span>
            </a>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
