<main class="main">
  <app-page-header title="Ya casi es Tuyo!" subtitle="" image="assets/images/banners/banner-checkout.jpg"></app-page-header>
  <nav class="breadcrumb-nav">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/shop/products">Productos</a>
        </li>
        <li class="breadcrumb-item active">Monto a Verificar {{ (cartService.priceTotal | async).toFixed(2) | currency}}
        </li>
      </ol>
    </div>
  </nav>

  <div class="page-content">
    <div class="checkout">
      <div class="container">
        <!-- <div class="checkout-discount">
                    <form action="#" id="checkout-discount-form">
                        <input type="text" class="form-control" required id="checkout-discount-input"
                            (click)="addOpacity($event)">
                        <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to
                                enter your code</span></label>
                    </form>
                </div> -->
        <form (ngSubmit)="onSubmit()" [formGroup]="formData">
          <div class="row">
            <div class="col-lg-7">
              <h2 class="checkout-title">Detalles del Recibo</h2>
              <div class="row">
                <div class="col-sm-6 form-group">
                  <label>Nombre(s) *</label>
                  <input type="text" class="form-control" name="nombres" formControlName="name" required>
                </div>

                <div class="col-sm-6 form-group">
                  <label>Apellido(s) *</label>
                  <input type="text" class="form-control" name="lastname" formControlName="lastname" required>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <label>Teléfono *</label>
                  <input type="phone" class="form-control" name="phone" formControlName="phone"
                    (keypress)="bloquearLetras($event)" required>
                </div>
                <div class="col-sm-6">
                  <label>Correo Electrónico *</label>
                  <input type="email" name="email" class="form-control" formControlName="email" required>
                </div>
              </div>

              <!-- <label>Empresa (Optional)</label>
              <input type="text" class="form-control" name="company"> -->

              <div class="row">
                <div class="col-sm-6 form-check">
                  <div class="row codigo_postal">
                    <div class="col-sm-9">
                      <label class='align-bottom'>¿Conoces el Código Postal? Activar/Desactivar captura</label>
                    </div>
                    <div class="col-sm-3">
                      <input type="checkbox" name="byCodigopostal" class="form-control form-check-input align-bottom"
                        (change)="onActiveCP()" formControlName="byCodigopostal">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 form-group">
                  <label>Código Postal *</label>
                  <input type="text" name="codigoPostal" class="form-control" formControlName="codigoPostal"
                    (blur)="onSetCps($event)" [attr.disabled]="!byCodigopostal ? 'true' : null">
                  <!-- <label *ngIf="!byCodigopostal">Lista Códigos Postales*</label>
                  <select *ngIf="!byCodigopostal" class="form-control" name="codigoPostal" required
                    formControlName="codigoPostal" [attr.disabled]="byCodigopostal ? 'true' : null">
                    <option [ngValue]="''" [selected]="'' == codigoPostal">Elije un CP</option>
                    <option *ngFor="let cp of codigosPostales" [ngValue]="cp">
                      {{cp}}
                    </option>
                  </select> -->
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3 form-group">
                  <label>Pais *</label>
                  <select class="form-control" name="selectCountry" required formControlName="selectCountry"
                    (change)="onSetEstados($event.target)">
                    <option [ngValue]="''" [selected]="'' == selectCountry.c_pais">Elije un País</option>
                    <option *ngFor="let country of countrys" [ngValue]="country.c_pais">
                      {{country.d_pais}}
                    </option>
                  </select>
                </div>
                <div class="col-sm-3 form-group">
                  <label>Estado *</label>
                  <select class="form-control" name="selectEstado" required formControlName="selectEstado"
                    (change)="onSetMunicipios($event.target)">
                    <option [ngValue]="''" [selected]="'' == selectEstado.c_estado">Elije un Estado</option>
                    <option *ngFor="let estado of estados" [ngValue]="estado.c_estado">
                      {{estado.d_estado}}
                    </option>
                  </select>
                </div>
                <div class="col-sm-6 form-group">
                  <label>Municipio *</label>
                  <select class="form-control" name="selectMunicipio" required formControlName="selectMunicipio"
                    (change)="onSetColonias($event.target)">
                    <option [ngValue]="''" [selected]="'' == selectMunicipio.c_mnpio">Elije un Municipio</option>
                    <option *ngFor="let municipio of municipios" [ngValue]="municipio.c_mnpio">
                      {{municipio.D_mnpio}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <label>Colonia *</label>
                  <input *ngIf="!byCodigopostal" type="text" name="selectColonia" class="form-control"
                    formControlName="selectColonia" placeholder="" required>
                  <select *ngIf="byCodigopostal" class="form-control" name="selectColonia"
                    formControlName="selectColonia" required (change)="onSetCps(null)">
                    <option [ngValue]="''" [selected]="'' == selectColonia">Elije la Colonia</option>
                    <option *ngFor="let colonia of colonias" [ngValue]="colonia">
                      {{colonia}}
                    </option>
                  </select>
                </div>
                <div class="col-sm-6">
                  <label>Dirección *</label>
                  <input type="text" class="form-control" name="directions" formControlName="directions"
                    placeholder="Calle" required>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <label>N&uacute;mero Exterior *</label>
                  <input type="text" class="form-control" name="outdoorNumber" formControlName="outdoorNumber"
                    placeholder="N&uacute;mero Exterior" required>
                </div>
                <div class="col-sm-6">
                  <label>N&uacute;mero Interior</label>
                  <input type="text" class="form-control" name="interiorNumber" formControlName="interiorNumber"
                    placeholder="N&uacute;mero Interior">
                </div>
              </div>

              <!-- <div *ngIf="habilitacrearcuenta" class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="crearcuenta" name="crearcuenta"
                  formControlName="crearcuenta">
                <label class="custom-control-label" for="crearcuenta">Crear una cuenta?</label>
              </div> -->

              <!-- <div class="form-group">
                <div class="custom-control custom-checkbox mt-0 address-box">
                  <input type="checkbox" class="custom-control-input" id="checkout-diff-address"
                    (change)="formToggle($event)">
                  <label class="custom-control-label" for="checkout-diff-address">Enviar a una dirección
                    diferente?</label>
                </div>
                <div class="shipping-info" style="display: none;">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Nombre(s) <abbr class="required" title="required">*</abbr></label>
                        <input type="text" class="form-control" />
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Apellido(s) <abbr class="required" title="required">*</abbr></label>
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Empresa (opcional)</label>
                    <input type="text" class="form-control" />
                  </div>

                  <div class="select-custom">
                    <label>Pais <span class="required">*</span></label>
                    <select name="orderby" class="form-control">
                      <option value="" defaultValue="selected">México</option>
                    </select>
                  </div>

                  <div class="form-group mb-1 pb-2">
                    <label>Dirección <abbr class="required" title="required">*</abbr></label>
                    <input type="text" class="form-control" placeholder="Calle y Número" />
                  </div>

                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Colonia" />
                  </div>

                  <div class="form-group">
                    <label>Ciudad <abbr class="required" title="required">*</abbr></label>
                    <input type="text" class="form-control" />
                  </div>

                  <div class="select-custom">
                    <label>Estado <abbr class="required" title="required">*</abbr></label>
                    <select name="orderby" class="form-control">
                      <option value="" defaultValue="selected">Tabasco</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label>Código Postal <abbr class="required" title="required">*</abbr></label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
              </div> -->

              <label>Referencias de Entrega *</label>
              <textarea class="form-control" cols="30" rows="4" name="references" formControlName="references"
                required></textarea>
            </div>
            <aside class="col-lg-5">
              <div class="summary">
                <h3 class="summary-title">Tu orden</h3>

                <table class="table table-summary">
                  <thead>
                    <tr>
                      <th>Producto</th>
                      <th>Total</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let product of cartItems">
                      <td><a [routerLink]="['/product/default/'+ product.id]">{{ product.name }}</a>
                      </td>
                      <td>{{ product.sum.toFixed( 2 ) | currency }}</td>
                    </tr>
                    <tr class="summary-subtotal">
                      <td>Subtotal:</td>
                      <td>{{ (cartService.priceTotal | async).toFixed(2) | currency }}</td>
                    </tr>

                    <tr class="summary-shipping">
                      <td>Env&iacute;os:</td>
                      <td>{{totalEnvios | currency}}</td>
                    </tr>

                    <tr *ngFor="let shipment of shipments" class="summary-shipping-row">
                      <td>
                        <!-- <div class="custom-control custom-radio">
                          <input type="radio" id="{{shipment.empresa}}" name="shipping" class="custom-control-input"
                            (change)="changeShipping(shipment.costo)">
                          <label class="custom-control-label" for="{{shipment.empresa}}">{{shipment.lugarEnvio}}</label>
                        </div> -->
                        <label for="{{shipment.empresa}}">Env&iacute;o para: {{shipment.lugarRecepcion}}</label>
                      </td>
                      <td>{{shipment.costo.toFixed(2) | currency}}</td>
                    </tr>

                    <tr class="summary-total">
                      <td>Total:</td>
                      <td>{{ totalPagar | currency }}</td>
                    </tr>
                  </tbody>
                </table>

                <app-accordion adClass="accordion-summary" id="accordion-payment">
                  <div class="card">
                    <div class="card-header" id="heading-7">
                      <h2 class="card-title">
                        <a class="toggle-button collapsed" role="button" data-toggle="collapse" href="#collapse-7"
                          aria-expanded="false" aria-controls="collapse-7" (click)="onHabilitaPago(PAY_OPENPAY)">
                          OPENPAY Tarjetas de Cr&eacute;dito o D&eacute;bito
                        </a>
                      </h2>
                    </div>
                    <div id="collapse-7" class="collapse" aria-labelledby="heading-7" data-parent="#accordion-payment">
                      <div class="card-body">
                        <div class="bkng-tb-cntnt">
                          <div class="pymnts">
                            <input type="hidden" name="token_id" id="token_id" formControlName="token_id">
                            <form action="#" method="POST" id="payment-form">
                              <div class="pymnt-itm card active">
                                <!-- <h2>Tarjeta de crédito o débito</h2> -->
                                <div class="openpay">
                                  <div class="logo">Transacciones realizadas vía:</div>
                                </div>
                                <div class="pymnt-cntnt">
                                  <!-- <div class="sctn-row">
                                    <div class="sctn-col l">
                                      <label>Nombre del titular</label><input type="text"
                                        placeholder="Como aparece en la tarjeta" autocomplete="off"
                                        data-openpay-card="holder_name">
                                    </div>
                                  </div> -->
                                  <div class="sctn-row">
                                    <div class="sctn-col l">
                                      <label>Número de tarjeta</label>
                                      <input type="text" autocomplete="off" data-openpay-card="card_number"
                                        [(ngModel)]="numeroTarjetaFormateado"
                                        (input)="formatearNumeroTarjeta(numeroTarjetaFormateado)" maxlength="19"
                                        (keypress)="bloquearLetras($event)">
                                    </div>
                                  </div>
                                  <div class="sctn-row">
                                    <div class="sctn-col l">
                                      <label>Fecha de expiración</label>
                                      <div class="sctn-col half l"><input type="text" placeholder="Mes"
                                          data-openpay-card="expiration_month" maxlength="2"
                                          (keypress)="bloquearLetras($event)"></div>
                                      <div class="sctn-col half l"><input type="text" placeholder="Año"
                                          data-openpay-card="expiration_year" maxlength="2"
                                          (keypress)="bloquearLetras($event)"></div>
                                    </div>
                                  </div>
                                  <div class="sctn-row">
                                    <div class="sctn-col cvv"><label>Código de seguridad</label>
                                      <div class="sctn-col half l"><input type="text" placeholder="3 dígitos"
                                          autocomplete="off" data-openpay-card="cvv2" maxlength="3"
                                          (keypress)="bloquearLetras($event)">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="openpay">
                                    <div class="shield">Tus pagos se realizan de forma segura con encriptación de 256
                                      bits</div>
                                  </div>
                                  <div class="sctn-row">
                                    <div class="card-expl">
                                      <div class="credit">
                                        <p>Tarjetas de crédito</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="sctn-row">
                                    <div class="card-expl">
                                      <div class="debit">
                                        <p>Tarjetas de débito</p>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- <div class="sctn-row">
                                    <a class="button rght" id="pay-button">Pagar</a>
                                  </div> -->
                                </div>
                              </div>
                              <hr>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="card">
                    <div class="card-header" id="heading-6">
                      <h2 class="card-title">
                        <a class="toggle-button collapsed" role="button" data-toggle="collapse" href="#collapse-6"
                          aria-expanded="false" aria-controls="collapse-6" (click)="onHabilitaPago(PAY_STRIPE)">
                          Stripe(Tarjetas de Cr&eacute;dito)
                        </a>
                      </h2>
                    </div>
                    <div id="collapse-6" class="collapse" aria-labelledby="heading-6" data-parent="#accordion-payment">
                      <div class="card-body">
                        <ng-stripe-pay-form [key]="key" [hidePostalCode]="true" class="text-center">
                        </ng-stripe-pay-form>
                      </div>
                    </div>
                  </div> -->

                  <div class="card">
                    <div class="card-header" id="heading-1">
                      <h2 class="card-title">
                        <a class="toggle-button collapsed" role="button" data-toggle="collapse" href="#collapse-1"
                          aria-expanded="false" aria-controls="collapse-1" (click)="onHabilitaPago(PAY_TRANSFER)">
                          OPENPAY Transferencia Bancaria
                        </a>
                      </h2>
                    </div>
                    <div id="collapse-1" class="collapse" aria-labelledby="heading-1" data-parent="#accordion-payment">
                      <div class="card-body">
                        <div class="pymnt-itm card active">
                          <div class="openpay">
                            <div class="logo">Transacci&oacute;n realizada vía:</div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            Realiza tu pago directamente en nuestra cuenta bancaria.
                            Su pedido no se enviará hasta que los fondos se hayan liquidado en nuestra cuenta.
                          </div>
                        </div>
                        <div class="row text-center">
                          <div class="col-6">Nombre de la Cuenta</div>
                          <div class="col-6">Clabe del Banco (18 digitos)</div>
                        </div>
                        <div class="row text-center">
                          <div class="col-6">
                            <label class="text-primary">DARU INNOVACION S. DE R.L. DE C.V.</label>
                          </div>
                          <div class="col-6">
                            <label class="text-primary">0121 80001201 4699 46</label>
                          </div>
                        </div>
                        <div class="row">&nbsp;</div>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="card">
                    <div class="card-header" id="heading-2">
                      <h2 class="card-title">
                        <a class="toggle-button collapsed" role="button" data-toggle="collapse" href="#collapse-2"
                          aria-expanded="false" aria-controls="collapse-2" (click)="onHabilitaPago(PAY_DEPOSIT)">
                          Deposito
                        </a>
                      </h2>
                    </div>
                    <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-payment">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-2">Banco</div>
                          <div class="col-5">Nombre</div>
                          <div class="col-5">Cuenta</div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            Depósitos en efectivo a nuestra cuenta bancaria. Su pedido no se enviará
                            hasta que los fondos se hayan liquidado en nuestra cuenta.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="heading-3">
                      <h2 class="card-title">
                        <a class="toggle-button collapsed" role="button" data-toggle="collapse" href="#collapse-3"
                          aria-expanded="false" aria-controls="collapse-3" (click)="onHabilitaPago(PAY_PAYPAL)">
                          PayPal
                        </a>
                      </h2>
                    </div>
                    <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
                      <div class="card-body">
                        <small class="float-right paypal-link">Paga con tu cuenta PayPal</small>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="heading-4">
                      <h2 class="card-title">
                        <a class="toggle-button collapsed" role="button" data-toggle="collapse" href="#collapse-4"
                          aria-expanded="false" aria-controls="collapse-4"
                          (click)="onHabilitaPago('{{PAY_MERCADO_PAGO}}')">
                          Mercado Pago
                        </a>
                      </h2>
                    </div>
                    <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-payment">
                      <div class="card-body">
                        <small class="float-right paypal-link">Paga con tu cuenta de Mercado Pago</small>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="heading-5">
                      <h2 class="card-title">
                        <a class="toggle-button collapsed" role="button" data-toggle="collapse" href="#collapse-5"
                          aria-expanded="false" aria-controls="collapse-5" (click)="onHabilitaPago(PAY_PAYU)">
                          PayU
                        </a>
                      </h2>
                    </div>
                    <div id="collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion-payment">
                      <div class="card-body">
                        <small class="float-right paypal-link">Paga con tu cuenta PayU</small>
                      </div>
                    </div>
                  </div> -->


                  <!-- <div class="card">
                    <div class="card-header" id="heading-17">
                      <h2 class="card-title">
                        <a class="toggle-button collapsed" role="button" data-toggle="collapse" href="#collapse-17"
                          aria-expanded="false" aria-controls="collapse-17" (click)="onHabilitaPago(PAY_FREE)">
                          Libre de Pagos
                        </a>
                      </h2>
                    </div>
                    <div id="collapse-17" class="collapse" aria-labelledby="heading-17"
                      data-parent="#accordion-payment">
                      <div class="card-body">
                        Promocion Bajo Reserva de Autorizacion.
                      </div>
                    </div>
                  </div> -->
                </app-accordion>
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-8">
                    <button type="submit" class="btn btn-outline-primary btn-order btn-block btn-round"
                      [disabled]="!formData.valid">
                      <span class="btn-text">Realizar Pedido</span>
                      <span class="btn-hover-text" (click)="onSubmit()">Realizando Pedido</span>
                    </button>
                  </div>
                  <div class="col-2"></div>
                </div>
              </div>
            </aside>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
