<main class="main">
  <app-page-header title="Ya casi es Tuyo!" subtitle=""
    image="assets/images/banners/banner-checkout.jpg"></app-page-header>
  <nav class="breadcrumb-nav">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Importe {{ totalPagar | currency}}
        </li>
      </ol>
    </div>
  </nav>

  <div class="page-content">
    <div class="checkout">
      <div class="container">
        <div class="checkout-discount">
          <form action="#" id="checkout-discount-form">
            <input type="text" class="form-control" (input)="convertToUppercaseCupon($event)" [(ngModel)]="cuponInput"
              id="checkout-discount-input" maxlength="15" (click)="addOpacity($event)" (blur)="validateDiscount($event)"
              required>
            <label for="checkout-discount-input" class="text-truncate">Tienes un CUPÓN de descuento? <span>Introduce tu
                código aqui</span></label>
          </form>
        </div>
        <form (ngSubmit)="onSubmit()" [formGroup]="formData">
          <div class="row">
            <div class="col-lg-7">
              <h2 class="checkout-title">Detalles del Recibo</h2>
              <div class="row">
                <div class="col-sm-6 form-group">
                  <label for="nombres">Nombre(s) *</label>
                  <input type="text" class="form-control" name="nombres" formControlName="name" title="Nombre(s)"
                    (input)="convertToUppercase($event)" (blur)="onAsignarNombres($event)" required>
                  <div class="alert alert-danger"
                    *ngIf="formData.get('name').invalid && (formData.get('name').dirty || formData.get('name').touched)">
                    <div *ngIf="formData.get('name').hasError('required')">El nombre es requerido.</div>
                    <div *ngIf="formData.get('name').hasError('name')">Teclear un nombre correcto.</div>
                  </div>
                </div>
                <div class="col-sm-6 form-group">
                  <label for="lastname">Apellido(s) *</label>
                  <input type="text" class="form-control" name="63" formControlName="lastname" title="Apellido(s)"
                    (input)="convertToUppercase($event)" (blur)="onAsignarApellidos($event)" required>
                  <div class="alert alert-danger"
                    *ngIf="formData.get('lastname').invalid && (formData.get('lastname').dirty || formData.get('lastname').touched)">
                    <div *ngIf="formData.get('lastname').hasError('required')">El apellido es requerido.</div>
                    <div *ngIf="formData.get('lastname').hasError('lastname')">Teclear un apellido correcto.</div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <label for="phone">Teléfono *</label>
                  <input type="phone" class="form-control" name="phone" formControlName="phone" title="Telefono(s)"
                    (input)="bloquearLetras($event)" maxlength='10' required>
                  <div class="alert alert-danger"
                    *ngIf="formData.get('phone').invalid && (formData.get('phone').dirty || formData.get('phone').touched)">
                    <div *ngIf="formData.get('phone').hasError('required')">El teléfono es requerido.</div>
                    <div *ngIf="formData.get('phone').hasError('pattern')">El teléfono debe contener 10 números.
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <label for="email">Correo Electrónico *</label>
                  <input type="email" name="email" class="form-control" formControlName="email" title="Correo" required
                    (blur)="validateDiscountByEmail($event)">
                  <div class="alert alert-danger"
                    *ngIf="formData.get('email').invalid && (formData.get('email').dirty || formData.get('email').touched)">
                    <div *ngIf="formData.get('email').hasError('required')">El correo electrónico es requerido.</div>
                    <div *ngIf="formData.get('email').hasError('email')">Ingrese una dirección de correo electrónico
                      válida.</div>
                  </div>
                </div>
              </div>

              <!-- <label>Empresa (Optional)</label>
              <input type="text" class="form-control" name="company"> -->

              <div class="row">
                <div *ngIf="!idDelivery" class="col-sm-6 col-12 form-check">
                  <div class="row codigo_postal align-items-center">
                    <div class="col-sm-10 col-8">
                      <label class="align-middle">¿Conoces el Código Postal? Activar/Desactivar Codigo</label>
                    </div>
                    <div class="col-sm-2 col-4 d-flex align-items-center">
                      <!-- Utilizamos d-flex y align-items-center para alinear verticalmente el checkbox -->
                      <input type="checkbox" name="byCodigopostal" class="form-control form-check-input" title="CP"
                        (change)="onActiveCP()" formControlName="byCodigopostal" [checked]="isChecked">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-12 form-group">
                  <label for="codigoPostal">Código Postal *</label>
                  <input type="text" name="codigoPostal" class="form-control" formControlName="codigoPostal" title="CP"
                    (blur)="onSetCps($event)" autocomplete="off" (input)="bloquearLetras($event)" maxlength="5"
                    [attr.disabled]="!isChecked ? 'true' : null">
                  <div class="alert alert-danger"
                    *ngIf="formData.get('codigoPostal').invalid && (formData.get('codigoPostal').dirty || formData.get('codigoPostal').touched)">
                    <div *ngIf="formData.get('codigoPostal').hasError('required')">El código postal es requerido.</div>
                    <div *ngIf="formData.get('codigoPostal').hasError('pattern')">Ingrese un código postal válido de 4 o
                      5 dígitos.</div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3 form-group">
                  <label>Pais *</label>
                  <select *ngIf="!this.idDelivery" class="form-control" name="selectCountry" title="Pais" required
                    formControlName="selectCountry" (change)="onSetEstados($event.target)">
                    <option [ngValue]="''" [selected]="'' == selectCountry.c_pais">Elije un País</option>
                    <option *ngFor="let country of countrys" [ngValue]="country.c_pais">
                      {{country.d_pais}}
                    </option>
                  </select>
                  <select *ngIf="this.idDelivery" class="form-control" name="selectCountry" title="Pais" required
                    formControlName="selectCountry" [attr.disabled]="true">
                    <option [ngValue]="selectCountry.c_pais" [selected]="'' == selectCountry.c_pais">
                      {{selectCountry.d_pais}}
                    </option>
                  </select>
                </div>
                <div class="col-sm-3 form-group">
                  <label>Estado *</label>
                  <select *ngIf="!this.idDelivery" class="form-control" name="selectEstado" title="Estado" required
                    formControlName="selectEstado" (change)="onSetMunicipios($event.target)">
                    <option [ngValue]="''" [selected]="'' == selectEstado.c_estado">Elije un Estado</option>
                    <option *ngFor="let estado of estados" [ngValue]="estado.c_estado">
                      {{estado.d_estado}}
                    </option>
                  </select>
                  <select *ngIf="this.idDelivery" class="form-control" name="selectEstado" title="Estado" required
                    formControlName="selectEstado" [attr.disabled]="true">
                    <option [ngValue]="selectEstado.c_estado" [selected]="'' == selectEstado.c_estado">
                      {{selectEstado.d_estado}}
                    </option>
                  </select>
                </div>
                <div class="col-sm-6 form-group">
                  <label>Municipio *</label>
                  <select *ngIf="!this.idDelivery" class="form-control" name="selectMunicipio" title="Municipio"
                    required formControlName="selectMunicipio" (change)="onSetColonias($event.target)">
                    <option [ngValue]="''" [selected]="'' == selectMunicipio.c_mnpio">Elije un Municipio</option>
                    <option *ngFor="let municipio of municipios" [ngValue]="municipio.c_mnpio">
                      {{municipio.D_mnpio}}
                    </option>
                  </select>
                  <select *ngIf="this.idDelivery" class="form-control" name="selectMunicipio" title="Municipio" required
                    formControlName="selectMunicipio" [attr.disabled]="true">
                    <option [ngValue]="selectMunicipio.c_mnpio" [selected]="'' == selectMunicipio.c_mnpio">
                      {{selectMunicipio.D_mnpio}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <label>Colonia *</label>
                  <input *ngIf="!byCodigopostal" type="text" name="selectColonia" class="form-control" title="Colonia"
                    formControlName="selectColonia" placeholder="" [attr.disabled]="idDelivery ? 'true' : null"
                    required>
                  <select *ngIf="byCodigopostal" class="form-control" name="selectColonia" title="Colonia"
                    formControlName="selectColonia" required (change)="onSetShippments($event)">
                    <option [ngValue]="''" [selected]="'' == selectColonia">Elije la Colonia</option>
                    <option *ngFor="let colonia of colonias" [ngValue]="colonia">
                      {{colonia}}
                    </option>
                  </select>
                </div>
                <div class="col-sm-6">
                  <label for="directions">Dirección *</label>
                  <input type="text" class="form-control" name="directions" formControlName="directions"
                    placeholder="Calle" [attr.disabled]="idDelivery ? 'true' : null" required>
                  <div class="alert alert-danger"
                    *ngIf="formData.get('directions').invalid && (formData.get('directions').dirty || formData.get('directions').touched)">
                    <div *ngIf="formData.get('directions').hasError('required')">La direcci&oacute;n es requerida.</div>
                    <div *ngIf="formData.get('directions').hasError('directions')">Teclear una direcci&oacute;n
                      correcta.</div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <label for="outdoorNumber">N&uacute;mero Exterior *</label>
                  <input type="text" class="form-control" name="outdoorNumber" formControlName="outdoorNumber"
                    placeholder="N&uacute;mero Exterior" [attr.disabled]="idDelivery ? 'true' : null" maxlength="10"
                    required>
                  <div class="alert alert-danger"
                    *ngIf="formData.get('outdoorNumber').invalid && (formData.get('outdoorNumber').dirty || formData.get('outdoorNumber').touched)">
                    <div *ngIf="formData.get('outdoorNumber').hasError('required')">El N&uacute;mero Exterior
                      requerida.</div>
                    <div *ngIf="formData.get('outdoorNumber').hasError('outdoorNumber')">Teclear el N&uacute;mero
                      Exterior.</div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <label for="interiorNumber">N&uacute;mero Interior</label>
                  <input type="text" class="form-control" name="interiorNumber" formControlName="interiorNumber"
                    placeholder="N&uacute;mero Interior" [attr.disabled]="idDelivery ? 'true' : null" maxlength="10">
                </div>
              </div>

              <label>Referencias de Entrega *</label>
              <textarea class="form-control" cols="30" rows="4" name="references" formControlName="references"
                title="Referencias" [attr.disabled]="idDelivery ? 'true' : null" required></textarea>
              <div class="alert alert-danger"
                *ngIf="formData.get('references').invalid && (formData.get('references').dirty || formData.get('references').touched)">
                <div *ngIf="formData.get('references').hasError('required')">La Referencia es requerida.</div>
                <div *ngIf="formData.get('references').hasError('references')">Teclear la referencia.</div>
              </div>
            </div>
            <aside class="col-lg-5">
              <div class="row">&nbsp;</div>
              <div class="summary">
                <h3 class="summary-title">Listado de tus productos</h3>

                <table class="table table-summary">
                  <thead>
                    <tr>
                      <th>Cant</th>
                      <th>Producto(s)</th>
                      <th>PU</th>
                      <th>Total</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let product of cartItems">
                      <td>{{ product.qty }}</td>
                      <td><a [routerLink]="['/product/default/'+ product.id]">{{ capitalizeFirstLetter(product.name)
                          }}</a></td>
                      <td>{{ product.price.toFixed( 2 ) | currency }}</td>
                      <td>{{ product.sum.toFixed( 2 ) | currency }}</td>
                    </tr>
                    <tr class="summary-subtotal">
                      <td colspan="3">Subtotal:</td>
                      <td>{{ subTotal | currency }}</td>
                    </tr>
                    <tr *ngIf="typeDiscount==='importe'" class="summary-subtotal">
                      <td colspan="3">Descuentos:</td>
                      <td>{{discount | currency}}</td>
                    </tr>
                    <tr *ngIf="typeDiscount!=='importe'" class="summary-subtotal">
                      <td colspan="3">Descuentos {{discountPorc}}%:</td>
                      <td>{{discount | currency}}</td>
                    </tr>
                    <tr class="summary-subtotal">
                      <td colspan="3">Env&iacute;os:</td>
                      <td></td>
                    </tr>
                    <tr *ngFor="let warehouse of warehouses; let i = index">
                      <td colspan="3">
                        {{ warehouses.length > 1 ? 'Envío ' + (i + 1) : 'Envío' }}
                      </td>
                      <td>
                        <ng-container *ngFor="let shipment of warehouse.shipments">
                          {{ shipment.costo| currency }}
                        </ng-container>
                      </td>
                    </tr>
                    <tr class="summary-subtotal">
                      <td colspan="3">Costo del Env&iacute;o:</td>
                      <td>{{totalEnvios | currency}}</td>
                    </tr>
                    <tr class="summary-total">
                      <td colspan="3">Total:</td>
                      <td>{{ totalPagar | currency }}</td>
                    </tr>
                  </tbody>
                </table>

                <app-accordion *ngIf="!this.idDelivery" adClass="accordion-summary" id="accordion-payment">
                  <div class="card">
                    <div class="card-header" id="heading-7">
                      <h2 class="card-title">
                        <a class="toggle-button collapsed" role="button" data-toggle="collapse" href="#collapse-7"
                          aria-expanded="false" aria-controls="collapse-7" (click)="onHabilitaPago(PAY_OPENPAY)">
                          OPENPAY Tarjetas de Cr&eacute;dito o D&eacute;bito
                        </a>
                      </h2>
                    </div>
                    <div id="collapse-7" class="collapse" aria-labelledby="heading-7" data-parent="#accordion-payment">
                      <div class="card-body">
                        <div class="bkng-tb-cntnt">
                          <div class="pymnts">
                            <input type="hidden" name="token_id" id="token_id" formControlName="token_id">
                            <form action="#" method="POST" id="payment-form">
                              <input type="hidden" name="holder_name" id="holder_name" data-openpay-card="holder_name">
                              <div class="pymnt-itm card active">
                                <!-- <h2>Tarjeta de crédito o débito</h2> -->
                                <div class="openpay">
                                  <div class="logo">Transacciones realizadas vía:</div>
                                </div>
                                <div class="pymnt-cntnt">
                                  <div class="sctn-row">
                                    <div class="sctn-col l">
                                      <label for="nameCard">Nombre de la tarjeta</label>
                                      <div class="sctn-col half l">
                                        <input type="text" placeholder="Nombre(s)" maxlength="20" [(ngModel)]="nameCard"
                                          name="nameCard" (input)="convertToUppercase($event)"
                                          (blur)="onAsignarNombresCard($event)">
                                      </div>
                                      <div class="sctn-col half l">
                                        <input type="text" placeholder="Apellidos" maxlength="20"
                                          [(ngModel)]="lastNameCard" name="lastNameCard"
                                          (input)="convertToUppercase($event)" (blur)="onAsignarApellidosCard($event)">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="sctn-row">
                                    <div class="sctn-col l">
                                      <label>Número de tarjeta</label>
                                      <input type="hidden" name="card_number" id="card_number"
                                        data-openpay-card="card_number">
                                      <input type="text" autocomplete="off" [(ngModel)]="numeroTarjetaFormateado"
                                        title="Numero Tarjeta" (input)="formatearNumeroTarjeta(numeroTarjetaFormateado)"
                                        maxlength="16" (input)="bloquearLetras($event)">
                                    </div>
                                  </div>
                                  <div class="sctn-row">
                                    <div class="sctn-col l">
                                      <label>Fecha de expiración</label>
                                      <div class="sctn-col quart"><input type="text" placeholder="Mes"
                                          data-openpay-card="expiration_month" maxlength="2"
                                          (input)="bloquearLetras($event)"></div>
                                      <div class="sctn-col quart"><input type="text" placeholder="Año"
                                          data-openpay-card="expiration_year" maxlength="2"
                                          (input)="bloquearLetras($event)"></div>
                                    </div>
                                  </div>
                                  <div class="sctn-row">
                                    <div class="sctn-col cvv"><label>Código de seguridad</label>
                                      <div class="sctn-col half l"><input type="text" placeholder="3 dígitos"
                                          autocomplete="off" data-openpay-card="cvv2" maxlength="3"
                                          (input)="bloquearLetras($event)">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="openpay">
                                    <div class="shield">Tus pagos se realizan de forma segura con encriptación de 256
                                      bits</div>
                                  </div>
                                  <div class="sctn-row">
                                    <div class="card-expl">
                                      <div class="credit">
                                        <p>Tarjetas de crédito</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="sctn-row">
                                    <div class="card-expl">
                                      <div class="debit">
                                        <p>Tarjetas de débito</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <hr>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="heading-1">
                      <h2 class="card-title">
                        <a class="toggle-button collapsed" role="button" data-toggle="collapse" href="#collapse-1"
                          aria-expanded="false" aria-controls="collapse-1" (click)="onHabilitaPago(PAY_TRANSFER)">
                          Transferencia Bancaria
                        </a>
                      </h2>
                    </div>
                    <div id="collapse-1" class="collapse" aria-labelledby="heading-1" data-parent="#accordion-payment">
                      <div class="card-body">
                        <div class="pymnt-itm card active">
                          <div class="openpay">
                            <div class="logo">Transacci&oacute;n realizada vía:</div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            Realiza tu pago directamente en nuestra cuenta bancaria.
                            Su pedido no se enviará hasta que los fondos se hayan liquidado en nuestra cuenta.
                          </div>
                        </div>
                        <div class="row text-center">
                          <div class="col-6">Nombre de la Cuenta</div>
                          <div class="col-6">Clabe del Banco (18 digitos)</div>
                        </div>
                        <div class="row text-center">
                          <div class="col-6">
                            <label class="text-primary">DARU INNOVACION S. DE R.L. DE C.V.</label>
                          </div>
                          <div class="col-6">
                            <label class="text-primary">0121 80001201 4699 46</label>
                          </div>
                        </div>
                        <div class="transfer">
                          <div class="shield">
                            Si la transferencia es entre cuentas BBVA el tiempo de aplicación del pago es de 12 horas,
                            en caso de que sea entre distintos bancos el tiempo de aplicación es de 24 horas.
                          </div>
                        </div>
                        <div class="transfer">
                          <div class="shield">
                            Hay excepciones donde el tiempo de aplicación podría tardar entre 24-48 horas, algunas de
                            las excepciones son:
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </app-accordion>

                <!-- Para Facturacion -->
                <div class="row" *ngIf="!this.idDelivery">
                  <div class="col-12">
                    <!-- Nuevo título con checkbox -->
                    <label>
                      <input type="checkbox" (change)="showFacturacion = !showFacturacion"
                        [checked]="showFacturacion" />
                      Facturación
                    </label>
                  </div>
                </div>
                <app-card *ngIf="!this.idDelivery" adClass="card-box card-sm bg-light" title="Datos Fiscales"
                  [show]="showFacturacion">
                  <form [formGroup]="formDataInvoice">
                    <div class="row">
                      <div class="col-12">
                        <label>Regimen Fiscal</label>
                        <select *ngIf="!this.idDelivery" class="form-control" name="regimenFiscal"
                          title="Numero Regimen Fiscal" required formControlName="regimenFiscal"
                          (change)="onChangeRegimenFiscal($event)">
                          <option [ngValue]="''" [selected]="'' == regimenFiscal.id">Elije el Regimen Fiscal</option>
                          <option *ngFor="let regimenFiscal of regimenFiscales" [ngValue]="regimenFiscal.id">
                            ({{regimenFiscal.id}})-{{regimenFiscal.descripcion}}
                          </option>
                        </select>
                        <select *ngIf="this.idDelivery" class="form-control" name="regimenFiscal"
                          title="Numero Regimen Fiscal" required formControlName="regimenFiscal">
                          <option [ngValue]="regimenFiscal.id" [selected]="'' == regimenFiscal.id">
                            ({{regimenFiscal.id}})-{{regimenFiscal.descripcion}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-7">
                        <label for="rfc">RFC</label>
                        <input type="text" class="form-control" name="rfc" formControlName="rfc" title="RFC" required
                          [maxlength]="rfcLength" (input)="convertToUppercaseRFC($event)">
                        <div class="alert alert-danger"
                          *ngIf="formDataInvoice.get('rfc').invalid && (formDataInvoice.get('rfc').dirty || formDataInvoice.get('rfc').touched)">
                          <div *ngIf="formDataInvoice.get('rfc').hasError('required')">El RFC es requerido.</div>
                          <div *ngIf="formDataInvoice.get('rfc').hasError('rfc')">Teclear un RFC correcto.
                          </div>
                        </div>
                      </div>
                      <div class="col-5">
                        <label for="codigoPostalInvoice">CP</label>
                        <input type="text" class="form-control" name="codigoPostalInvoice" title="CP"
                          formControlName="codigoPostalInvoice" autocomplete="off" (input)="bloquearLetras($event)"
                          maxlength="5" required>
                        <div class="alert alert-danger"
                          *ngIf="formDataInvoice.get('codigoPostalInvoice').invalid && (formDataInvoice.get('codigoPostalInvoice').dirty || formDataInvoice.get('codigoPostalInvoice').touched)">
                          <div *ngIf="formDataInvoice.get('codigoPostalInvoice').hasError('required')">CP requerido.
                          </div>
                          <div *ngIf="formDataInvoice.get('codigoPostalInvoice').hasError('codigoPostalInvoice')">
                            Corregir CP.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="!esPersonaMoral" class="row">
                      <div class="col-6">
                        <label for="nombresInvoice">Nombre(s)</label>
                        <input type="text" class="form-control" name="nombresInvoice" formControlName="nombresInvoice"
                          title="Nombre" (input)="convertToUppercase($event)" required>
                        <div class="alert alert-danger"
                          *ngIf="formDataInvoice.get('nombresInvoice').invalid && (formDataInvoice.get('nombresInvoice').dirty || formDataInvoice.get('nombresInvoice').touched)">
                          <div *ngIf="formDataInvoice.get('nombresInvoice').hasError('required')">El nombre es
                            requerido.</div>
                          <div *ngIf="formDataInvoice.get('nombresInvoice').hasError('nombresInvoice')">Teclear un
                            nombre correcto.
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <label for="apellidos">Apellidos</label>
                        <input type="text" class="form-control" (input)="convertToUppercase($event)" name="apellidos"
                          title="Apellidos" formControlName="apellidos" required>
                        <div class="alert alert-danger"
                          *ngIf="formDataInvoice.get('apellidos').invalid && (formDataInvoice.get('apellidos').dirty || formDataInvoice.get('apellidos').touched)">
                          <div *ngIf="formDataInvoice.get('apellidos').hasError('required')">Los apellidos son
                            requeridos</div>
                          <div *ngIf="formDataInvoice.get('apellidos').hasError('apellidos')">Teclear apellidos
                            correctos</div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="esPersonaMoral" class="row">
                      <div class="col-12">
                        <label for="nombreEmpresa">Nombre de la Empresa</label>
                        <input type="text" class="form-control" name="nombreEmpresa" formControlName="nombreEmpresa"
                          title="Empresa" required>
                        <div class="alert alert-danger"
                          *ngIf="formDataInvoice.get('nombreEmpresa').invalid && (formDataInvoice.get('nombreEmpresa').dirty || formDataInvoice.get('nombreEmpresa').touched)">
                          <div *ngIf="formDataInvoice.get('nombreEmpresa').hasError('required')">El nombre es
                            requerido.</div>
                          <div *ngIf="formDataInvoice.get('nombreEmpresa').hasError('nombreEmpresa')">Teclear un
                            nombre correcto.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <label>Forma de Pago</label>
                        <select *ngIf="!this.idDelivery" class="form-control" name="formaPago" title="Forma Pago"
                          required formControlName="formaPago" (change)="onChangeFormaPago($event, null)">
                          <option [ngValue]="''" [selected]="'' == regimenFiscal.id">Elije la forma de Pago</option>
                          <option *ngFor="let formaPago of formaPagos" [ngValue]="formaPago.id">
                            ({{formaPago.id}})-{{formaPago.descripcion}}
                          </option>
                        </select>
                        <select *ngIf="this.idDelivery" class="form-control" name="formaPago" title="Forma Pago"
                          required formControlName="formaPago" [attr.disabled]="true">
                          <option [ngValue]="formaPago.id" [selected]="'' == formaPago.id">
                            ({{regimenFiscal.id}})-{{formaPago.descripcion}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <label>Metodo de Pago</label>
                        <select *ngIf="!this.idDelivery" class="form-control" name="metodoPago" title="Metodo Pago"
                          required formControlName="metodoPago" (change)="onChangeMetodoPago($event, null)">
                          <option [ngValue]="''" [selected]="'' == metodoPago.id">Elije el metodo de Pago</option>
                          <option *ngFor="let metodoPago of metodoPagos" [ngValue]="metodoPago.id">
                            ({{metodoPago.id}})-{{metodoPago.descripcion}}
                          </option>
                        </select>
                        <select *ngIf="this.idDelivery" class="form-control" name="metodoPago" title="Metodo Pago"
                          required formControlName="metodoPago" [attr.disabled]="true">
                          <option [ngValue]="metodoPago.id" [selected]="'' == metodoPago.id">
                            ({{metodoPago.id}})-{{metodoPago.descripcion}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <label>Uso de Factura *</label>
                        <select *ngIf="!this.idDelivery" class="form-control" name="usoCFDI" title="Uso CFDI" required
                          formControlName="usoCFDI" (change)="onChangeUsoCFDI($event, null)">
                          <option [ngValue]="''" [selected]="'' == usoCFDI.id">Elije el uso del CFDI</option>
                          <option *ngFor="let usoCFDI of usoCFDIs" [ngValue]="usoCFDI.id">
                            ({{usoCFDI.id}})-{{usoCFDI.descripcion}}
                          </option>
                        </select>
                        <select *ngIf="this.idDelivery" class="form-control" name="usoCFDI" title="Uso CFDI" required
                          formControlName="usoCFDI" [attr.disabled]="true">
                          <option [ngValue]="usoCFDI.id" [selected]="'' == usoCFDI.id">
                            ({{usoCFDI.id}})-{{usoCFDI.descripcion}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </form>
                </app-card>

                <div class="row">&nbsp;</div>
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-8 text-center">
                    <!-- [disabled]="!formData.valid" -->
                    <button *ngIf="!idDelivery" type="submit" class="btn btn-primary btn-round btn-shadow"
                      (click)="onSubmit()">
                      <span class="btn-text btn-primary">Realizar Pedido</span>
                      <span class="btn-hover-text">Realizando Pedido</span>
                    </button>
                    <button *ngIf="idDelivery && isPagado" type="button" class="btn btn-primary btn-round btn-shadow"
                      (click)="onSubmitCapture()">
                      <span class="btn-text btn-primary">Confirmar Pedido</span>
                      <span class="btn-hover-text">Confirmando Pedido</span>
                    </button>
                  </div>
                  <div class="col-2"></div>
                </div>
                <div class="row">&nbsp;</div>
              </div>
            </aside>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
