.breadcrumb {
  .container {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }

  .breadcrumb-item a {
    color: #777;
    display: inline;
  }
}

.form-group {
  margin-bottom: 1rem;

  .form-control,
  .select-custom {
    margin-bottom: 0;
  }
}

.codigo_postal {
  margin-top: 25px;
}


// Openpay
@import "https://fonts.googleapis.com/css?family=Lato:300,400,700";

* {
  color: #444;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
}

::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}

body {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

strong {
  font-weight: 700;
}

a {
  cursor: pointer;
  display: block;
  text-decoration: none;
}

a.button {
  -webkit-border-radius: 5px 5px 5px 5px;
  /* Prefijo para Safari y Chrome */
  -moz-border-radius: 5px 5px 5px 5px;
  /* Prefijo para Firefox */
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  font-size: 21px;
  font-weight: 400;
  padding: 12px 0;
  width: 100%;
  display: table;
  background: #E51F04;
  background: -moz-linear-gradient(top, #E51F04 0%, #A60000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E51F04), color-stop(100%, #A60000));
  background: -webkit-linear-gradient(top, #E51F04 0%, #A60000 100%);
  background: -o-linear-gradient(top, #E51F04 0%, #A60000 100%);
  background: -ms-linear-gradient(top, #E51F04 0%, #A60000 100%);
  background: linear-gradient(to left, #E51F04 0%, #A60000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E51F04', endColorstr='#A60000', GradientType=0);
}

a.button i {
  margin-right: 10px;
}

a.button.disabled {
  background: none repeat scroll 0 0 #ccc;
  cursor: default;
}

.bkng-tb-cntnt {
  float: left;
  width: 400px;
}

.bkng-tb-cntnt a.button {
  color: #fff;
  float: right;
  font-size: 18px;
  padding: 5px 20px;
  width: auto;
}

.bkng-tb-cntnt a.button.o {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #e51f04;
  border: 1px solid #e51f04;
}

.bkng-tb-cntnt a.button i {
  color: #fff;
}

.bkng-tb-cntnt a.button.o i {
  color: #e51f04;
}

.bkng-tb-cntnt a.button.right i {
  float: right;
  margin: 2px 0 0 10px;
}

.bkng-tb-cntnt a.button.left {
  float: left;
}

.bkng-tb-cntnt a.button.disabled.o {
  border-color: #ccc;
  color: #ccc;
}

.bkng-tb-cntnt a.button.disabled.o i {
  color: #ccc;
}

.pymnts {
  float: left;
  width: 400px;
}

.pymnts * {
  float: left;
}

.sctn-row {
  margin-bottom: 35px;
  width: 400px;
}

.sctn-col {
  width: 375px;
}

.sctn-col.l {
  width: 425px;
}

.sctn-col input {
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 24px;
  padding: 0px 5px;
  width: 333px;
}

.sctn-col label {
  font-size: 17px;
  line-height: 16px;
  margin-bottom: 10px;
  width: 100%;
}

.sctn-col.x3 {
  width: 300px;
}

.sctn-col.x3.last {
  width: 200px;
}

.sctn-col.x3 input {
  width: 210px;
}

.sctn-col.x3 a {
  float: right;
}

.pymnts-sctn {
  width: 400px;
}

.pymnt-itm {
  margin: 0 0 3px;
  width: 400px;
}

.pymnt-itm h2 {
  background-color: #e9e9e9;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 28px 0 28px 20px;
  width: 390px;
}

.pymnt-itm.active h2 {
  cursor: default;
}

.pymnt-itm div.pymnt-cntnt {
  display: none;
}

.pymnt-itm.active div.pymnt-cntnt {
  background-color: #f7f7f7;
  display: block;
  padding: 0 0 30px;
  width: 100%;
}

.pymnt-cntnt div.sctn-row {
  margin: 5px 30px 0;
  width: 400px;
}

.pymnt-cntnt div.sctn-row div.sctn-col {
  width: 370px;
}

.pymnt-cntnt div.sctn-row div.sctn-col.l {
  width: 400px;
}

.pymnt-cntnt div.sctn-row div.sctn-col input {
  width: 369px;
}

.pymnt-cntnt div.sctn-row div.sctn-col.half {
  width: 180px;
}

.pymnt-cntnt div.sctn-row div.sctn-col.quart {
  width: 155px;
}

.pymnt-cntnt div.sctn-row div.sctn-col.half.l {
  float: left;
  width: 190px;
}

.pymnt-cntnt div.sctn-row div.sctn-col.half input {
  width: 180px;
}

.pymnt-cntnt div.sctn-row div.sctn-col.quart input {
  width: 113px;
}

.pymnt-cntnt div.sctn-row div.sctn-col.cvv {
  background-image: url("../../../../assets/images/openpay/cvv.png");
  background-position: 156px center;
  background-repeat: no-repeat;
  padding-bottom: 30px;
}

.pymnt-cntnt div.sctn-row div.sctn-col.cvv div.sctn-col.half input {
  width: 110px;
}

.openpay {
  float: right;
  height: 60px;
  margin: -20px 30px 0 0;
  width: 350px;
}

.openpay div.logo {
  background-image: url("../../../../assets/images/openpay/openpay.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  font-size: 17px;
  font-weight: 400;
  margin-left: 20px;
  padding: 5px 0 0 5px;
  width: 350px;
}

.openpay div.shield {
  background-image: url("../../../../assets/images/openpay/security.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  font-size: 12px;
  font-weight: 400;
  margin-left: 20px;
  padding: 20px 0 0 40px;
  width: 350px;
}

.card-expl {
  float: left;
  height: 40px;
  margin: 0px 0;
  width: 350px;
}

.card-expl div {
  background-position: left 45px;
  background-repeat: no-repeat;
  height: 70px;
  padding-top: 25px;
}

.card-expl div.debit {
  background-image: url("../../../../assets/images/openpay/cards2.png");
  width: 350px;
}

.card-expl div.credit {
  background-image: url("../../../../assets/images/openpay/cards1.png");
  width: 350px;
}

.card-expl h4 {
  font-weight: 400;
  margin: 0;
}

.bank {
  height: 34px !important;
}

.btn-text {
  color: #ccc;
}

.btn-hover-text {
  color: #4b02fc;
}

.alert-danger {
  background-color: #E6B0AA;
}

.transfer div.shield {
  font-size: 12px;
  font-weight: 400;
  margin-left: 5px;
  width: 380px;
}
