<main class="main">
  <app-page-header title="Productos por Marcas" subtitle="" image="assets/images/banners/banner-brands.jpg"
    containerClass="container-fluid"></app-page-header>

  <nav class="breadcrumb-nav breadcrumb-with-filter">
    <div class="container-fluid">
      <button class="sidebar-toggler" (click)="toggleSidebar()">
        <i class="icon-bars"></i>Filtros
      </button>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a [attr.href]="previousPageUrl" [innerHTML]="previousPageTitle"></a>
        </li>
        <li class="breadcrumb-item active">{{ pageTitle }}</li>
      </ol>
    </div>
  </nav>

  <div class="page-content">
    <div class="categories-page">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="row">
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="banner banner-cat banner-badge">
                  <a routerLink="/marca" [queryParams]="{brand: 'dell'}">
                    <app-image src="assets/images/brands/dell.jpg" width="75" height="75" alt="Banner">
                    </app-image>
                  </a>

                  <!-- <a class="banner-link" routerLink="/marca" [queryParams]="{brand: 'dell'}">
                    <h3 class="banner-title">DELL</h3>
                    <h4 class="banner-subtitle"># Product</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a> -->
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="banner banner-cat banner-badge">
                  <a routerLink="/marca" [queryParams]="{brand: 'hp'}">
                    <app-image src="assets/images/brands/hp.jpg" width="75" height="75" alt="Banner">
                    </app-image>
                  </a>

                  <!-- <a class="banner-link" routerLink="/marca" [queryParams]="{brand: 'hp'}">
                    <h3 class="banner-title">HP</h3>
                    <h4 class="banner-subtitle"># Product</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a> -->
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="banner banner-cat banner-badge">
                  <a routerLink="/marca" [queryParams]="{brand: 'lenovo'}">
                    <app-image src="assets/images/brands/lenovo.jpg" width="75" height="75" alt="Banner">
                    </app-image>
                  </a>

                  <!-- <a class="banner-link" routerLink="/marca" [queryParams]="{brand: 'lenovo'}">
                    <h3 class="banner-title">Canon</h3>
                    <h4 class="banner-subtitle"># Product</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a> -->
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="banner banner-cat banner-badge">
                  <a routerLink="/marca" [queryParams]="{brand: 'acer'}">
                    <app-image src="assets/images/brands/acer.jpg" width="75" height="75" alt="Banner">
                    </app-image>
                  </a>

                  <!-- <a class="banner-link" routerLink="/marca" [queryParams]="{brand: 'acer'}">
                    <h3 class="banner-title">Canon</h3>
                    <h4 class="banner-subtitle"># Product</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a> -->
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="banner banner-cat banner-badge">
                  <a routerLink="/marca" [queryParams]="{brand: 'epson'}">
                    <app-image src="assets/images/brands/epson.jpg" width="75" height="75" alt="Banner">
                    </app-image>
                  </a>

                  <!-- <a class="banner-link" routerLink="/marca" [queryParams]="{brand: 'epson'}">
                    <h3 class="banner-title">Canon</h3>
                    <h4 class="banner-subtitle"># Product</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a> -->
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="banner banner-cat banner-badge">
                  <a routerLink="/marca" [queryParams]="{brand: 'intel'}">
                    <app-image src="assets/images/brands/intel.jpg" width="75" height="75" alt="Banner">
                    </app-image>
                  </a>

                  <!-- <a class="banner-link" routerLink="/marca" [queryParams]="{brand: 'intel'}">
                    <h3 class="banner-title">Canon</h3>
                    <h4 class="banner-subtitle"># Product</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a> -->
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="banner banner-cat banner-badge">
                  <a routerLink="/marca" [queryParams]="{brand: 'brother'}">
                    <app-image src="assets/images/brands/brother.jpg" width="75" height="75" alt="Banner">
                    </app-image>
                  </a>

                  <!-- <a class="banner-link" routerLink="/marca" [queryParams]="{brand: 'brother'}">
                    <h3 class="banner-title">Canon</h3>
                    <h4 class="banner-subtitle"># Product</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a> -->
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="banner banner-cat banner-badge">
                  <a routerLink="/marca" [queryParams]="{brand: 'asus'}">
                    <app-image src="assets/images/brands/asus.jpg" width="75" height="75" alt="Banner">
                    </app-image>
                  </a>

                  <!-- <a class="banner-link" routerLink="/marca" [queryParams]="{brand: 'asus'}">
                    <h3 class="banner-title">Canon</h3>
                    <h4 class="banner-subtitle"># Product</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a> -->
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="banner banner-cat banner-badge">
                  <a routerLink="/marca" [queryParams]="{brand: 'logitech'}">
                    <app-image src="assets/images/brands/logitech.jpg" width="75" height="75" alt="Banner">
                    </app-image>
                  </a>

                  <!-- <a class="banner-link" routerLink="/marca" [queryParams]="{brand: 'logitech'}">
                    <h3 class="banner-title">Canon</h3>
                    <h4 class="banner-subtitle"># Product</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a> -->
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="banner banner-cat banner-badge">
                  <a routerLink="/marca" [queryParams]="{brand: 'kaspersky'}">
                    <app-image src="assets/images/brands/kaspersky.jpg" width="75" height="75" alt="Banner">
                    </app-image>
                  </a>

                  <!-- <a class="banner-link" routerLink="/marca" [queryParams]="{brand: 'kaspersky'}">
                    <h3 class="banner-title">Canon</h3>
                    <h4 class="banner-subtitle"># Product</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a> -->
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="banner banner-cat banner-badge">
                  <a routerLink="/marca" [queryParams]="{brand: 'xerox'}">
                    <app-image src="assets/images/brands/xerox.jpg" width="75" height="75" alt="Banner">
                    </app-image>
                  </a>

                  <!-- <a class="banner-link" routerLink="/marca" [queryParams]="{brand: 'xerox'}">
                    <h3 class="banner-title">Canon</h3>
                    <h4 class="banner-subtitle"># Product</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a> -->
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="banner banner-cat banner-badge">
                  <a routerLink="/marca" [queryParams]="{brand: 'gibabyte'}">
                    <app-image src="assets/images/brands/gigabyte.jpg" width="75" height="75" alt="Banner">
                    </app-image>
                  </a>

                  <!-- <a class="banner-link" routerLink="/marca" [queryParams]="{brand: 'gibabyte'}">
                    <h3 class="banner-title">Canon</h3>
                    <h4 class="banner-subtitle"># Product</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a> -->
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="banner banner-cat banner-badge">
                  <a routerLink="/marca" [queryParams]="{brand: 'benq'}">
                    <app-image src="assets/images/brands/benq.jpg" width="75" height="75" alt="Banner">
                    </app-image>
                  </a>

                  <!-- <a class="banner-link" routerLink="/marca" [queryParams]="{brand: 'benq'}">
                    <h3 class="banner-title">Canon</h3>
                    <h4 class="banner-subtitle"># Product</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a> -->
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="banner banner-cat banner-badge">
                  <a routerLink="/marca" [queryParams]="{brand: 'lg'}">
                    <app-image src="assets/images/brands/lg.jpg" width="75" height="75" alt="Banner">
                    </app-image>
                  </a>

                  <!-- <a class="banner-link" routerLink="/marca" [queryParams]="{brand: 'lg'}">
                    <h3 class="banner-title">Canon</h3>
                    <h4 class="banner-subtitle"># Product</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a> -->
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="banner banner-cat banner-badge">
                  <a routerLink="/marca" [queryParams]="{brand: 'aoc'}">
                    <app-image src="assets/images/brands/aoc.jpg" width="75" height="75" alt="Banner">
                    </app-image>
                  </a>

                  <!-- <a class="banner-link" routerLink="/marca" [queryParams]="{brand: 'aoc'}">
                    <h3 class="banner-title">Canon</h3>
                    <h4 class="banner-subtitle"># Product</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a> -->
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="banner banner-cat banner-badge">
                  <a routerLink="/marca" [queryParams]="{brand: 'hisense'}">
                    <app-image src="assets/images/brands/hisense.jpg" width="75" height="75" alt="Banner">
                    </app-image>
                  </a>

                  <!-- <a class="banner-link" routerLink="/marca" [queryParams]="{brand: 'hisense'}">
                    <h3 class="banner-title">Canon</h3>
                    <h4 class="banner-subtitle"># Product</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a> -->
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="banner banner-cat banner-badge">
                  <a routerLink="/marca" [queryParams]="{brand: 'seagate'}">
                    <app-image src="assets/images/brands/seagate.jpg" width="75" height="75" alt="Banner">
                    </app-image>
                  </a>

                  <!-- <a class="banner-link" routerLink="/marca" [queryParams]="{brand: 'seagate'}">
                    <h3 class="banner-title">Canon</h3>
                    <h4 class="banner-subtitle"># Product</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a> -->
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="banner banner-cat banner-badge">
                  <a routerLink="/marca" [queryParams]="{brand: 'philips'}">
                    <app-image src="assets/images/brands/philips.jpg" width="75" height="75" alt="Banner">
                    </app-image>
                  </a>

                  <!-- <a class="banner-link" routerLink="/marca" [queryParams]="{brand: 'philips'}">
                    <h3 class="banner-title">Canon</h3>
                    <h4 class="banner-subtitle"># Product</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sidebar-filter-overlay" (click)="hideSidebar()"></div>
    <app-shop-sidebar-two></app-shop-sidebar-two>
  </div>
</main>
