<main class="main">
  <app-page-header title="Productos por Marcas" subtitle="" image="assets/images/banners/banner-brands.jpg"
    containerClass="container-fluid"></app-page-header>

  <nav class="breadcrumb-nav breadcrumb-with-filter">
    <div class="container-fluid">
      <button class="sidebar-toggler" (click)="toggleSidebar()">
        <i class="icon-bars"></i>Filtros
      </button>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a [attr.href]="previousPageTitle" [innerHTML]="previousPageTitle"></a>
        </li>
        <li class="breadcrumb-item active">{{ pageTitle }}</li>
      </ol>
    </div>
  </nav>

  <div class="page-content">
    <div class="categories-page">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-6">
            <div class="row">
              <div class="col-sm-8">
                <div class="banner banner-cat banner-badge">
                  <a routerLink="/marca/list" [queryParams]="{brand: 'hp'}">
                    <app-image src="assets/images/home/products/1.jpg" width="580" height="280" alt="Banner">
                    </app-image>
                  </a>

                  <a class="banner-link" routerLink="/marca/list" [queryParams]="{brand: 'hp'}">
                    <h3 class="banner-title">HP</h3>
                    <h4 class="banner-subtitle"># Productos</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="banner banner-cat banner-badge">
                  <a routerLink="/marca/list" [queryParams]="{brand: 'canon'}">
                    <app-image src="assets/images/home/products/2.jpg" width="280" height="280" alt="Banner">
                    </app-image>
                  </a>

                  <a class="banner-link" routerLink="/marca/list" [queryParams]="{brand: 'canon'}">
                    <h3 class="banner-title">Canon</h3>
                    <h4 class="banner-subtitle"># Product</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="banner banner-cat banner-badge">
                  <a routerLink="/marca/list" [queryParams]="{brand: 'intel'}">
                    <app-image src="assets/images/home/products/3.jpg" width="280" height="580" alt="Banner">
                    </app-image>
                  </a>

                  <a class="banner-link" routerLink="/marca/list" [queryParams]="{brand: 'intel'}">
                    <h3 class="banner-title">Intel</h3>
                    <h4 class="banner-subtitle"># Product</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a>
                </div>
              </div>

              <div class="col-sm-8">
                <div class="banner banner-cat banner-badge">
                  <a routerLink="/marca/list" [queryParams]="{brand: 'epson'}">
                    <app-image src="assets/images/home/products/4.jpg" width="580" height="580" alt="Banner">
                    </app-image>
                  </a>

                  <a class="banner-link" routerLink="/marca/list" [queryParams]="{brand: 'epson'}">
                    <h3 class="banner-title">Epson</h3>
                    <h4 class="banner-subtitle">#3 Productos</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-6">
            <div class="row">
              <div class="col-sm-8">
                <div class="banner banner-cat banner-badge">
                  <a routerLink="/marca/list" [queryParams]="{brand: 'dell'}">
                    <app-image src="assets/images/home/products/5.jpg" width="580" height="580" alt="Banner">
                    </app-image>
                  </a>

                  <a class="banner-link" routerLink="/marca/list" [queryParams]="{brand: 'dell'}">
                    <h3 class="banner-title">Dell</h3>
                    <h4 class="banner-subtitle"># Productos</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a>
                </div>

                <div class="banner banner-cat banner-badge">
                  <a routerLink="/marca/list" [queryParams]="{brand: 'lenovo'}">
                    <app-image src="assets/images/home/products/6.jpg" width="580" height="280" alt="Banner">
                    </app-image>
                  </a>

                  <a class="banner-link" routerLink="/marca/list" [queryParams]="{brand: 'lenovo'}">
                    <h3 class="banner-title">Lenovo</h3>
                    <h4 class="banner-subtitle"># Productos</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="banner banner-cat banner-badge">
                  <a routerLink="/marca/list" [queryParams]="{brand: 'logitech'}">
                    <app-image src="assets/images/home/products/7.jpg" width="280" height="280" alt="Banner">
                    </app-image>
                  </a>

                  <a class="banner-link" routerLink="/marca/list" [queryParams]="{brand: 'logitech'}">
                    <h3 class="banner-title">Logitech</h3>
                    <h4 class="banner-subtitle"># Productos</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a>
                </div>

                <div class="banner banner-cat banner-badge">
                  <a routerLink="/marca/list" [queryParams]="{brand: 'samsung'}">
                    <app-image src="assets/images/home/products/8.jpg" width="280" height="580" alt="Banner">
                    </app-image>
                  </a>

                  <a class="banner-link" routerLink="/marca/list" [queryParams]="{brand: 'samsung'}">
                    <h3 class="banner-title">Samsung</h3>
                    <h4 class="banner-subtitle"># Product</h4>
                    <span class="banner-link-text">Comprar Ahora</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sidebar-filter-overlay" (click)="hideSidebar()"></div>
    <app-shop-sidebar-two></app-shop-sidebar-two>
  </div>
</main>
