<div class="main">
  <app-page-header [title]="" [subtitle]="pageTitle"></app-page-header>
  <nav class="breadcrumb-nav mb-2">
    <div [class]="containerClass">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/shop/products">Productos</a>
        </li>
        <li class="breadcrumb-item active">{{ pageTitle }}</li>
      </ol>
    </div>
  </nav>

  <div class="page-content">
    <div [class]="containerClass">
      <div class="toolbox">
        <div class="toolbox-left d-none d-lg-flex">
          <a href="javascript:;" class="sidebar-toggler mr-0 mr-md-5" (click)="toggleSidebar()">
            <i class="icon-bars"></i>Filtros
          </a>
        </div>

        <div class="toolbox-center">
          <div class="toolbox-info">
            Mostrando
            <span>{{ perPage }} de {{ totalCount }}</span> Productos
          </div>
        </div>

        <div class="toolbox-right">
          <div class="toolbox-sort">
            <label for="sortby">Ordenar por:</label>
            <div class="select-custom">
              <select name="sortby" id="sortby" class="form-control" (change)="changeOrderBy($event)" [value]="orderBy">
                <option value="default">Alfabético</option>
                <option value="featured">Más Popular</option>
                <option value="rating">Más Valorado</option>
                <option value="new">Fecha</option>
              </select>
            </div>
          </div>
          <div class="toolbox-layout">
            <a routerLink="/shop/brand/list" queryParamsHandling="merge" class="btn-layout" routerLinkActive="active">
              <svg width="16" height="10">
                <rect x="0" y="0" width="4" height="4" />
                <rect x="6" y="0" width="10" height="4" />
                <rect x="0" y="6" width="4" height="4" />
                <rect x="6" y="6" width="10" height="4" />
              </svg>
            </a>

            <a routerLink="/shop/brand/2cols" queryParamsHandling="merge" class="btn-layout" routerLinkActive="active">
              <svg width="10" height="10">
                <rect x="0" y="0" width="4" height="4" />
                <rect x="6" y="0" width="4" height="4" />
                <rect x="0" y="6" width="4" height="4" />
                <rect x="6" y="6" width="4" height="4" />
              </svg>
            </a>

            <a routerLink="/shop/brand/3cols" queryParamsHandling="merge" class="btn-layout" routerLinkActive="active">
              <svg width="16" height="10">
                <rect x="0" y="0" width="4" height="4" />
                <rect x="6" y="0" width="4" height="4" />
                <rect x="12" y="0" width="4" height="4" />
                <rect x="0" y="6" width="4" height="4" />
                <rect x="6" y="6" width="4" height="4" />
                <rect x="12" y="6" width="4" height="4" />
              </svg>
            </a>

            <a routerLink="/shop/brand/4cols" queryParamsHandling="merge" class="btn-layout" routerLinkActive="active">
              <svg width="22" height="10">
                <rect x="0" y="0" width="4" height="4" />
                <rect x="6" y="0" width="4" height="4" />
                <rect x="12" y="0" width="4" height="4" />
                <rect x="18" y="0" width="4" height="4" />
                <rect x="0" y="6" width="4" height="4" />
                <rect x="6" y="6" width="4" height="4" />
                <rect x="12" y="6" width="4" height="4" />
                <rect x="18" y="6" width="4" height="4" />
              </svg>
            </a>
          </div>
        </div>
      </div>

      <app-shop-list-one [type]="type" [products]="products" [loaded]="loaded"></app-shop-list-one>

      <!-- <app-shop-list-three [products]="products" [loaded]="loaded" [cols]="cols">
      </app-shop-list-three> -->

      <div class="load-more-container text-center" [class.d-none]="totalCount <= products.length && !moreLoading">
        <a href="javascript:;" class="btn btn-outline-darker btn-load-more" (click)="loadMore($event)">
          Más Productos
          <i class="icon-refresh" [class.load-more-rotating]="moreLoading"></i>
        </a>
      </div>

      <app-shop-sidebar-three [toggle]="true">
      </app-shop-sidebar-three>

      <button class="sidebar-fixed-toggler d-lg-none" (click)="toggleSidebar()">
        <i class="icon-cog"></i>
      </button>

      <div class="sidebar-filter-overlay" (click)="hideSidebar()"></div>
    </div>
  </div>
</div>
