<main class="main">
  <app-page-header title="A unos pasos de conseguirlos!" subtitle=""
    image="assets/images/banners/banner-checkout.jpg"></app-page-header>

  <nav class="breadcrumb-nav">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/products">Productos</a>
        </li>
        <li class="breadcrumb-item active">Carrito de Compras</li>
      </ol>
    </div>
  </nav>

  <div class="page-content">
    <div class="cart">
      <div class="container">
        <div class="row" *ngIf="cartItems.length == 0 else cartBlock">
          <div class="col-12">
            <div class="cart-empty-page text-center">
              <i class="cart-empty icon-shopping-cart"></i>
              <p class="px-3 py-2 cart-empty mb-3">No hay productos agregados al carrito</p>
              <p class="return-to-shop mb-0">
                <a routerLink="/products" class="btn btn-primary">REGRESAR A LA TIENDA</a>
              </p>
            </div>
          </div>
        </div>
        <ng-template #cartBlock>
          <div class="row">
            <div class="col-lg-9">
              <table class="table table-cart table-mobile">
                <thead>
                  <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let product of cartItems; trackBy : trackByFn">
                    <td class="product-col">
                      <div class="product">
                        <figure class="product-media">
                          <a [routerLink]="['/product/default/'+ product.id]">
                            <app-image [src]="SERVER_URL + product.sm_pictures[0].url" alt="Product">
                            </app-image>
                          </a>
                        </figure>

                        <h3 class="product-title">
                          <a [routerLink]="['/product/default/'+ product.id]">{{ product.name }}</a>
                        </h3>
                      </div>
                    </td>
                    <td class="price-col">
                      {{ ( product.sale_price ? product.sale_price.toFixed( 2 ) : product.price.toFixed( 2 ) ) |
                      currency }}
                    </td>
                    <td class="quantity-col">
                      <app-quantity-input adClass="cart-product-quantity" [value]="product.qty" [max]="product.stock"
                        (changeQty)="onChangeQty( $event, product )">
                      </app-quantity-input>
                    </td>
                    <td class="total-col">{{ product.sum | currency }}</td>
                    <td class="remove-col">
                      <button class="btn-remove" (click)="cartService.removeFromCart( product )" title="remove"><i
                          class="icon-close"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="cart-bottom">
                <div class="cart-discount">
                  <form action="#" *ngIf="false">
                    <div class="input-group">
                      <input type="text" class="form-control" required placeholder="código de cupón">
                      <div class="input-group-append">
                        <button class="btn btn-outline-primary-2" type="submit" title="submit"><i
                            class="icon-long-arrow-right"></i></button>
                      </div>
                    </div>
                  </form>
                </div>

                <a href="javascript:;" class="btn btn-outline-dark-2 btn-cart-update disabled"
                  (click)="updateCart( $event )"><span>ACTUALIZAR CARRITO</span><i class="icon-refresh"></i></a>
              </div>
            </div>
            <aside class="col-lg-3">
              <div class="summary summary-cart">
                <h3 class="summary-title">Total Carrito</h3>

                <table class="table table-summary">
                  <tbody>
                    <tr class="summary-subtotal">
                      <td>Subtotal:</td>
                      <td>{{ (cartService.priceTotal | async).toFixed(2) | currency}}
                      </td>
                    </tr>

                    <tr class="summary-shipping">
                      <td>Envíos Disponibles:</td>
                      <td>&nbsp;</td>
                    </tr>

                    <tr *ngFor="let shipment of shipments" class="summary-shipping-row">
                      <td>
                        <div class="custom-control custom-radio">
                          <input type="radio" id="{{shipment.empresa}}" name="shipping" class="custom-control-input"
                            (change)="changeShipping(shipment.costo)">
                          <label class="custom-control-label" for="{{shipment.empresa}}">{{shipment.empresa}}</label>
                        </div>
                      </td>
                      <td>{{shipment.costo.toFixed(2) | currency}}</td>
                    </tr>

                    <tr class="summary-shipping-estimate">
                      <td>Estimado para tu CP<br> <a routerLink="/dashboard">Cambiar dirección de envío</a></td>
                      <td>&nbsp;</td>
                    </tr>

                    <tr class="summary-total">
                      <td>Total:</td>
                      <td>{{ ((cartService.priceTotal | async) + shippingCost).toFixed(2) | currency }}</td>
                    </tr>
                  </tbody>
                </table>

                <a routerLink="/checkout" class="btn btn-primary btn-order btn-block">PROCEDER A
                  VERIFICAR</a>
              </div>

              <a routerLink="/products" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUAR
                  COMPRANDO</span><i class="icon-refresh"></i></a>
            </aside>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</main>
