<div class="dropdown category-dropdown">
  <a href="javascript:;" class="dropdown-toggle" title="Browse Categories">Browse Categories</a>
  <div class="dropdown-menu">
    <nav class="side-nav">
      <ul class="menu-vertical sf-arrows">
        <li>
          <a [routerLink]="[]" [queryParams]="{category: 'computadoras'}" queryParamsHandling="merge"
            routerLinkActive="active">Computadoras</a>
          <ul>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'computadoras', subCategory: 'laptops'}"
                queryParamsHandling="merge" routerLinkActive="active">Laptops</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'computadoras', subCategory: 'desktops'}"
                queryParamsHandling="merge" routerLinkActive="active">Desktops</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'computadoras', subCategory: 'work-stations'}"
                queryParamsHandling="merge" routerLinkActive="active">Work
                Stations</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'computadoras', subCategory: 'tablets'}"
                queryParamsHandling="merge" routerLinkActive="active">Tablets</a>
            </li>
          </ul>
        </li>
        <li>
          <a [routerLink]="[]" [queryParams]="{category: 'software'}" queryParamsHandling="merge"
            routerLinkActive="active">Software</a>
          <ul>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'software', subCategory: 'antivirus'}"
                queryParamsHandling="merge" routerLinkActive="active">Antivirus</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'software', subCategory: 'ofimatica'}"
                queryParamsHandling="merge" routerLinkActive="active">Ofimatica</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'software', subCategory: 'sistema-operativo'}"
                queryParamsHandling="merge" routerLinkActive="active">Sistema
                Operativo</a>
            </li>
          </ul>
        </li>
        <li>
          <a [routerLink]="[]" [queryParams]="{category: 'impresion'}" queryParamsHandling="merge"
            routerLinkActive="active">Impresión</a>
          <ul>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'impresion', subCategory: 'impresoras'}"
                queryParamsHandling="merge" routerLinkActive="active">Impresoras</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'impresion', subCategory: 'escaners'}"
                queryParamsHandling="merge" routerLinkActive="active">Escaners</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'impresion', subCategory: 'consumibles'}"
                queryParamsHandling="merge" routerLinkActive="active">Consumibles</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'impresion', subCategory: 'refacciones'}"
                queryParamsHandling="merge" routerLinkActive="active">Refacciones</a>
            </li>
          </ul>
        </li>
        <li>
          <a [routerLink]="[]" [queryParams]="{category: 'energia'}" queryParamsHandling="merge"
            routerLinkActive="active">Energia</a>
          <ul>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'energia', subCategory: 'no-break-y-ups'}"
                queryParamsHandling="merge" routerLinkActive="active">No Break y
                UPS</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'energia', subCategory: 'reguladores'}"
                queryParamsHandling="merge" routerLinkActive="active">Reguladores</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'energia', subCategory: 'multicontacto'}"
                queryParamsHandling="merge" routerLinkActive="active">Multicontacto</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'energia', subCategory: 'baterias-para-ups'}"
                queryParamsHandling="merge" routerLinkActive="active">Baterias
                para UPS</a>
            </li>
          </ul>
        </li>
        <li>
          <a [routerLink]="[]" [queryParams]="{category: 'monitores-y-video'}" queryParamsHandling="merge"
            routerLinkActive="active">Monitores y
            Video</a>
          <ul>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'monitores-y-video', subCategory: 'pantallas-de-tv'}"
                queryParamsHandling="merge" routerLinkActive="active">Pantallas de
                TV</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'monitores-y-video', subCategory: 'monitores'}"
                queryParamsHandling="merge" routerLinkActive="active">Monitores</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'monitores-y-video', subCategory: 'proyectores'}"
                queryParamsHandling="merge" routerLinkActive="active">Proyectores</a>
            </li>
          </ul>
        </li>
        <li>
          <a [routerLink]="[]" [queryParams]="{category: 'redes'}" queryParamsHandling="merge"
            routerLinkActive="active">Redes</a>
          <ul>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'redes', subCategory: 'access-point'}"
                queryParamsHandling="merge" routerLinkActive="active">Access Point</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'redes', subCategory: 'switches'}"
                queryParamsHandling="merge" routerLinkActive="active">Switches</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'redes', subCategory: 'adaptadores-de-red'}"
                queryParamsHandling="merge" routerLinkActive="active">Adaptadores de
                Red</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'redes', subCategory: 'tarjetas-de-red'}"
                queryParamsHandling="merge" routerLinkActive="active">Tarjetas de
                Red</a>
            </li>
          </ul>
        </li>
        <li>
          <a [routerLink]="[]" [queryParams]="{category: 'componentes'}" queryParamsHandling="merge"
            routerLinkActive="active">Componentes</a>
          <ul>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'componentes', subCategory: 'memorias-ram'}"
                queryParamsHandling="merge" routerLinkActive="active">Memorias RAM</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'componentes', subCategory: 'discos-duros'}"
                queryParamsHandling="merge" routerLinkActive="active">Discos Duros</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'componentes', subCategory: 'procesadores'}"
                queryParamsHandling="merge" routerLinkActive="active">Procesadores</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'componentes', subCategory: 'fuentes-de-poder'}"
                queryParamsHandling="merge" routerLinkActive="active">Fuentes de
                Poder</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'componentes', subCategory: 'placas-madres'}"
                queryParamsHandling="merge" routerLinkActive="active">Placas
                Madres</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'componentes', subCategory: 'gabinetes'}"
                queryParamsHandling="merge" routerLinkActive="active">Gabinetes</a>
            </li>
          </ul>
        </li>
        <li>
          <a [routerLink]="[]" [queryParams]="{category: 'almacenamiento'}" queryParamsHandling="merge"
            routerLinkActive="active">Almacenamiento</a>
          <ul>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'almacenamiento', subCategory: 'discos-duros-mecanicos'}"
                queryParamsHandling="merge" routerLinkActive="active">Discos
                Duros Mecanicos</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'almacenamiento', subCategory: 'discos-duros-solidos'}"
                queryParamsHandling="merge" routerLinkActive="active">Discos
                Duros Sólidos</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'almacenamiento', subCategory: 'memorias-usb'}"
                queryParamsHandling="merge" routerLinkActive="active">Memorias USB</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'almacenamiento', subCategory: 'discos-duros-externos'}"
                queryParamsHandling="merge" routerLinkActive="active">Discos
                Duros Externos</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'almacenamiento', subCategory: 'lectores-de-memorias'}"
                queryParamsHandling="merge" routerLinkActive="active">Lectores
                de Memorias</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'almacenamiento', subCategory: 'gabinete-para-disco-duro'}"
                queryParamsHandling="merge" routerLinkActive="active">Gabinete
                para Disco Duro</a>
            </li>
          </ul>
        </li>
        <li>
          <a [routerLink]="[]" [queryParams]="{category: 'accesorios'}" queryParamsHandling="merge"
            routerLinkActive="active">Accesorios</a>
          <ul>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'accesorios', subCategory: 'teclados'}"
                queryParamsHandling="merge" routerLinkActive="active">Teclados</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'accesorios', subCategory: 'mouses'}"
                queryParamsHandling="merge" routerLinkActive="active">Mouses</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'accesorios', subCategory: 'audifonos'}"
                queryParamsHandling="merge" routerLinkActive="active">Audífonos</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'accesorios', subCategory: 'bocinas'}"
                queryParamsHandling="merge" routerLinkActive="active">Bocinas</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'accesorios', subCategory: 'mochilas'}"
                queryParamsHandling="merge" routerLinkActive="active">Mochilas</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'accesorios', subCategory: 'hubs'}"
                queryParamsHandling="merge" routerLinkActive="active">Hubs</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'accesorios', subCategory: 'mousepads'}"
                queryParamsHandling="merge" routerLinkActive="active">Mousepads</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'accesorios', subCategory: 'discosduros'}"
                queryParamsHandling="merge" routerLinkActive="active">Discos Duros</a>
            </li>
            <li>
              <a [routerLink]="[]" [queryParams]="{category: 'accesorios', subCategory: 'audio-y-video'}"
                queryParamsHandling="merge" routerLinkActive="active">Audio y Video</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
