<aside class="sidebar-shop sidebar-filter sidebar-filter-banner">
  <div class="sidebar-filter-wrapper">
    <div class="widget widget-clean">
      <button (click)="hideSidebarFilter()" [style.padding]=0>
        <i class="icon-close"></i>Filtros
      </button>
      <a href="javascript:;" class="sidebar-filter-clear" (click)="cleanAllFilters($event)">Limpiar Todo</a>
    </div>
    <div class="widget">
      <h3 class="widget-title">
        Categor&iacute;as
      </h3>

      <div class="widget-body">
        <div class="filter-items filter-items-count">
        </div>
      </div>
    </div>
  </div>
</aside>
