<main class="main home-page skeleton-body">

  <!-- Seccion 1 Banner Principal -->
  <section class="intro-section">
    <div class="banner">

      <swiper-container
        id="heroBanners"
        class="swiper-container"
        navigation="true"
        slides-per-view="1"
        loop="true"
        autoplay="false"
      >

        <!-- <ng-container *ngFor="let slide of heroSlider">
          <swiper-slide contentAnim aniName="fadeInUpShorter">
            <picture>
              <source media="(min-width: 576px)" srcset="{{slide.desktopImgUrl}}" />
              <img class="center-banners mx-auto d-block" src="{{slide.mobileImgURL}}" />
            </picture>

            <div class="banner-content">
              <h2 class="banner-title text-white" contentAnim aniName="fadeInUpShorter">
                {{slide.title1}}
              </h2>
              <div class="banner-action" contentAnim aniName="fadeInUpShorter">
                <a [routerLink]="[slide.actionUrl]" class="btn btn-green btn-round btn-cart-home">{{slide.actionUrlTitle}}</a>
              </div>
              <a [routerLink]="[slide.subtitleUrl]" class="banner-subtitle text-white" contentAnim aniName="fadeInUpShorter">{{slide.subtitle}}</a>
            </div>
          </swiper-slide>
        </ng-container> -->

        <swiper-slide contentAnim aniName="fadeInUpShorter">
          <picture>
            <source media="(min-width: 576px)" srcset="assets/images/home/banners/hero-landing.jpg" />
            <img class="center-banners mx-auto d-block" src="assets/images/home/banners/mobile/hero-mobile-1.jpg" />
          </picture>

          <div class="banner-content">
            <h2 class="banner-title text-white" contentAnim aniName="fadeInUpShorter">
              Descubre todo lo que DARÚ tiene para ti.
            </h2>
            <div class="banner-action" contentAnim aniName="fadeInUpShorter">
              <a href="#" class="btn btn-green btn-round btn-cart-home">Ver Más</a>
            </div>
            <a href="#" class="banner-subtitle text-white" contentAnim aniName="fadeInUpShorter">Más información sobre categorías ></a>
          </div>
        </swiper-slide>

        <swiper-slide contentAnim aniName="fadeInUpShorter">
          <picture>
            <source media="(min-width: 576px)" srcset="assets/images/home/banners/hero-landing.jpg" />
            <img class="center-banners mx-auto d-block" src="assets/images/home/banners/mobile/hero-mobile-1.jpg" />
          </picture>

          <div class="banner-content">
            <h2 class="banner-title text-white" contentAnim aniName="fadeInUpShorter">
              Otro Slide Para Probar
            </h2>
            <div class="banner-action" contentAnim aniName="fadeInUpShorter">
              <a href="#" class="btn btn-green btn-round btn-cart-home">Ver Más</a>
            </div>
            <a href="#" class="banner-subtitle text-white" contentAnim aniName="fadeInUpShorter">Más información sobre categorías ></a>
          </div>
        </swiper-slide>

      </swiper-container>

    </div>
  </section>
  <!-- End Seccion 1 -->

  <!-- Seccion 2 Categorías Populares -->
  <section class="popular-section">
    <div class="container">
      <div class="heading mb-0 text-center">
        <h2 class="subtitle mb-1" contentAnim aniName="blurIn">
          Categorías <span class="subtitle-home">Populares</span>
        </h2>
      </div>
      <div class="cat-blocks-container" contentAnim>
        <div class="row">
          <div class="col-6 col-sm-4 col-lg-2">
            <div class="content-center">
              <div class="heading mt-0" contentAnim aniName="fadeInRightShorter">
                <a routerLink="/categoria" [queryParams]="{ category: 'computadoras' }" class="cat-block">
                  <figure class="text-center">
                    <img src="assets/images/home/categorias/computo.jpg" width="131" height="76"
                      alt="Computadoras & Tablets" style="display: block; margin: 0 auto;" />
                  </figure>
                  <div class="action text-center">
                    <span>
                      <h6 class="icon-box-title">Computadoras & Tablets</h6>
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-lg-2">
            <div class="content-center">
              <div class="heading mt-0" contentAnim aniName="fadeInRightShorter">
                <a routerLink="/categoria/4cols" [queryParams]="{ category: 'monitores-y-video' }" class="cat-block">
                  <figure>
                    <span>
                      <img src="assets/images/home/categorias/televisores.jpg" width="131" height="76"
                        alt="Televisión & Video" style="display: block; margin: 0 auto;" />
                    </span>
                  </figure>
                  <div class="action text-center">
                    <span>
                      <h6 class="icon-box-title">Televisión & Video</h6>
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-lg-2">
            <div class="content-center">
              <div class="heading mt-0" contentAnim aniName="fadeInRightShorter">
                <a routerLink="/categoria/4cols" [queryParams]="{ category: 'telefonos' }" class="cat-block">
                  <figure>
                    <span>
                      <img src="assets/images/home/categorias/celulares.jpg" width="131" height="76"
                        alt="Tel&eacute;fonos" style="display: block; margin: 0 auto;" />
                    </span>
                  </figure>
                  <div class="action text-center">
                    <span>
                      <h6 class="icon-box-title">Celulares & Accesorios</h6>
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-lg-2">
            <div class="content-center">
              <div class="heading mt-0" contentAnim aniName="fadeInRightShorter">
                <a routerLink="/categoria/4cols" [queryParams]="{ category:'impresion', subCategory:'escaners' }"
                  class="cat-block">
                  <figure>
                    <span>
                      <img src="assets/images/home/categorias/fotografia.jpg" width="131" height="76"
                        alt="Cámara & Fotografía" style="display: block; margin: 0 auto;" />
                    </span>
                  </figure>
                  <div class="action text-center">
                    <span>
                      <h6 class="icon-box-title">Cámara & Fotografía</h6>
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-lg-2">
            <div class="content-center">
              <div class="heading mt-0" contentAnim aniName="fadeInRightShorter">
                <a routerLink="/categoria/4cols" [queryParams]="{ category:'accesorios', subCategory:'audifonos' }"
                  class="cat-block">
                  <figure>
                    <span>
                      <img src="assets/images/home/categorias/audio.jpg" width="131" height="76"
                        alt="Audio & Equipos de Sonido" style="display: block; margin: 0 auto;" />
                    </span>
                  </figure>
                  <div class="action text-center">
                    <span>
                      <h6 class="icon-box-title">Audio & Equipos de Sonido</h6>
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-lg-2">
            <div class="content-center">
              <div class="heading mt-0" contentAnim aniName="fadeInRightShorter">
                <a routerLink="/categoria/4cols" [queryParams]="{ category: 'accesorios-gaming' }" class="cat-block">
                  <figure>
                    <span>
                      <img src="assets/images/home/categorias/gaming.jpg" width="131" height="76"
                        alt="Consolas & Videojuegos" style="display: block; margin: 0 auto;" />
                    </span>
                  </figure>
                  <div class="action text-center">
                    <span>
                      <h6 class="icon-box-title">Consolas & Videojuegos</h6>
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Seccion 2 -->

  <!-- Seccion 3 Banners Promocionales -->
  <section id="banners-section">
    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-12 col-lg-2" id="promoBannerLeft">
          
          <a href="#">
            <img class="mx-auto d-block" src="assets/images/home/banners/apple-music.jpg">
          </a>

        </div>

        <div class="col-sm-12 col-lg-8">

          <swiper-container
            id="mainPromosBanners"
            pagination="true"
            slides-per-view="1"
            loop="true"
            autoplay="true"
          >
            <swiper-slide>
              <a href="#">
                <picture>
                  <source media="(min-width: 576px)" srcset="assets/images/home/banners/asus.jpg" />
                  <img class="center-banners mx-auto d-block" src="assets/images/home/banners/mobile/asus-sm.jpg" />
                </picture>
              </a>
            </swiper-slide>
            <swiper-slide>
              <a href="#">
                <picture>
                  <source media="(min-width: 576px)" srcset="assets/images/home/banners/asus.jpg" />
                  <img class="center-banners mx-auto d-block" src="assets/images/home/banners/mobile/asus-sm.jpg" />
                </picture>
              </a>
            </swiper-slide>
          </swiper-container>

          <div id="suscribirse-container">

            <div id="sc-izq">
              <p id="sc-izq-title">¡Suscríbete con nosotros <br>
              y obtén 10% de descuento!</p>
              <p id="sc-izq-subtitle">Haz clic aquí para saber como.</p>
            </div>

            <div id="sc-der">
              <p id="sc-der-title">Código de descuento</p>
              <div id="sc-der-btn">DARU2024</div>
            </div>

          </div>

          <div id="marcas-favoritas">

            <p id="mf-title">Tus Marcas Favoritas</p>

            <swiper-container
              id="mf-slider-container"
              slides-per-view="4"
              loop="true"
              autoplay="true"
            >
              <swiper-slide class="mf-sc-ss">
                <img src="assets/images/home/prov-slider/alienware-logo.png">
              </swiper-slide>
              <swiper-slide class="mf-sc-ss">
                <img src="assets/images/home/prov-slider/asus-logo.png">
              </swiper-slide>
              <swiper-slide class="mf-sc-ss">
                <img src="assets/images/home/prov-slider/bose-logo.png">
              </swiper-slide>
              <swiper-slide class="mf-sc-ss">
                <img src="assets/images/home/prov-slider/dell-logo.png">
              </swiper-slide>
              <swiper-slide class="mf-sc-ss">
                <img src="assets/images/home/prov-slider/hp-logo.png">
              </swiper-slide>
              <swiper-slide class="mf-sc-ss">
                <img src="assets/images/home/prov-slider/logi-logo.png">
              </swiper-slide>
            </swiper-container>

          </div>

        </div>

        <div class="col-sm-12 col-lg-2">

          <div id="metodos-pago">
            <p id="mp-text">Métodos de Pago</p>

            <swiper-container
              id="pay-options"
              
              loop="true"
              autoplay="true"
              direction="vertical"
              slides-per-view="3"
            >
              <swiper-slide class="mp-ss">
                <img src="assets/images/home/payoptions/amex.png" />
              </swiper-slide>
              <swiper-slide class="mp-ss">
                <img src="assets/images/home/payoptions/nu.png" />
              </swiper-slide>
              <swiper-slide class="mp-ss">
                <img src="assets/images/home/payoptions/paypal.png" />
              </swiper-slide>
              <swiper-slide class="mp-ss">
                <img src="assets/images/home/payoptions/spei.png" />
              </swiper-slide>
            </swiper-container>

            <div class="row d-md-none d-lg-none d-xl-none" id="pay-options-mobile">
              <div class="col-6">
                <img class="pay-options-sm-img" src="assets/images/home/payoptions/amex.png" />
              </div>
              <div class="col-6">
                <img class="pay-options-sm-img" src="assets/images/home/payoptions/nu.png" />
              </div>
              <div class="col-6">
                <img class="pay-options-sm-img" src="assets/images/home/payoptions/paypal.png" />
              </div>
              <div class="col-6">
                <img class="pay-options-sm-img" src="assets/images/home/payoptions/spei.png" />
              </div>
            </div>

            <a href="#" id="mp-bottom-banner">
              <img id="hp-banner" src="https://via.assets.so/img.jpg?w=280&h=240&tc=blue&bg=#cecece">
            </a>
          </div>

        </div>

      </div>
    </div>
  </section>
  <!-- End Seccion 3 Banners Promocionales -->

  <!-- Seccion 4 Beneficios -->
  <section class="gallery">
    <div class="heading mb-0 text-center">
      <h2 class="subtitle mb-1" contentAnim aniName="blurIn">
        Ofertas <span class="subtitle-home" contentAnim aniName="blurIn">Relámpago</span>
      </h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-xs-2">
          <div class="content-left">
            <div class="heading mt-3" contentAnim aniName="fadeInRightShorter">
              <figure class="mb-md-2 media-2">
                <a routerLink="product/default/24637">
                  <app-image class="relampago-img-container" src="assets/images/home/products/1.jpg" alt="Banner" width="472" height="530"
                    fixedPt="90.17%"></app-image>
                </a>
              </figure>
              <div class="action text-center">
                <!-- <span class="text-primary">
                  <h6><strong>Gaming</strong></h6>
                </span> -->
                <a routerLink="/ofertas/" [queryParams]="{ category: 'accesorios-gaming' }"
                  class="btn btn-primary btn-round ofer-rel-btn">
                  Ver ofertas de Gaming</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-xs-2">
          <div class="content-left">
            <div class="heading mt-3" contentAnim aniName="fadeInRightShorter">
              <figure class="mb-md-2 media-2">
                <a routerLink="product/default/28565">
                  <app-image class="relampago-img-container" src="assets/images/home/products/2.jpg" alt="Banner" width="472" height="530"
                    fixedPt="90.17%"></app-image>
                </a>
              </figure>
              <div class="action text-center">
                <!-- <span class="text-primary">
                  <h6><strong>Computo</strong></h6>
                </span> -->
                <a routerLink="/ofertas/" [queryParams]="{ category: 'computadoras' }"
                  class="btn btn-primary btn-round ofer-rel-btn">
                  Ver ofertas de Cómputo</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-xs-2">
          <div class="content-right">
            <div class="heading mt-3" contentAnim aniName="fadeInRightShorter">
              <figure class="mb-md-2 media-2">
                <a routerLink="product/default/28220">
                  <app-image class="relampago-img-container" src="assets/images/home/products/3.jpg" alt="Banner" width="472" height="530"
                    fixedPt="90.17%"></app-image>
                </a>
              </figure>
              <div class="action text-center">
                <!-- <span class="text-primary">
                  <h6><strong>Telefonía</strong></h6>
                </span> -->
                <a routerLink="/ofertas/" [queryParams]="{ category: 'telefonos' }" class="btn btn-primary btn-round ofer-rel-btn">
                  Ver ofertas de Telefonía</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-xs-2">
          <div class="content-right">
            <div class="heading mt-3" contentAnim aniName="fadeInRightShorter">
              <figure class="mb-md-2 media-2">
                <a routerLink="product/default/27022">
                  <app-image class="relampago-img-container" src="assets/images/home/products/4.jpg" alt="Banner" width="472" height="530"
                    fixedPt="90.17%"></app-image>
                </a>
              </figure>
              <div class="action text-center">
                <!-- <span class="text-primary">
                  <h6><strong>Audio</strong></h6>
                </span> -->
                <a routerLink="/ofertas/" [queryParams]="{ category: 'auriculares-y-diademas' }"
                  class="btn btn-primary btn-round ofer-rel-btn">
                  Ver ofertas de Audio</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Seccion 4 Beneficios -->

  <!-- Seccion 5 Productos Favoritos -->
  <section id="productos-destacados">
    <div class="row">
      <div class="col-sm-12 col-lg-4">
        <div class="destacado" contentAnim aniName="blurIn">
          <a href="#"><img src="assets/images/home/banners/airpods.jpg" class="shadow-destacado mx-auto d-block"></a>
          <a contentAnim aniName="blurIn" href="#"><button type="button" class="btn btn-light btn-producto mx-auto d-block">Ver Producto</button></a>
        </div>
      </div>
      <div class="col-sm-12 col-lg-4" contentAnim aniName="blurIn">
        <div class="destacado">
          <a href="#"><img src="assets/images/home/banners/airpods.jpg" class="shadow-destacado mx-auto d-block"></a>
          <a contentAnim aniName="blurIn" href="#"><button type="button" class="btn btn-light btn-producto mx-auto d-block">Ver Producto</button></a>
        </div>
      </div>
      <div class="col-sm-12 col-lg-4">
        <div class="destacado" contentAnim aniName="blurIn">
          <a href="#"><img src="assets/images/home/banners/airpods.jpg" class="shadow-destacado mx-auto d-block"></a>
          <a contentAnim aniName="blurIn" href="#"><button type="button" class="btn btn-light btn-producto mx-auto d-block">Ver Producto</button></a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Seccion 5 Productos Favoritos -->

  <!-- Seccion 6 Cintillo -->
  <section id="footer-info">
    <div class="row">
      <div class="col-sm-6 col-lg-3 footer-info-item">
        <div class="footer-info-icon">
          <i class="fa-solid fa-truck fa-2lg"></i>
        </div>
        <div class="footer-info-right">
          <p class="footer-info-titulo" id="fit-envio">
            Envío Gratis * Aplican Restricciones
            <span class="footer-info-subtitulo">
              en compras mayores de $1,000 MXN
            </span>
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 footer-info-item">
        <div class="footer-info-icon">
          <i class="fa-solid fa-arrow-rotate-left fa-2lg"></i>
        </div>
        <div class="footer-info-right">
          <p class="footer-info-titulo">
            Devolución Gratuita
            <span class="footer-info-subtitulo fit-mg">
            en 30 días
            </span>
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 footer-info-item">
        <div class="footer-info-icon">
          <i class="fa-solid fa-circle-info fa-2lg"></i>
        </div>
        <div class="footer-info-right">
          <p class="footer-info-titulo">
            Obtén un 20%
            <span class="footer-info-subtitulo fit-mg">
            en 1 artículo en tu primera compra
            </span>
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 footer-info-item">
        <div class="footer-info-icon">
          <i class="fa-regular fa-credit-card fa-2lg"></i>
        </div>
        <div class="footer-info-right">
          <p class="footer-info-titulo">
            Pago
            <span class="footer-info-subtitulo fit-mg">
            Aceptamos todas las tarjetas bancarias
            </span>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Seccion 6 Cintillo-->

</main>
