.container.service {
  border-bottom: 0px;
}

.playtime-section {
  margin-top: 0rem;
}

.image-daru {
  position: relative;
  display: block;
  background-color: #f4f4f4;
  margin: 2rem;
}

.home-page .banner .banner-title {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -.025em;
  color: #5bef97 !important;
  text-align: left;

  @media (max-width: 767px) {
    font-size: 4rem; // Cambia el tamaño de la fuente para dispositivos móviles
  }
}

.home-page .banner .banner-subtitle {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -.025em;
  color: #4b02fc !important;
  margin-bottom: 0.5rem;
}

.home-page .banner .banner-info {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -.025em;
  color: white !important;
  margin-bottom: 0.5rem;
}

.cat-blocks-container {
  background-color: #333333 !important;
}

.icon-boxes-container {
  background-color: #333333 !important;
}

.icon-box-title {
  color: white !important;
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: -.025em;
  margin-bottom: 0.9rem;
}

.intro-section {
  background-color: white !important;

  .subtitle {
    color: white !important;
  }

  .subtitle-home {
    color: #5bef97 !important;
  }
}

.popular-section {
  background-color: #333333 !important;

  .subtitle {
    color: white !important;
  }

  .subtitle-home {
    color: #5bef97 !important;
  }
}

.gallery {
  .heading {
    .subtitle {
      color: #4b02fc !important;
    }

    .subtitle-home {
      color: #333333 !important;
    }
  }
}

.container .banner figure {
  position: relative; /* Debe ser 'relative' para que actúe como un contenedor */
  height: 520px; /* Ajusta la altura según tus necesidades */
  margin-top: 5em;
  margin-bottom: -2em;
}

.banner {
  position: relative;
}

.banner-content {
  position: absolute; /* Debe ser 'absolute' para superponerse */
  top: 50%; /* Puedes ajustar la posición vertical */
  left: 50%; /* Puedes ajustar la posición horizontal */
  transform: translate(-50%, -50%); /* Centra el contenido vertical y horizontalmente */
  z-index: 1; /* Asegúrate de que esté por encima de la imagen (puedes ajustar este valor) */
}

.home-page .banner .banner-content {
  left: 20%;
  top: 50%;
}
