<main class="main home-page skeleton-body">
  <!-- Seccion 1 Banner Principal -->
  <section class="intro-section">
    <div class="container">
      <div class="banner">
        <figure>
          <img src="assets/images/home/banners/01.jpg" width="1903" height="780" alt="Image Desc" />
        </figure>
        <div class="banner-content">
          <h2 class="banner-title text-white" contentAnim aniName="fadeInUpShorter">Descubre todo <br> lo que DARU</h2>
          <h3 class="banner-subtitle text-white" contentAnim aniName="fadeInUpShorter">tiene para ti</h3>
          <p>&nbsp;<br></p>
          <div class="banner-action" contentAnim aniName="fadeInUpShorter">
            <a routerLink="/register" class="btn btn-primary btn-round btn-cart-home">Reg&iacute;strate en DARU TEAM</a>
          </div>
          <!-- <div class="banner-action" contentAnim aniName="fadeInUpShorter">
          <a routerLink="/products" class="btn btn-success btn-round">Ver m&aacute;s</a>
        </div> -->
        </div>
      </div>
    </div>
  </section>
  <!-- End Seccion 1 -->

  <!-- Seccion 2 Categorías Populares -->
  <section class="popular-section">
    <div class="container">
      <div class="heading mb-0 text-center">
        <h2 class="subtitle mb-1" contentAnim aniName="blurIn">
          Categorías <span class="subtitle-home">Populares</span>
        </h2>
      </div>
      <div class="cat-blocks-container" contentAnim>
        <div class="row">
          <div class="col-6 col-sm-4 col-lg-2">
            <div class="content-center">
              <div class="heading mt-0" contentAnim aniName="fadeInRightShorter">
                <a routerLink="/categoria" [queryParams]="{ category: 'computadoras' }" class="cat-block">
                  <figure class="text-center">
                    <img src="assets/images/home/categorias/computo.jpg" width="131" height="76"
                      alt="Computadoras & Tablets" style="display: block; margin: 0 auto;" />
                  </figure>
                  <div class="action text-center">
                    <span>
                      <h6 class="icon-box-title">Computadoras & Tablets</h6>
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-lg-2">
            <div class="content-center">
              <div class="heading mt-0" contentAnim aniName="fadeInRightShorter">
                <a routerLink="/categoria/4cols" [queryParams]="{ category: 'monitores' }" class="cat-block">
                  <figure>
                    <span>
                      <img src="assets/images/home/categorias/televisores.jpg" width="131" height="76"
                        alt="Televisión & Video" style="display: block; margin: 0 auto;" />
                    </span>
                  </figure>
                  <div class="action text-center">
                    <span>
                      <h6 class="icon-box-title">Televisión & Video</h6>
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-lg-2">
            <div class="content-center">
              <div class="heading mt-0" contentAnim aniName="fadeInRightShorter">
                <a routerLink="/categoria/4cols" [queryParams]="{ category: 'telefonos' }" class="cat-block">
                  <figure>
                    <span>
                      <img src="assets/images/home/categorias/celulares.jpg" width="131" height="76"
                        alt="Tel&eacute;fonos" style="display: block; margin: 0 auto;" />
                    </span>
                  </figure>
                  <div class="action text-center">
                    <span>
                      <h6 class="icon-box-title">Tel&eacute;fonos</h6>
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-lg-2">
            <div class="content-center">
              <div class="heading mt-0" contentAnim aniName="fadeInRightShorter">
                <a routerLink="/categoria/4cols" [queryParams]="{ category: 'camara' }" class="cat-block">
                  <figure>
                    <span>
                      <img src="assets/images/home/categorias/fotografia.jpg" width="131" height="76"
                        alt="Cámara & Fotografía" style="display: block; margin: 0 auto;" />
                    </span>
                  </figure>
                  <div class="action text-center">
                    <span>
                      <h6 class="icon-box-title">Cámara & Fotografía</h6>
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-lg-2">
            <div class="content-center">
              <div class="heading mt-0" contentAnim aniName="fadeInRightShorter">
                <a routerLink="/categoria/4cols" [queryParams]="{ category: 'audio' }" class="cat-block">
                  <figure>
                    <span>
                      <img src="assets/images/home/categorias/audio.jpg" width="131" height="76"
                        alt="Audio & Equipos de Sonido" style="display: block; margin: 0 auto;" />
                    </span>
                  </figure>
                  <div class="action text-center">
                    <span>
                      <h6 class="icon-box-title">Audio & Equipos de Sonido</h6>
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-lg-2">
            <div class="content-center">
              <div class="heading mt-0" contentAnim aniName="fadeInRightShorter">
                <a routerLink="/categoria/4cols" [queryParams]="{ category: 'gaming' }" class="cat-block">
                  <figure>
                    <span>
                      <img src="assets/images/home/categorias/gaming.jpg" width="131" height="76"
                        alt="Consolas & Videojuegos" style="display: block; margin: 0 auto;" />
                    </span>
                  </figure>
                  <div class="action text-center">
                    <span>
                      <h6 class="icon-box-title">Consolas & Videojuegos</h6>
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Seccion 2 -->

  <!-- Seccion 3 Mecanica Compra -->
  <section class="overview mt-5">
    <div class="container">
      <figure class="bg-image">
        <img src="assets/images/home/bg-circle.png" alt="Background" width="799" height="760" />
      </figure>
    </div>
    <div class="container banner-container">
      <div class="banner row d-flex">
        <div class="col-lg-4 order-lg-last" contentAnim aniName="fadeInLeftShorter">
          <figure class="banner-img">
            <img src="assets/images/home/comunidad/comunidad-daru-2.png" alt="Product" width="901" height="532" />
          </figure>
        </div>
        <div class="col-lg-8" contentAnim aniName="fadeInRightShorter">
          <div class="banner-content">
            <h2 class="banner-title" contentAnim aniName="fadeInUpShorter">S&eacute; parte de DARU</h2>
            <h3 class="banner-info" contentAnim aniName="fadeInUpShorter">Int&eacute;grate a la comunidad DARU
              <br> para disfrutar de grandes beneficios
            </h3>
            <span class="banner-info">&nbsp;</span>
            <div class="banner-info mb-2">
              <ul class="info-list text-white">
                <li>
                  <span class="info-icon"><i class="icon-check"></i></span>
                  <span class="info-content">Descuentos por apertura</span>
                </li>
                <li>
                  <span class="info-icon"><i class="icon-check"></i></span>
                  <span class="info-content">Elige tu método de pago</span>
                </li>
                <li>
                  <span class="info-icon"><i class="icon-check"></i></span>
                  <span class="info-content">Ofertas todo el tiempo</span>
                </li>
              </ul>
            </div>
            <div class="action">
              <span class="price text-white">
                <strong>
                  <a href="mailto:contacto@daru.mx?subject=Contacto online&body=Sitio Web" class="btn btn-primary">
                    <strong><i class="icon-envelope"></i> contacto@daru.mx</strong>
                  </a>
                </strong>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Seccion 3  -->

  <!-- Seccion 4 Beneficios -->
  <section class="sound-section hub-home">
    <!-- <section class="sound-section" style="background-image: url(assets/images/home/banners/02.jpg)"> -->
    <div class="icon-boxes-container mb-2">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-3" contentAnim aniName="fadeInUpShorter">
            <div class="icon-box icon-box-side">
              <span class="icon-box-icon text-secondary">
                <i class="icon-truck"></i>
              </span>
              <div classs="icon-box-content">
                <a [routerLink]="['/terms']" fragment="envios">
                  <h3 class="icon-box-title">Envíos Gratis en compras mayores de $1,000.00</h3>
                </a>
                <p>*Aplican restricciones</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3" contentAnim aniName="fadeInUpShorter">
            <div class="icon-box icon-box-side">
              <span class="icon-box-icon text-secondary">
                <i class="icon-rotate-left"></i>
              </span>
              <div classs="icon-box-content">
                <a [routerLink]="['/terms']" fragment="devolucion">
                  <h3 class="icon-box-title">Devolución gratuita</h3>
                </a>
                <p>en 30 días</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3" contentAnim aniName="fadeInUpShorter">
            <div class="icon-box icon-box-side">
              <span class="icon-box-icon text-secondary">
                <i class="icon-info-circle"></i>
              </span>
              <div classs="icon-box-content">
                <h3 class="icon-box-title">Obtén un 20%</h3>
                <p>en 1 artículo en tu primera compra</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3" contentAnim aniName="fadeInUpShorter">
            <div class="icon-box icon-box-side">
              <span class="icon-box-icon text-secondary">
                <i class="icon-cc-visa"></i>
                <i class="icon-cc-mastercard"></i>
              </span>
              <div classs="icon-box-content">
                <a [routerLink]="['/terms']" fragment="pagos">
                  <h3 class="icon-box-title">Pago</h3>
                </a>
                <p>Aceptamos todas las tarjetas bancarias</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Seccion 4 Beneficios -->

  <!-- Seccion 5 Ofertas Relampagos -->
  <section class="gallery pt-2">
    <div class="heading mb-0 text-center">
      <h2 class="subtitle mb-1" contentAnim aniName="blurIn">
        Ofertas <span class="subtitle-home" contentAnim aniName="blurIn">Relámpago</span>
      </h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-xs-2">
          <div class="content-left">
            <div class="heading mt-3" contentAnim aniName="fadeInRightShorter">
              <figure class="mb-md-2 media-2">
                <a routerLink="product/default/24637">
                  <app-image src="assets/images/home/products/1.jpg" alt="Banner" width="472" height="530"
                    fixedPt="90.17%"></app-image>
                </a>
              </figure>
              <div class="action text-center">
                <span class="text-primary">
                  <h6><strong>Gaming</strong></h6>
                </span>
                <a routerLink="/ofertas/" [queryParams]="{ category: 'accesorios-gaming' }"
                  class="btn btn-primary btn-round">
                  Ver ofertas</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-xs-2">
          <div class="content-left">
            <div class="heading mt-3" contentAnim aniName="fadeInRightShorter">
              <figure class="mb-md-2 media-2">
                <a routerLink="product/default/28565">
                  <app-image src="assets/images/home/products/2.jpg" alt="Banner" width="472" height="530"
                    fixedPt="90.17%"></app-image>
                </a>
              </figure>
              <div class="action text-center">
                <span class="text-primary">
                  <h6><strong>Computo</strong></h6>
                </span>
                <a routerLink="/ofertas/" [queryParams]="{ category: 'computadoras' }"
                  class="btn btn-primary btn-round">
                  Ver ofertas</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-xs-2">
          <div class="content-right">
            <div class="heading mt-3" contentAnim aniName="fadeInRightShorter">
              <figure class="mb-md-2 media-2">
                <a routerLink="product/default/28220">
                  <app-image src="assets/images/home/products/3.jpg" alt="Banner" width="472" height="530"
                    fixedPt="90.17%"></app-image>
                </a>
              </figure>
              <div class="action text-center">
                <span class="text-primary">
                  <h6><strong>Telefonía</strong></h6>
                </span>
                <a routerLink="/ofertas/" [queryParams]="{ category: 'telefonos' }"
                  class="btn btn-primary btn-round">
                  Ver ofertas</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-xs-2">
          <div class="content-right">
            <div class="heading mt-3" contentAnim aniName="fadeInRightShorter">
              <figure class="mb-md-2 media-2">
                <a routerLink="product/default/27022">
                  <app-image src="assets/images/home/products/4.jpg" alt="Banner" width="472" height="530"
                    fixedPt="90.17%"></app-image>
                </a>
              </figure>
              <div class="action text-center">
                <span class="text-primary">
                  <h6><strong>Audio</strong></h6>
                </span>
                <a routerLink="/ofertas/" [queryParams]="{ category: 'auriculares-y-diademas' }"
                  class="btn btn-primary btn-round">
                  Ver ofertas</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Seccion 5 Ofertas Relampagos -->

  <!-- Seccion 6 Oferta espacial-->
  <section class="video-banner bg-parallax" bgParallax>
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <video autoplay muted loop style="width: 100%; height: auto;">
            <source src="assets/images/home/banners/DARU_04.mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
          </video>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </section>

  <!-- End Seccion 6 Oferta especial-->

  <!--  Seccion 7 Marcas destacadas -->
  <!-- <section
    class="gallery pt-15"
    style="background-image: url(assets/images/home/bg-2-back.jpg)"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="content-left">
            <div class="heading mt-3" contentAnim aniName="fadeInRightShorter">
              <h4 class="subtitle">Marcas</h4>
              <h2 class="title mb-2">destacadas</h2>
              <p class="content mb-6">texto</p>
            </div>
            <figure class="mb-md-12 media-2">
              <app-image
                src="assets/images/home/products/3.jpg"
                alt="Banner"
                width="590"
                height="532"
                fixedPt="112.3%"
                class="image-daru"
                style="padding-top: 112.3%"
              ></app-image>
            </figure>
          </div>
        </div>
        <div class="col-md-6 p-md-0">
          <div class="content-right">
            <figure class="mb-md-12 media-2">
              <app-image
                src="assets/images/home/products/3.jpg"
                alt="Banner"
                width="472"
                height="530"
                fixedPt="90.17%"
                class="lazyloaded image-daru"
                style="padding-top: 90.17%"
              ></app-image>
            </figure>
            <figure class="media-3 mb-6">
              <app-image
                src="assets/images/home/products/3.jpg"
                alt="Banner"
                width="471"
                height="300"
                fixedPt="63.7%"
                class="lazyloaded image-daru"
                style="padding-top: 63.7%"
              ></app-image>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- End Seccion 7 Marcas -->



  <!-- Seccion 5 -->
  <!-- <section class="video-banner bg-parallax mb-20" style="background-image: url(assets/images/home/banners/06.jpg)"
    bgParallax>
    <a href="https://www.youtube.com/watch?v=75-Mau54H4E&ab_channel=aTechES" (click)="showModal($event)"
      class="btn-iframe d-flex justify-content-center">
       <i class="icon-play-outline"></i>
    </a>
  </section> -->

  <!-- Seccion 9 -->
  <!-- <section class="choose-color mb-5" style="background-image: url(assets/images/home/banners/02.jpg)">
    <div class="container">
      <div class="heading mb-6 text-center">
        <h4 class="subtitle">Material &amp; Design</h4>
        <h2 class="title mb-2" contentAnim aniName="blurIn">Find Your Color</h2>
        <p class="content">
          Featuring Active Noise Cancelling that gives you the space to create with <br>
          fully immersive sound.
        </p>
      </div>
      <div class="color-content" *ngIf="loaded">
        <owl-carousel carouselClasses="owl-simple owl-nav-outside" [options]="brandSlider" #singleSlider>
          <app-image class="d-block position-relative" *ngFor="let item of products[0].pictures;"
            [src]="SERVER_URL + item.url" [width]="item.width" [height]="item.height">
          </app-image>
        </owl-carousel>
        <div class="custom-dots" #customDots>
          <button class="custom-dot active" (click)="changeImage( $event, 0 )">
            <span style="background-color: rgb(51, 51, 51);"></span>
          </button>
          <button class="custom-dot" (click)="changeImage( $event, 1 )">
            <span style="background-color: rgb(235, 235, 235);"></span>
          </button>
          <button class="custom-dot" (click)="changeImage( $event, 2 )">
            <span style="background-color: rgb(203, 80, 80);"></span>
          </button>
        </div>
      </div>
      <div class="desc text-center mt-2">
        <p>
          Lorem ipsum dolor sit amet, consectetue elit.
          Donec odio. Quisque volutpat mattis eros.
        </p>
      </div>
      <div class="action text-center mt-2">
        <span class="price text-primary">
          <sup>$</sup><strong>{{ loaded ? products[0].variants[index].price.toFixed(0) : '252' }}</strong><sup>.99</sup>
        </span>

        <a href="javascript:;" class="btn btn-cart btn-primary btn-round btn-cart-home" (click)="addCart($event)">Add to
          Cart</a>
      </div>
    </div>
  </section> -->

  <div class="cta bg-image bg-dark pt-4 pb-5 mb-0"
    style="background-image: url('assets/images/banners/banner-newsletter.jpg')">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-6">
          <div class="cta-heading text-center">
            <h3 class="cta-title text-primary">Ent&eacute;rate de nuestras ofertas</h3>
            <p class="cta-title text-primary">
              Primero que Todos
              <!-- and receive <span class="font-weight-normal">$20 coupon</span> for
              first shopping -->
            </p>
          </div>

          <form (ngSubmit)="onSubmit()" [formGroup]="formData">
            <div class="input-group input-group-round">
              <input type="email" name="email" class="form-control" formControlName="email"
                class="form-control form-control-white border-0" placeholder="Reg&iacute;strate con tu correo electr&oacute;nico - Subscribirme"
                aria-label="Correo Electrónico" autocomplete="off" required />
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit" [disabled]="!formData.valid">
                  <span>Subscribe</span><i class="icon-long-arrow-right"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
