.container.service {
  border-bottom: 0px;
}

.playtime-section {
  margin-top: 0rem;
}

.image-daru {
  position: relative;
  display: block;
  background-color: #f4f4f4;
  margin: 2rem;
}

.home-page .banner .banner-title {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -.025em;
  color: #5bef97 !important;
  text-align: left;
}

.home-page .banner .banner-subtitle {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -.025em;
  color: #4b02fc !important;
  margin-bottom: 0.5rem;
}

.home-page .banner .banner-info {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -.025em;
  color: white !important;
  margin-bottom: 0.5rem;
}

.icon-box-side p {
  color: black !important;
}

.cat-blocks-container {
  background-color: #333333 !important;
  // color: white !important;
}

.icon-box-title {
  color: white !important;
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: -.025em;
  margin-bottom: 0.9rem;
}

.intro-section {
  background-color: #333333 !important;

  .subtitle {
    color: white !important;
  }

  .subtitle-home {
    color: #5bef97 !important;
  }
}
