.container.service {
  border-bottom: 0px;
}

.playtime-section {
  margin-top: 0rem;
}

.image-daru {
  position: relative;
  display: block;
  background-color: #f4f4f4;
  margin: 2rem;
}

.home-page .banner .banner-title {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -.025em;
  color: #5bef97 !important;
  text-align: left;

  @media (max-width: 767px) {
    font-size: 2.5rem; // Cambia el tamaño de la fuente para dispositivos móviles
  }
}

.price .text-white .btn .btn-primary .btn-round .btn-cart-home {
  @media (max-width: 767px) {
    font-size: 2.5rem; // Cambia el tamaño de la fuente para dispositivos móviles
  }
}

.home-page .banner .banner-subtitle {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -.025em;
  color: white !important;
  margin-bottom: 0.5rem;
}

.home-page .banner .banner-info {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -.025em;
  color: white !important;
  margin-bottom: 0.5rem;
}

.cat-blocks-container {
  background-color: #333333 !important;
}

.icon-boxes-container {
  background-color: #333333 !important;
}

.icon-box-title {
  color: white !important;
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: -.025em;
  margin-bottom: 0.9rem;
}

.intro-section {
  background-color: white !important;

  .subtitle {
    color: white !important;
  }

  .subtitle-home {
    color: #5bef97 !important;
  }
}

.popular-section {
  background-color: #333333 !important;

  .subtitle {
    color: white !important;
  }

  .subtitle-home {
    color: #5bef97 !important;
  }
}

.gallery {
  .heading {
    .subtitle {
      color: #4b02fc !important;
    }

    .subtitle-home {
      color: #333333 !important;
    }
  }
}

.container .banner figure {
  position: relative; /* Debe ser 'relative' para que actúe como un contenedor */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 520px; /* Ajusta la altura según tus necesidades */
  margin-top: 5em;
  margin-bottom: -2em;
  overflow: hidden; /* Asegura que no haya desbordamiento */
}

.banner {
  position: relative;
  width: 100%;
}

.banner img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

.banner-content {
  position: absolute; /* Debe ser 'absolute' para superponerse */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el contenido vertical y horizontalmente */
  z-index: 1; /* Asegúrate de que esté por encima de la imagen */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.banner-content-2 {
  top: 30%; /* Ajusta la posición vertical */
}

.home-page .banner .banner-content {
  left: 35%;
  top: 50%;
}

.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action .btn {
  background-color: green; /* Color de fondo */
  border: 1px solid green; /* Borde */
  color: white; /* Color del texto */
  transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Transición suave */
}

.action .btn:hover {
  background-color: darkgreen; /* Color de fondo al pasar el ratón */
  border-color: darkgreen; /* Borde al pasar el ratón */
}

.action a.btn {
  background-color: green; /* Color de fondo para el enlace */
  border: 1px solid green; /* Borde para el enlace */
  color: white; /* Color del texto para el enlace */
  text-decoration: none; /* Quitar subrayado del enlace */
  padding: 10px 20px; /* Ajustar el espacio interno */
  transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Transición suave */
}

.action a.btn:hover {
  background-color: darkgreen; /* Color de fondo al pasar el ratón sobre el enlace */
  border-color: darkgreen; /* Borde al pasar el ratón sobre el enlace */
}
