<main class="main home-page skeleton-body">

  <!-- Seccion 8 -->
  <section class="choose-color mb-5">
    <div class="container">
      <div class="video-banner bg-parallax">
        <!-- <owl-carousel carouselClasses="owl-simple owl-nav-outside" [options]="productSlider" #singleSlider>
          <app-image class="d-block position-relative" *ngFor="let item of products[0].pictures;"
            [src]="SERVER_URL + item.url" [width]="item.width" [height]="item.height">
          </app-image>
        </owl-carousel> -->
        <!-- <owl-carousel carouselClasses="owl-simple owl-nav-outside" [options]="productSlider" #singleSlider>
          <app-image class="d-block position-relative" src="assets/images/home/banners/01.jpg" [width]="1900"
            [height]="900"></app-image>
          <app-image class="d-block position-relative" src="assets/images/home/banners/02.jpg" [width]="1900"
            [height]="900"></app-image>
          <app-image class="d-block position-relative" src="assets/images/home/banners/03.jpg" [width]="1900"
            [height]="900"></app-image>
          <app-image class="d-block position-relative" src="assets/images/home/banners/04.jpg" [width]="1900"
            [height]="900"></app-image>
        </owl-carousel> -->
        <owl-carousel carouselClasses="product-gallery-carousel owl-full owl-nav-dark" [options]="productSlider"
          id="owl-quickview" #singleSlider>
          <app-image class="d-block position-relative" src="assets/images/home/banners/01.jpg" [width]="1900"
            [height]="900"></app-image>
          <app-image class="d-block position-relative" src="assets/images/home/banners/02.jpg" [width]="1900"
            [height]="900"></app-image>
          <app-image class="d-block position-relative" src="assets/images/home/banners/03.jpg" [width]="1900"
            [height]="900"></app-image>
          <app-image class="d-block position-relative" src="assets/images/home/banners/04.jpg" [width]="1900"
            [height]="900"></app-image>
        </owl-carousel>
      </div>
    </div>
  </section>

  <!-- Seccion 1 -->
  <section class="intro-section">
    <div class="banner">
      <figure>
        <img src="assets/images/home/banners/02.jpg" width="1903" height="780" alt="Image Desc">
      </figure>
      <div class="banner-content">
        <!-- <h3 class="banner-subtitle text-white" contentAnim aniName="fadeInUpShorter">Hear it First</h3>
              <h2 class="banner-title text-white" contentAnim aniName="fadeInUpShorter">Control Your <br> Sound</h2>
              <p class="banner-text text-white" contentAnim aniName="fadeInUpShorter">
                  Featuring Active Noise Cancelling that <br>
                  gives you the space to create with fully <br>
                  immersive sound.
              </p>
              <div class="banner-action" contentAnim aniName="fadeInUpShorter">
                  <a href="javascript:;" class="btn btn-cart btn-primary btn-round btn-cart-home" (click)="addCart($event)">Add To Cart</a>
                  <a routerLink="/shop/sidebar/list" class="btn btn-outline-white btn-round">Discover Now</a>
              </div> -->
      </div>
    </div>
  </section>

  <!-- Seccion 2 -->
  <section class="sound-section" style="background-image: url(assets/images/home/banners/01.jpg)">
    <div class="container service" contentAnim aniName="fadeInUpShorter">
      <owl-carousel carouselClasses="owl-simple" [options]="brandSlider">
        <div class="icon-box icon-box-side text-white">
          <span class="icon-box-icon text-white">
            <i class="icon-truck"></i>
          </span>

          <div class="icon-box-content">
            <h3 class="icon-box-title text-white">Marca &amp; 1</h3>
            <p></p>
          </div>
        </div>
        <div class="icon-box icon-box-side">
          <span class="icon-box-icon">
            <img src="assets/images/home/icons/icon-reload.png" width="28" height="28" alt="Icon">
          </span>

          <div class="icon-box-content">
            <h3 class="icon-box-title text-white">Marca &amp; 2</h3>
            <p></p>
          </div>
        </div>
        <div class="icon-box icon-box-side">
          <span class="icon-box-icon">
            <img src="assets/images/home/icons/icon-tools.png" width="28" height="28" alt="Icon">
          </span>

          <div class="icon-box-content">
            <h3 class="icon-box-title text-white">Marca 3</h3>
            <p></p>
          </div>
        </div>
        <div class="icon-box icon-box-side">
          <span class="icon-box-icon">
            <img src="assets/images/home/icons/icon-envelope.png" width="28" height="28" alt="Icon">
          </span>

          <div class="icon-box-content">
            <h3 class="icon-box-title text-white">Marca 4</h3>
            <p></p>
          </div>
        </div>
      </owl-carousel>
    </div>

    <div class="container">
      <div class="banner row d-flex">
        <div class="col-lg-6 mt-6 mt-lg-0 d-flex d-lg-block justify-content-center">
          <!-- <figure class="banner-img">
                      <img src="assets/images/home/products/headphone-1.png" width="579" height="653" alt="Product">
                  </figure>
              </div>

              <div class="col-lg-6 mt-2 mt-lg-0" contentAnim aniName="fadeInLeftShorter"> -->
          <!-- <div class="banner-content">
            <h3 class="banner-subtitle text-white">Escucha tu musica, sin ruidos.</h3>
            <h2 class="banner-title text-white">Sonido Natural </h2>
            <p class="banner-text">
              Datos <br>
              Observciones. <br>
            </p>
            <div class="banner-info row">
              <div class="col-6">
                <div class="icon-box icon-box-side">
                  <span class="icon-box-icon">
                    <img src="assets/images/home/icons/icon-noise.png" width="30" height="30" alt="Icon">
                  </span>
                  <div class="icon-box-content">
                    <h3 class="icon-box-title text-white">Cancelacion</h3>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="icon-box icon-box-side">
                  <span class="icon-box-icon">
                    <img src="assets/images/home/icons/icon-battery.png" width="30" height="30" alt="Icon">
                  </span>
                  <div class="icon-box-content">
                    <h3 class="icon-box-title text-white">Playtime 20 + Hours</h3>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="icon-box icon-box-side">
                  <span class="icon-box-icon">
                    <i class="icon-bluetooth-b"></i>
                  </span>
                  <div class="icon-box-content">
                    <h3 class="icon-box-title text-white">Wireless</h3>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="icon-box icon-box-side">
                  <span class="icon-box-icon">
                    <img src="assets/images/home/icons/icon-mobile.png" width="30" height="30" alt="Icon">
                  </span>
                  <div class="icon-box-content">
                    <h3 class="icon-box-title text-white">Phone Functionality</h3>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <div class="col-lg-6 mt-2 mt-lg-0" contentAnim aniName="fadeInLeftShorter">
        </div>
      </div>
    </div>
  </section>

  <!-- Seccion 3 -->
  <section class="intro-section"> <!-- playtime-section mb-4"> -->
    <div class="banner">
      <figure>
        <img src="assets/images/home/banners/03.jpg" alt="Banner" width="1903" height="880">
      </figure>

      <div class="banner-content">
        <h3 class="banner-subtitle">Escucha todo el dia</h3>
        <h2 class="banner-title" contentAnim aniName="blurIn">20 + Horas de <br>Juego</h2>
        <p class="banner-text">
          Lo mejor en audio.
        </p>
        <div class="banner-info d-flex mt-4">
          <div class="info-box">
            <p>Info</p>
            <strong>Info</strong>
            <!-- <p>horas</p> -->
          </div>
          <div class="info-box">
            <!-- <p>Jugando</p> -->
            <strong>Info</strong>
            <p>Info</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Seccion 4 -->
  <!-- style="background-image: url(assets/images/home/bg-3.png)"
  <section class="gallery pt-15">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="content-left">
            <div class="heading mt-3" contentAnim aniName="fadeInRightShorter">
              <h4 class="subtitle">Promociones Del Mes</h4>
              <h2 class="title mb-2">Galeria <br>de Productos</h2>
              <p class="content mb-6">
                Info <br>
                Info <br>
                Info.
              </p>
            </div>
            <figure>
              <app-image src="assets/images/home/products/1.jpg" alt="Banner" width="590" height="532"
                fixedPt="112.3%"></app-image>
            </figure>
          </div>
        </div>
        <div class="col-md-6 p-md-0">
          <div class="content-right">
            <figure class="mb-md-12 media-2">
              <app-image src="assets/images/home/products/2.jpg" alt="Banner" width="472" height="530"
                fixedPt="90.17%"></app-image>
            </figure>
            <figure class="media-3">
              <app-image src="assets/images/home/products/3.jpg" alt="Banner" width="471" height="300"
                fixedPt="63.7%"></app-image>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- Seccion 5 -->
  <section class="video-banner bg-parallax" style="background-image: url(assets/images/home/banners/06.jpg)"
    bgParallax>
    <a href="https://www.youtube.com/watch?v=75-Mau54H4E&ab_channel=aTechES" (click)="showModal($event)"
      class="btn-iframe d-flex justify-content-center"><i class="icon-play-outline"></i></a>
  </section>

  <!-- Seccion 6 -->
  <section class="overview mt-15">
    <div class="container">
      <figure class="bg-image">
        <img src="assets/images/home/bg-circle.png" alt="Background" width="799" height="760">
      </figure>
    </div>
    <div class="container banner-container">
      <div class="banner row d-flex">
        <div class="col-lg-6 order-lg-last" contentAnim aniName="fadeInLeftShorter">
          <figure class="banner-img">
            <img src="assets/images/home/products/headphone-2.png" alt="Product" width="901" height="532">
          </figure>
        </div>

        <div class="col-lg-6" contentAnim aniName="fadeInRightShorter">
          <div class="banner-content">
            <h3 class="banner-subtitle text-white">Especificaciones</h3>
            <h2 class="banner-title text-white mb-5">Productos <br> Informacion</h2>

            <div class="banner-info mb-5">
              <ul class="info-list text-white">
                <li>
                  <span class="info-icon"><i class="icon-check"></i></span>
                  <span class="info-content">Info.</span>
                </li>
                <li>
                  <span class="info-icon"><i class="icon-check"></i></span>
                  <span class="info-content">Info</span>
                </li>
                <li>
                  <span class="info-icon"><i class="icon-check"></i></span>
                  <span class="info-content">Info</span>
                </li>
                <li>
                  <span class="info-icon"><i class="icon-check"></i></span>
                  <span class="info-content">Info</span>
                </li>
              </ul>
            </div>

            <div class="action">
              <span class="price text-white">
                <sup>$</sup><strong>259</strong><sup>.99</sup>
              </span>

              <a href="javascript:;" class="btn btn-cart btn-primary btn-round btn-cart-home"
                (click)="addCart($event)">Agregar al Carrito</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Seccion 7 -->
  <section class="reviews mt-15">
    <div class="container">
      <div class="heading mb-6 text-center">
        <h2 class="title" contentAnim aniName="blurIn">Promociones</h2>
        <h4 class="subtitle">Productos de Temporada</h4>
      </div>
      <owl-carousel carouselClasses="carousel-equal-height owl-simple" [options]="reviewSlider">
        <div class="testimonials-box">
          <blockquote class="testimonials text-center">
            <div class="avatar">
              <img src="assets/images/home/products/7.jpg" alt="User" width="100" height="100">
            </div>
            <div class="ratings-contianer">
              <div class="ratings">
                <div class="ratings-val" style="width: 100%;"></div>
              </div>
            </div>
            <h5 class="comment-title"></h5>
            <p>
              Descripcion
            </p>
            <cite>
              Producto
            </cite>
          </blockquote>
        </div>
        <div class="testimonials-box">
          <blockquote class="testimonials text-center">
            <div class="avatar">
              <img src="assets/images/home/products/8.jpg" alt="User" width="90" height="90">
            </div>
            <div class="ratings-contianer">
              <div class="ratings">
                <div class="ratings-val" style="width: 90%;"></div>
              </div>
            </div>
            <h5 class="comment-title"></h5>
            <p>
              Descripcion
            </p>
            <cite>
              Producto
            </cite>
          </blockquote>
        </div>
        <div class="testimonials-box">
          <blockquote class="testimonials text-center">
            <div class="avatar">
              <img src="assets/images/home/products/9.jpg" alt="User" width="100" height="100">
            </div>
            <div class="ratings-contianer">
              <div class="ratings">
                <div class="ratings-val" style="width: 100%;"></div>
              </div>
            </div>
            <h5 class="comment-title"></h5>
            <p>
              Descripcion
            </p>
            <cite>
              Producto
            </cite>
          </blockquote>
        </div>
      </owl-carousel>
    </div>
  </section>

</main>
