.collapse .megamenu {
  padding-bottom: 2.5rem;
  margin-bottom: 3rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  height: 250px;
  overflow-y: scroll;
}

.menu .megamenu.megamenu-sm {
  left: 0;
  right: auto;
  width: 310px;
  height: 250px;
  overflow-y: scroll;
}

.sticky-header.fixed.header-middle .menu>li>a{
  color:#fff;
}

.header-middle .menu>li:not(:hover):not(.active):not(.show)>a{
  color:#fff;
}



