<nav class="main-nav">
  <ul class="menu sf-arrows">
    <li class="megamenu-container" [class.active]="current=='/'">
      <a routerLink="/" class="sf-with-ul">Inicio</a>
    </li>
    <li class="megamenu-container" [class.active]="current.includes('/offers')">
      <a routerLink="/shop/offers" class="sf-with-ul">Ofertas</a>
    </li>
    <li [class.active]="current.includes('/categorys')">
      <a routerLink="/shop/categorys" class="sf-with-ul">Categorias</a>
      <div *ngIf="categories.length>0" class="megamenu megamenu-sm">
        <div class="row no-gutters">
          <div class="col-md-12">
            <div class="menu-col">
              <div class="row">
                <div class="col-md-12">
                  <ul>
                    <li [class.active]="current.includes('shop/category')"
                      *ngFor="let item of categories; let id = index;">
                      <a [routerLink]="['/shop/category']" [queryParams]="{category: item.slug}">{{
                        item.description }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li [class.active]="current.includes('/brands')">
      <a routerLink="/shop/brands" class="sf-with-ul">Marcas</a>
      <div *ngIf="brands.length>0" class="megamenu megamenu-sm">
        <div class="row no-gutters">
          <div class="col-md-12">
            <div class="menu-col">
              <div class="row">
                <div class="col-md-12">
                  <ul>
                    <li [class.active]="current.includes('shop/brand')" *ngFor="let item of brands; let id = index;">
                      <a [routerLink]="['/shop/brand']" [queryParams]="{brand: item.slug}">{{
                        item.description }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li [class.active]="current.includes('/shop/dashboard')">
      <a routerLink="/shop/dashboard" class="sf-with-ul">Tu cuenta</a>
      <ul>
        <li [class.active]="current.includes('shop/dashboard')">
          <a routerLink="/shop/dashboard">Mi cuenta</a>
        </li>
        <li [class.active]="current.includes('shop/cart')">
          <a routerLink="/shop/cart">Carrito</a>
        </li>
        <li [class.active]="current.includes('shop/checkout')">
          <a routerLink="/shop/checkout">Verificar</a>
        </li>
        <li [class.active]="current.includes('shop/wishlist')">
          <a routerLink="/shop/wishlist">Lista de Deseos</a>
        </li>
      </ul>
    </li>
    <li [class.active]="current.includes('/pages')">
      <a href="javascript:;" class="sf-with-ul">La Empresa</a>
      <ul>
        <li [class.active]="current.includes('pages/about')">
          <a routerLink="/pages/about">Acerca de</a>
        </li>
        <li [class.active]="current.includes('pages/services')">
          <a routerLink="/pages/services">Servicios</a>
        </li>
        <li [class.active]="current.includes('pages/howtobuy')">
          <a routerLink="/pages/howtobuy">Cómo comprar</a>
        </li>
        <li [class.active]="current.includes('pages/contact')">
          <a routerLink="/pages/contact">Contacto</a>
        </li>
        <li [class.active]="current.includes('pages/faq')">
          <a routerLink="/pages/faq">Preguntas y Respuestas</a>
        </li>
        <li [class.active]="current.includes('pages/terms')">
          <a routerLink="/pages/terms">T&eacute;rmninos y Condiciones</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
