<nav class="main-nav">
  <ul class="menu sf-arrows">
    <li class="megamenu-container" [class.active]="current=='/'">
      <a routerLink="/">Inicio</a>
    </li>
    <li class="megamenu-container" [class.active]="current.includes('/ofertas')">
      <a routerLink="ofertas">Ofertas</a>
    </li>
    <li [class.active]="current.includes('categorias')">
      <a href="javascript:;" class="sf-with-ul ">Categorias</a>
      <ul class="megamenu">
        <li [class.active]="current.includes('categorias')">
          <a [routerLink]="['categoria']" class="sf-with-ul" [queryParams]="{category: 'computadoras'}">Computadoras</a>
          <ul class="megamenu submenu">
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'computadoras', subCategory: 'laptops'}">Laptops</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'computadoras', subCategory: 'desktops'}">Desktops</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'computadoras', subCategory: 'work-stations'}">Work
                Stations</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'computadoras', subCategory: 'tablets'}">Tablets</a>
            </li>
          </ul>
        </li>
        <li [class.active]="current.includes('categorias')">
          <a [routerLink]="['categoria']" class="sf-with-ul" [queryParams]="{category: 'software'}">Software</a>
          <ul class="megamenu submenu">
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'software', subCategory: 'antivirus'}">Antivirus</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'software', subCategory: 'ofimatica'}">Ofimatica</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'software', subCategory: 'sistema-operativo'}">Sistema
                Operativo</a>
            </li>
          </ul>
        </li>
        <li [class.active]="current.includes('categorias')">
          <a [routerLink]="['categoria']" class="sf-with-ul" [queryParams]="{category: 'impresion'}">Impresión</a>
          <ul class="megamenu submenu">
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'impresion', subCategory: 'impresoras'}">Impresoras</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'impresion', subCategory: 'escaners'}">Escaners</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'impresion', subCategory: 'consumibles'}">Consumibles</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'impresion', subCategory: 'refacciones'}">Refacciones</a>
            </li>
          </ul>
        </li>
        <li [class.active]="current.includes('categorias')">
          <a [routerLink]="['categoria']" class="sf-with-ul" [queryParams]="{category: 'energia'}">Energia</a>
          <ul class="megamenu submenu">
            <li>
              <a [routerLink]="['categoria']" [queryParams]="{category: 'energia', subCategory: 'no-break-y-ups'}">No
                Break y UPS</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'energia', subCategory: 'reguladores'}">Reguladores</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'energia', subCategory: 'multicontacto'}">Multicontacto</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'energia', subCategory: 'baterias-para-ups'}">Baterias para
                UPS</a>
            </li>
          </ul>
        </li>
        <li [class.active]="current.includes('categorias')">
          <a [routerLink]="['categoria']" class="sf-with-ul" [queryParams]="{category: 'monitores-y-video'}">Monitores
            y
            Video</a>
          <ul class="megamenu submenu">
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'monitores-y-video', subCategory: 'pantallas-de-tv'}">Pantallas de
                TV</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'monitores-y-video', subCategory: 'monitores'}">Monitores</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'monitores-y-video', subCategory: 'proyectores'}">Proyectores</a>
            </li>
          </ul>
        </li>
        <li [class.active]="current.includes('categorias')">
          <a [routerLink]="['categoria']" class="sf-with-ul" [queryParams]="{category: 'redes'}">Redes</a>
          <ul class="megamenu submenu">
            <li>
              <a [routerLink]="['categoria']" [queryParams]="{category: 'redes', subCategory: 'access-point'}">Access
                Point</a>
            </li>
            <li>
              <a [routerLink]="['categoria']" [queryParams]="{category: 'redes', subCategory: 'switches'}">Switches</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'redes', subCategory: 'adaptadores-de-red'}">Adaptadores de
                Red</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'redes', subCategory: 'tarjetas-de-red'}">Tarjetas de
                Red</a>
            </li>
          </ul>
        </li>
        <li [class.active]="current.includes('categorias')">
          <a [routerLink]="['categoria']" class="sf-with-ul" [queryParams]="{category: 'componentes'}">Componentes</a>
          <ul class="megamenu submenu">
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'componentes', subCategory: 'memorias-ram'}">Memorias RAM</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'componentes', subCategory: 'discos-duros'}">Discos Duros</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'componentes', subCategory: 'procesadores'}">Procesadores</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'componentes', subCategory: 'fuentes-de-poder'}">Fuentes de
                Poder</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'componentes', subCategory: 'placas-madres'}">Placas
                Madres</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'componentes', subCategory: 'gabinetes'}">Gabinetes</a>
            </li>
          </ul>
        </li>
        <li [class.active]="current.includes('categorias')">
          <a [routerLink]="['categoria']" class="sf-with-ul"
            [queryParams]="{category: 'almacenamiento'}">Almacenamiento</a>
          <ul class="megamenu submenu">
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'almacenamiento', subCategory: 'discos-duros-mecanicos'}">Discos
                Duros Mecanicos</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'almacenamiento', subCategory: 'discos-duros-solidos'}">Discos
                Duros Sólidos</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'almacenamiento', subCategory: 'memorias-usb'}">Memorias USB</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'almacenamiento', subCategory: 'discos-duros-externos'}">Discos
                Duros Externos</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'almacenamiento', subCategory: 'lectores-de-memorias'}">Lectores
                de Memorias</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'almacenamiento', subCategory: 'gabinete-para-disco-duro'}">Gabinete
                para Disco Duro</a>
            </li>
          </ul>
        </li>
        <li [class.active]="current.includes('categorias')">
          <a [routerLink]="['categoria']" class="sf-with-ul" [queryParams]="{category: 'accesorios'}">Accesorios</a>
          <ul class="megamenu submenu">
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'accesorios', subCategory: 'teclados'}">Teclados</a>
            </li>
            <li>
              <a [routerLink]="['categoria']" [queryParams]="{category: 'accesorios', subCategory: 'mouses'}">Mouses</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'accesorios', subCategory: 'audifonos'}">Audífonos</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'accesorios', subCategory: 'bocinas'}">Bocinas</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'accesorios', subCategory: 'mochilas'}">Mochilas</a>
            </li>
            <li>
              <a [routerLink]="['categoria']" [queryParams]="{category: 'accesorios', subCategory: 'hubs'}">Hubs</a>
            </li>
            <li>
              <a [routerLink]="['categoria']"
                [queryParams]="{category: 'accesorios', subCategory: 'Mousepads'}">Mousepads</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li [class.active]="current.includes('/marcas')">
      <a routerLink="marcas" class="sf-with-ul">Marcas</a>
      <div *ngIf="brands.length>0" class="megamenu redondeoMenu megamenu-sm">
        <ul>
          <li>
            <div class="header-search-wrapper">
              <label for="searchQuery" class="sr-only">Buscar</label>
              <input type="text" class="form-control" name="searchQuery" id="searchQuery" autocomplete="off"
                placeholder="Buscar Marca ..." required (input)="searchBrands($event)" />
            </div>
          </li>
          <li *ngFor="let item of brandsTmp; let id = index;">
            <a [routerLink]="['marca']" [queryParams]="{brand: item.slug}">{{
              item.description }}</a>
          </li>
        </ul>
      </div>
    </li>
    <li [class.active]="current.includes('/dashboard')">
      <a routerLink="/dashboard" class="sf-with-ul">Tu cuenta</a>
      <ul class="megamenu redondeoMenu">
        <li [class.active]="current.includes('dashboard')">
          <a routerLink="/dashboard">Mi cuenta</a>
        </li>
        <li [class.active]="current.includes('cart')">
          <a routerLink="/cart">Carrito</a>
        </li>
        <li [class.active]="current.includes('checkout')">
          <a routerLink="/checkout">Verificar</a>
        </li>
        <li [class.active]="current.includes('wishlist')">
          <a routerLink="/wishlist">Lista de Deseos</a>
        </li>
      </ul>
    </li>
    <li [class.active]="current.includes('/company')">
      <a href="javascript:;" class="sf-with-ul">Sobre DARU</a>
      <ul class="megamenu redondeoMenu">
        <li [class.active]="current.includes('conocenos')">
          <a routerLink="/conocenos">Con&oacute;cenos</a>
        </li>
        <!-- <li [class.active]="current.includes('services')">
          <a routerLink="/services">Servicios</a>
        </li> -->
        <li [class.active]="current.includes('contacto')">
          <a routerLink="/contacto">Contacto</a>
        </li>
        <li [class.active]="current.includes('terminos')">
          <a routerLink="/terminos">T&eacute;rmninos y Condiciones</a>
        </li>
        <li [class.active]="current.includes('comocomprar')">
          <a routerLink="/comocomprar">Cómo comprar</a>
        </li>
        <li [class.active]="current.includes('faq')">
          <a routerLink="/faq">Preguntas y Respuestas</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
