<nav class="main-nav">
  <ul class="menu sf-arrows">
    <li class="megamenu-container" [class.active]="current=='/'">
      <a routerLink="/">Inicio</a>
    </li>
    <li class="megamenu-container" [class.active]="current.includes('/offers')">
      <a routerLink="/shop/offers" class="sf-with-ul">Ofertas</a>
    </li>
    <li [class.active]="current.includes('/categorys')">
      <a routerLink="/shop/categorys" class="sf-with-ul">Categorias</a>
      <div *ngIf="categories" class="megamenu megamenu-sm">
        <div class="row no-gutters">
          <div class="col-md-12">
            <div class="menu-col">
              <div class="row">
                <div class="col-md-12">
                  <ul>
                    <li>
                      <div class="header-search-wrapper">
                        <label for="q" class="sr-only">Buscar</label>
                        <input type="text" class="form-control" name="searchQueryCat" id="searchQueryCat"
                          autocomplete="off" placeholder="Buscar categoria ..." required
                          (input)="searchCategories($event)" />
                      </div>
                    </li>
                    <li [class.active]="current.includes('shop/category')"
                      *ngFor="let item of categoriesTmp; let id = index;">
                      <a [routerLink]="['/shop/category']" [queryParams]="{category: item.slug}">{{
                        item.description }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li [class.active]="current.includes('/brands')">
      <a routerLink="/shop/brands" class="sf-with-ul">Marcas</a>
      <div *ngIf="brands.length>0" class="megamenu megamenu-sm">
        <div class="row no-gutters">
          <div class="col-md-12">
            <div class="menu-col">
              <div class="row">
                <div class="col-md-12">
                  <ul>
                    <li>
                      <div class="header-search-wrapper">
                        <label for="q" class="sr-only">Buscar</label>
                        <input type="text" class="form-control" name="searchQuery" id="searchQuery" autocomplete="off"
                          placeholder="Buscar marca ..." required (input)="searchBrands($event)" />
                      </div>
                    </li>
                    <li [class.active]="current.includes('shop/brand')" *ngFor="let item of brandsTmp; let id = index;">
                      <a [routerLink]="['/shop/brand']" [queryParams]="{brand: item.slug}">{{
                        item.description }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li [class.active]="current.includes('/shop/dashboard')">
      <a routerLink="/shop/dashboard" class="sf-with-ul">Tu cuenta</a>
      <ul>
        <li [class.active]="current.includes('shop/dashboard')">
          <a routerLink="/shop/dashboard">Mi cuenta</a>
        </li>
        <li [class.active]="current.includes('shop/cart')">
          <a routerLink="/shop/cart">Carrito</a>
        </li>
        <li [class.active]="current.includes('shop/checkout')">
          <a routerLink="/shop/checkout">Verificar</a>
        </li>
        <li [class.active]="current.includes('shop/wishlist')">
          <a routerLink="/shop/wishlist">Lista de Deseos</a>
        </li>
      </ul>
    </li>
    <li [class.active]="current.includes('/company')">
      <a href="javascript:;" class="sf-with-ul">La Empresa</a>
      <ul>
        <li [class.active]="current.includes('about')">
          <a routerLink="/about">Acerca de</a>
        </li>
        <!-- <li [class.active]="current.includes('services')">
          <a routerLink="/services">Servicios</a>
        </li> -->
        <li [class.active]="current.includes('contact')">
          <a routerLink="/contact">Contacto</a>
        </li>
        <li [class.active]="current.includes('terms')">
          <a routerLink="/terms">T&eacute;rmninos y Condiciones</a>
        </li>
        <li [class.active]="current.includes('howtobuy')">
          <a routerLink="/howtobuy">Cómo comprar</a>
        </li>
        <li [class.active]="current.includes('faq')">
          <a routerLink="/faq">Preguntas y Respuestas</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
