<div class="soon">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="soon-content text-center">
          <div class="soon-content-wrapper">
            <app-count-down until="2024-01-29" format="DHMS" wrap="coming-countdown countdown-separator">
            </app-count-down>
            <form (ngSubmit)="onSubmit()" [formGroup]="formData">
              <div class="input-group mb-5">
                <input type="email" name="email" formControlName="email" class="form-control bg-transparent"
                  placeholder="Correo Electr&oacute;nico" autocomplete="off" required>
                <div class="input-group-append">
                  <button class="btn btn-success btn-round" type="submit" [disabled]="!formData.valid">
                    <span>Subscribete!!!</span>
                    <i class="icon-long-arrow-right"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
