<div class="main shop-market">
  <app-page-header title="Productos" subtitle="" image="assets/images/banners/banner-offers.jpg"></app-page-header>

  <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a [attr.href]="previousPageUrl" [innerHTML]="previousPageTitle"></a>
        </li>
        <li class="breadcrumb-item active">{{ pageTitle }}</li>
        <li class="breadcrumb-item" *ngIf="searchTerm != ''">
          <span>Search - {{ searchTerm }}</span>
        </li>
      </ol>
    </div>
  </nav>

  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-xl-4-5col">
          <div class="mb-2"></div>

          <div class="toolbox">
            <div class="toolbox-left">
              <div class="toolbox-info">
                Mostrando
                <span>{{ perPage }} de {{ totalCount }}</span> Productos
              </div>
            </div>

            <div class="toolbox-right">
              <div class="toolbox-sort">
                <label for="sortby">Ordenar por:</label>
                <div class="select-custom">
                  <select name="sortby" id="sortby" class="form-control" (change)="changeOrderBy($event)"
                    [value]="orderBy">
                    <option value="nameAsc">Nombre Ascendente</option>
                    <option value="nameDesc">Nombre Descendente</option>
                    <option value="priceAsc">Precio Ascendente</option>
                    <option value="priceDesc">Precio Descendente</option>
                    <!-- <option value="featured">Más Popular</option>
                    <option value="rating">Más Valorado</option>
                    <option value="new">Fecha</option> -->
                  </select>
                </div>
              </div>
              <div class="toolbox-layout">
                <a routerLink="/ofertas/list" queryParamsHandling="merge" class="btn-layout" routerLinkActive="active">
                  <svg width="16" height="10">
                    <rect x="0" y="0" width="4" height="4" />
                    <rect x="6" y="0" width="10" height="4" />
                    <rect x="0" y="6" width="4" height="4" />
                    <rect x="6" y="6" width="10" height="4" />
                  </svg>
                </a>

                <a routerLink="/ofertas/2cols" queryParamsHandling="merge" class="btn-layout" routerLinkActive="active">
                  <svg width="10" height="10">
                    <rect x="0" y="0" width="4" height="4" />
                    <rect x="6" y="0" width="4" height="4" />
                    <rect x="0" y="6" width="4" height="4" />
                    <rect x="6" y="6" width="4" height="4" />
                  </svg>
                </a>

                <a routerLink="/ofertas/3cols" queryParamsHandling="merge" class="btn-layout" routerLinkActive="active">
                  <svg width="16" height="10">
                    <rect x="0" y="0" width="4" height="4" />
                    <rect x="6" y="0" width="4" height="4" />
                    <rect x="12" y="0" width="4" height="4" />
                    <rect x="0" y="6" width="4" height="4" />
                    <rect x="6" y="6" width="4" height="4" />
                    <rect x="12" y="6" width="4" height="4" />
                  </svg>
                </a>

                <a routerLink="/ofertas/4cols" queryParamsHandling="merge" class="btn-layout" routerLinkActive="active">
                  <svg width="22" height="10">
                    <rect x="0" y="0" width="4" height="4" />
                    <rect x="6" y="0" width="4" height="4" />
                    <rect x="12" y="0" width="4" height="4" />
                    <rect x="18" y="0" width="4" height="4" />
                    <rect x="0" y="6" width="4" height="4" />
                    <rect x="6" y="6" width="4" height="4" />
                    <rect x="12" y="6" width="4" height="4" />
                    <rect x="18" y="6" width="4" height="4" />
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <app-shop-list-one [type]="type" [products]="products" [loaded]="loaded"></app-shop-list-one>

          <app-pagination [perPage]="perPage" [total]="totalCount" *ngIf="totalCount > perPage">
          </app-pagination>
        </div>

        <aside class="col-lg-3 col-xl-5col skel-shop-sidebar order-lg-first skeleton-body" [class.loaded]="firstLoad">
          <div *ngIf="!firstLoad else sidebarLoaded">
            <div class="skel-widget"></div>
            <div class="skel-widget"></div>
            <div class="skel-widget"></div>
            <div class="skel-widget"></div>
          </div>
          <ng-template #sidebarLoaded>
            <app-shop-sidebar [toggle]="toggle" [offer]="offer" [products]="products">
            </app-shop-sidebar>

            <button class="sidebar-fixed-toggler" (click)="toggleSidebar()" *ngIf="toggle">
              <i class="icon-cog"></i>
            </button>

            <div class="sidebar-filter-overlay" (click)="hideSidebar()"></div>
          </ng-template>
        </aside>
      </div>
    </div>
  </div>
</div>
