agm-map {
  height: 492px;
}

@media screen and(min-width: 576px) {
  .text-center:not(.page-header) {
    text-align: center !important;
  }
}

.page-header {
  background-color: transparent;
}

.contact-list li {
  position: relative;
  padding-left: 3rem;
  margin-bottom: 1.4rem;
  font-size: 1.5rem;
}
